Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Remove duplicate struct definition
  packages/arb-util/configuration/configuration.go
Due: go-vet

merge seems to work
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-util/ethbridgecontracts/Bridge.go
  packages/arb-util/ethbridgecontracts/Challenge.go
  packages/arb-util/ethbridgecontracts/Inbox.go
  packages/arb-util/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/RollupUserFacet.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgecontracts/Validator.go
  packages/arb-util/ethbridgecontracts/ValidatorUtils.go
  packages/arb-util/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-util/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-util/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-util/ethbridgetestcontracts/IOneStepProof.go
  packages/arb-util/ethbridgetestcontracts/MachineTester.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-util/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-util/ethbridgetestcontracts/RollupEventBridge.go
Due: go-vet

tests now work
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

arbos: update arbosTest with ethcall override support
  packages/MACHINEHASH
  packages/arb-evm/arbos/arbostest.go
  packages/arb-evm/arboscontracts/ArbSys.go
  packages/arb-evm/arboscontracts/ArbosTest.go
  packages/arb-evm/arboscontracts/gen.go
Due: go-vet

eth_call: add initial support
  packages/arb-evm/arbos/arbos.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/interface.go
Due: go-vet

expose estimateGasDepositEth
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

Improve reorg flexibility on startup
  packages/arb-avm-cpp/app/arbcorerunner.cpp
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/monitor/monitor.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Refactor reorgCheckpoints
  packages/arb-avm-cpp/avm/include/avm/machinethread.hpp
  packages/arb-avm-cpp/avm/include/avm/valueloader.hpp
  packages/arb-avm-cpp/avm/src/machinethread.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Cleanup comments
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Upgrade rocksdb
  .circleci/images/backend-base/Dockerfile
  .circleci/images/cpp-base/Dockerfile
  .circleci/images/integration-base/Dockerfile
Due: none

Update files to use latest docker base images
  .circleci/config.yml
  packages/arb-node.Dockerfile
Due: none

typos and small fixes
  packages/arb-evm/arbos/arbos.go
  packages/arb-evm/arbos/arbostest.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

test func call results in snapshot
  packages/arb-rpc-node/snapshot/snapshot.go
Due: go-vet

install libraries to `/usr/lib` instead of `/usr/local/lib`
  .circleci/config.yml
  .circleci/images/backend-base/Dockerfile
  .circleci/images/cpp-base/Dockerfile
  .circleci/images/integration-base/Dockerfile
  packages/arb-node.Dockerfile
Due: none

Remove arb-ts internal gas estimation utility method
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

add withdraw estimate gas methods
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

Canonicalize code segment immediates before saving
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: none

Remove useless CoreCode lookup
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
Due: none

Address code review comment
  packages/arb-avm-cpp/data_storage/include/data_storage/combinedmachinecache.hpp
Due: none

Ignore RocksDB for thread sanitizer
  .circleci/config.yml
Due: none

Add upgrade tests to CI
  .circleci/config.yml
Due: none

increase upgrade test timeout
  .circleci/config.yml
Due: none

Just ignore rocksdb slice compare tsan warning
  .circleci/config.yml
Due: none

Add missing p
  .circleci/config.yml
Due: none

arb-ts beta version bump
  packages/arb-ts/package.json
Due: none

merge arbos solidity fix
  packages/MACHINEHASH
  packages/arb-evm/arboscontracts/ArbosTest.go
Due: go-vet

Ethcall test update
  packages/arb-rpc-node/arbostestcontracts/ethCallTester.go
  packages/arb-rpc-node/arbostestcontracts/ethCallTester.sol
  packages/arb-rpc-node/dev/ethcall_test.go
Due: prettier-soldity, go-vet

ethcall_override fixes
  packages/arb-evm/arbos/arbostest.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Add minting affordances to L1 custom gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
Due: prettier-soldity

Address code review comments
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
Due: none

Fix defaults for unit tests
  packages/arb-avm-cpp/cmachine/cmachine_test.go
  packages/arb-avm-cpp/cmachine/executioncursor_test.go
  packages/arb-avm-cpp/cmachine/nodestorage_test.go
  packages/arb-avm-cpp/cmachine/storage_test.go
  packages/arb-avm-cpp/speedtest/speed_test.go
  packages/arb-node-core/monitor/test_helper.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

fix error catching in getERC20L1Address; bump beta version
  packages/arb-ts/package.json
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

let feetests now include estimation expectation
  packages/arb-rpc-node/arbostest/fee_test.go
Due: go-vet

debug message for test
  packages/arb-rpc-node/arbostest/fee_test.go
Due: go-vet

arbos pin for replay fixes
  packages/MACHINEHASH
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

