Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Refactor rollup dispatch to use OZ proxy library
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Add glob to filter tests used in rollup coverage
  packages/arb-bridge-eth/package.json
Due: none

Update hardhat version in peripherals
  packages/arb-bridge-peripherals/package.json
  yarn.lock
Due: none

add comments on rejectNextNode
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Use latest block nonce (instead of pending nonce) for validator
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/auth.go
Due: go-vet

add more comments to RollupUser
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

add sequencer code comments; use semantic wrapper method for proveInboxContainsMessage
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

fix typo
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

keep old proveBatchContainsSequenceNumber external, wrap around common method
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

additinal slither pass: notes on reentrancy safety, shadow declaration, etc
  packages/arb-bridge-eth/contracts/bridge/Bridge.sol
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Refactor rollup dispatch and improve test coverage
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/deploy/Rollup.ts
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: prettier-soldity

Refactor create node function from rollup base to core
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Add proxyadmin import to have hardhat artifcat available in tests
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestWETH9.sol
Due: prettier-soldity

Remove unused functions and add missing modifier
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: prettier-soldity

add comment on create challenge
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Improve test branch coverage for nodes and challenges
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: prettier-soldity

comments: update / fix some typos
  packages/arb-bridge-eth/contracts/bridge/Bridge.sol
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

Add a shared value cache for execution cursors
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbstorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/valuecache.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/valuecache.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: none

Fix cache size
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

fix firstUnresolvedNode shadow declaration
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Improve code coverage on rollup core
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: prettier-soldity

nohoise openzeppelin contracts from root
  package.json
  packages/arb-bridge-eth/package.json
Due: none

add arb-bridge-eth slither to CI config
  .circleci/config.yml
Due: none

Support replace by fee for validator
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/chain.go
  packages/arb-node-core/ethbridge/challenge.go
  packages/arb-node-core/ethbridge/challengeWatcher.go
  packages/arb-node-core/ethbridge/node.go
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/ethbridge/validatorUtils.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

refactor outbox/outbox entries to use single contract
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/bridge/OutboxEntry.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IOutbox.sol
Due: prettier-soldity

add slither triage json
  packages/arb-bridge-peripherals/.prettierignore
  packages/arb-bridge-peripherals/slither.db.json
Due: none

include upgrades core / update slither script
  packages/arb-bridge-peripherals/package.json
Due: none

foist instead of hoist
  package.json
  packages/arb-bridge-peripherals/package.json
Due: none

revert cloneableproxyhash var name change
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/ClonableBeaconProxy.sol
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
Due: prettier-soldity

revert state var removal
  packages/arb-bridge-eth/contracts/arch/OneStepProofCommon.sol
Due: prettier-soldity

fix dotenv (not dot-env) dependency, bump arb-ts
  packages/arb-ts/package.json
  yarn.lock
Due: none

remove numremaining counter, add outboxEntryExists getter
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Don't require cache is empty for ValueCache::initializeFrom
  packages/arb-avm-cpp/data_storage/include/data_storage/value/valuecache.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/valuecache.cpp
Due: none

Refactor new node validation logic into rollup core shared method
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: prettier-soldity

Refactor node confirmation into rollup core shared method
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Use ethers utility method and fix test name
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: none

more comments
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

