Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Fix race condition when shutting down poller
  packages/arb-util/broadcaster/broadcaster.go
Due: go-vet

Switch from io.ReadAll to ioutil.ReadAll
  packages/arb-node-core/ethbridge/auth.go
Due: go-vet

Refactor rollup contracts to delegate calls to facets with implementation
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/contracts/validator/Validator.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
Due: prettier-soldity

Add rollup facets to rollup deployer contract
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
Due: prettier-soldity

Fix deployment order of rollup facets
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
Due: prettier-soldity

Fix CodeSegment::getSubset cached_hashes
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
Due: none

Fix fallback function sig validation
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Fix reorging log cursor after log delivery before confirmation
  packages/arb-avm-cpp/data_storage/include/data_storage/datacursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Remove outdated checks in logsCursorConfirmReceived
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

add irollup import to RollupEventBridge
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
Due: prettier-soldity

Fix hashing random buffer test
  packages/arb-avm-cpp/tests/buffer.cpp
Due: none

Cleanup broadcastclient reconnect
  packages/arb-util/broadcastclient/broadcastclient.go
Due: go-vet

remove old build directories before update-abi
  packages/arb-ts/scripts/update-abi
Due: none

Add retry to batcher
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/launch.go
Due: go-vet

Fix broadcast client
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
Due: go-vet

Update arb-node.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Retry in relay on initial connect
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Add initialize delegatecall and refactor interfaces
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/contracts/validator/Validator.sol
Due: prettier-soldity

Refactor rollup interfaces
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
Due: prettier-soldity

Remove unused import
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
Due: prettier-soldity

Add import
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
Due: prettier-soldity

Fix typescript unit test
  packages/arb-bridge-eth/test/arbRollup.ts
Due: none

Add validator whitelist to rollup
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/test/arbRollup.ts
Due: prettier-soldity

Add function to update rollup owner and remove old files
  packages/arb-bridge-eth/contracts/bridge/InboxHelper.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/test_only/InboxHelperTester.sol
Due: prettier-soldity

Remove redudant rollup owner check and improve solidity docstrings
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Add setters for rollup parameters and fix deployment script
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/deploy/Rollup.ts
  packages/arb-bridge-eth/deploy/RollupCreator.ts
Due: prettier-soldity

Fix sequencer reorg again and remove count from GetSequencerBatchItems
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/core/outputLookup.go
Due: go-vet

Refactor sequencer inbox to query rollup for delay parameters
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
Due: prettier-soldity

Refactor challenge contract to query rollup for execution bisection degree
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Fix challenge unit tests
  packages/arb-bridge-eth/contracts/test_only/ChallengeTester.sol
  packages/arb-bridge-eth/contracts/test_only/RollupMock.sol
  packages/arb-bridge-eth/test/challenge.ts
Due: prettier-soldity
