Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Cleanup execution cursor abort
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

fix: only forward callHookData.gas
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
Due: prettier-soldity

fix: typo
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
Due: prettier-soldity

test: add some l2 test case
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: none

refactor: finalize inbound call with fields for external call
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayMessageHandler.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/IEscrowAndCallGateway.sol
Due: prettier-soldity

Log L1 error after 10 warnings printed
  packages/arb-util/ethutils/client.go
Due: go-vet

Normalize a few log calls
  packages/arb-rpc-node/batcher/batcher.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

feat: add call capability on outbound transfer
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/IEscrowAndCallGateway.sol
Due: prettier-soldity

fix: stack too deep in outbound call
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
Due: prettier-soldity

Add mutex and retry logic to BlockInfoByNumber
  packages/arb-util/ethutils/client.go
Due: go-vet

A couple minor issues found by semgrep
  packages/arb-rpc-node/dev/dev.go
  packages/arb-util/transactauth/fireblocksauth.go
Due: go-vet

use our go-ethereum version
  .gitmodules
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
Due: none

Abort classic client if connected to nitro feed
  packages/arb-util/broadcastclient/broadcastclient.go
Due: go-vet

Dump Arbitrum Data
  packages/arb-rpc-node/dump/dump_logger.go
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Update documentation for v1.4.0
  docs/Running_Node.md
Due: none

dump state and blocks from go: initial
  packages/arb-avm-cpp/app/CMakeLists.txt
  packages/arb-avm-cpp/cavm/CMakeLists.txt
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cavm/dumpstate.cpp
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/cmd/arb-block/arb-block.go
  packages/arb-rpc-node/cmd/arb-block/crossdb.go
  packages/arb-rpc-node/cmd/arb-block/dumpstate.go
  packages/arb-util/core/lookup.go
Due: go-vet

Add dumpAddressTable function
  packages/arb-avm-cpp/cavm/dumpstate.cpp
Due: none

The `yarn build` step no longer needed
  docs/Installation.md
Due: none

Miscellaneous ArbOS dumping changes
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cavm/dumpstate.cpp
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/cmd/arb-block/arb-block.go
  packages/arb-rpc-node/cmd/arb-block/dumpstate.go
  packages/arb-util/core/lookup.go
Due: go-vet

Fix address table dumping
  packages/arb-avm-cpp/cavm/dumpstate.cpp
Due: none

Fix dumpAddressTable error string
  packages/arb-avm-cpp/cmachine/arbcore.go
Due: go-vet

arb-block: use legacy transactions where possible
  packages/arb-rpc-node/cmd/arb-block/arb-block.go
  packages/arb-rpc-node/cmd/arb-block/crossdb.go
Due: go-vet

Properly shutdown if broadcaster server error occurs
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/broadcasterload_test.go
  packages/arb-util/wsbroadcastserver/wsbroadcastserver.go
Due: go-vet

arb-block: override txhash if needed
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-rpc-node/cmd/arb-block/arb-block.go
  packages/arb-rpc-node/cmd/arb-block/crossdb.go
  packages/arb-rpc-node/cmd/arb-block/dumpstate.go
  packages/arb-util/core/lookup.go
Due: go-vet

Improve error handling in broadcaster server
  packages/arb-util/wsbroadcastserver/clientconnection.go
  packages/arb-util/wsbroadcastserver/wsbroadcastserver.go
Due: go-vet

Silence audit warnings
  package.json
Due: none

gasUsedForL1
  packages/arb-evm/evm/result.go
Due: go-vet

cross-db fixes
  packages/arb-rpc-node/cmd/arb-block/crossdb.go
Due: go-vet

fix: remove assembly usage
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

doc: disable whitelsit in L1GatewayRouter
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

doc: improve natspec on aliasing rule
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

