Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Include exceeded delay reorg in SequencerBatcher test
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Fix error in GetLastMachineTotalGas
  packages/arb-avm-cpp/cmachine/arbcore.go
Due: go-vet

Pull out section metadata into a struct
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
Due: go-vet

Extend SequencerBatcher test timeout
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Increase necessary messages for SequencerBatcher test
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Min spacing on assertion
  packages/arb-node-core/staker/validator.go
Due: go-vet

Fixes
  packages/arb-node-core/staker/validator.go
Due: go-vet

Make spacing checking more efficient and configurable
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-util/core/lookup.go
Due: go-vet

Lower min msgCount for test
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Fix rollupInitialized message, update abi, and fix test
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
  packages/arb-node-core/ethbridgecontracts/Bridge.go
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/Inbox.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
  packages/arb-rpc-node/batcher/sequencer_gas_usage_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
Due: prettier-soldity, go-vet

Fix arbgas unit issue and update abi
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
Due: prettier-soldity, go-vet

Add OZ and Diamond standard references to rollup code
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

fix types in natspecs
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbStandardToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

update deposit eth in arb-ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

update deposit eth in arbts
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

update inbox abis
  packages/arb-ts/src/lib/abi/IInbox.d.ts
  packages/arb-ts/src/lib/abi/Inbox.d.ts
  packages/arb-ts/src/lib/abi/factories/Inbox__factory.ts
Due: none

pass correct param into deposit eth
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

mainnet bridge deploy
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/package.json
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
Due: none

Log delayed message delivery in inboxReader
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Log in sequencer batcher when no delayed messages to sequence
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Refactor sequencer batch section metadata creation
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Rename mustEndBatchAfterItem to mustEndSectionAfterItem
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Start batcher after catching up
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Harden inbox reader
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Temporarily acquire message delivery mutex when getting batch items
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Improving logging and recovery around failed batches
  packages/arb-node-core/ethbridge/chain.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Have inbox reader recognize reorgs without new messages (WIP)
  packages/arb-bridge-eth/contracts/bridge/BridgeUtils.sol
  packages/arb-node-core/ethbridge/bridgeutils.go
  packages/arb-node-core/ethbridgecontracts/BridgeUtils.go
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgecontracts/gen.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/monitor/monitor.go
Due: prettier-soldity, go-vet

Change GetCountsAndAccumulators parameter types
  packages/arb-bridge-eth/contracts/bridge/BridgeUtils.sol
  packages/arb-node-core/ethbridge/bridgeutils.go
  packages/arb-node-core/ethbridgecontracts/BridgeUtils.go
  packages/arb-node-core/staker/staker_test.go
Due: prettier-soldity, go-vet

Fix inbox reader and tests
  packages/arb-bridge-eth/contracts/bridge/BridgeUtils.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridgecontracts/BridgeUtils.go
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/Validator.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/utils/rollup.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: prettier-soldity, go-vet

Update node argument validity checking
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Create new big int when modifying currentHeight
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Remove reorg from sequencer batcher test to speed it up
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

