Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Dev node fixes
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/dev/dev.go
Due: go-vet

Add eip-1898 support
  packages/arb-rpc-node/web3/accounts.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/nodeInterface.go
Due: go-vet

Add ability to override data called when trading an exit
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/L1PassiveFastExitManager.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/L1SignedLiquidityProvider.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/L1StakedLiquidityProvider.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/FastExitMock.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Add gateway router unit test
  packages/arb-bridge-peripherals/test/gatewayRouter.l1.ts
Due: none

incldue checkretryable script
  packages/arb-ts/scripts/checkRetryable.ts
Due: none

remove unused import
  packages/arb-ts/scripts/checkRetryable.ts
Due: none

add @dancearchitect's token bridge diagrams
  docs/Bridging_Assets.md
  docs/assets/bridge_deposits.png
  docs/assets/bridge_withdrawals.png
Due: none

Add typed transaction signing
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-rpc-node/web3/accounts.go
Due: go-vet

add rinkeby and custom weth gateway addresses to networks.ts
  packages/arb-ts/src/lib/networks.ts
Due: none

update arb-ts readme, update test default to rinkarby
  packages/arb-ts/README.md
  packages/arb-ts/integration_test/arb-bridge.test.ts
Due: none

Assorted fixes, remove mutex
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Avoid race condition by removing accumulator channel
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Refactor broadcaster to use channels instead of mutex
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Fix race condition
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
Due: go-vet

Allow send test to wait 0 seconds between messages
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/testutils.go
Due: go-vet

Fix race condition
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Fix unit test
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

small broadcastclient cleanups
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Fix possible race condition
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcasterload_test.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Enable relay to exit cleanly
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
Due: go-vet

Fix tests to work properly under high load
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/broadcasterload_test.go
  packages/arb-util/broadcaster/testutils.go
Due: go-vet

Fix context leak, race condition not a factor after all
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Fix port conflicts in unit tests
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcasterload_test.go
Due: go-vet

Add payable to custom gateway methods
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
Due: prettier-soldity

Remove only router permissioning from gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/IGatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

update to new bridge.init pattern in readme
  packages/arb-ts/README.md
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

