Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Update .clabot
  .clabot
Due: none

Update Arbitrum testnet block explorer URL (#2118)
  docs/Public_Testnet.md
  docs/Useful_Addresses.md
Due: none

reference arbitrum/sdk in docs
  docs/Bridging_Assets.md
  docs/Frontend_Integration.md
  docs/L1_L2_Messages.md
  docs/Special_Features.md
Due: none

Add extra logging and fix healthcheck disable
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/ethutils/client.go
Due: go-vet

_getGatewayAndData code reuse
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
Due: prettier-soldity

Fully disable healthcheck
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

outboundTransfer refactor
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

gas optimization
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

fixing typo, they're ordering to their ordering
  docs/Censorship_resistance.md
Due: none

fix typo, from they're to their
  docs/Censorship_resistance.md
Due: none

fix doc typo
  docs/Censorship_resistance.md
Due: none

fix typo
  docs/Censorship_resistance.md
Due: none

add comment
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

Add callvalue check to inbox
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

allowlist OZ CVE-2021-46320 and fix ci
  package.json
  packages/arb-bridge-peripherals/test/gatewayRouter.l1.ts
  yarn.lock
Due: none

fix test case
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

add weth bridge l1 test
  packages/arb-bridge-peripherals/test/wethBridge.l1.ts
Due: none

deprecate old entrypoint
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
Due: prettier-soldity

make linter happy
  packages/arb-bridge-peripherals/test/wethBridge.l1.ts
Due: none

fix missing typing in ci
  packages/arb-bridge-peripherals/test/wethBridge.l1.ts
Due: none

Delete .clabot
  .clabot
Due: none

Make wallet creation explicit
  packages/arb-node-core/cmd/arb-db/arb-db.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Cleanup key creation
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Backport feed fix
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/wsbroadcastserver/clientconnection.go
  packages/arb-util/wsbroadcastserver/utils.go
Due: go-vet

Refactor core errors
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/datacursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/staker/staker.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-fork-node/arb-fork-node.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/lockout.go
  packages/arb-util/core/logreader.go
  packages/arb-util/core/lookup.go
Due: go-vet

Fix incorrect error
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Extra commit to trigger CI
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
Due: go-vet

add blockvision to docs
  docs/Node_Providers.md
Due: none

Remove redundant check
  packages/arb-node-core/cmdhelp/wallet.go
Due: go-vet

small tweaks
  docs/Node_Providers.md
Due: none

Address code review comments
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: go-vet
