Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Allow routers to unset gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

Add support for configuration file
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.sum
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-node-core/go.sum
  packages/arb-node-core/utils/rollup.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/go.sum
  packages/arb-util/configuration/configuration.go
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: go-vet

Various fixes
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Refactor to override modifier instead of function to validate counterpart gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Add e2e test with inbox mock usage
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
Due: prettier-soldity

Fix L2ToL1 msg sender function
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
Due: prettier-soldity

use stripped compiler
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

debugging
  compiler.wasm
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
Due: none

hmm
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

Add tests for error recovery states in L2 gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
  packages/arb-bridge-peripherals/test/wethGateway.e2e.ts
Due: prettier-soldity

Update gateway mainnet deployment information
  packages/arb-bridge-peripherals/deployment-42161.json
  packages/arb-ts/src/lib/networks.ts
Due: none

functions for immeds
  packages/arb-avm-cpp/avm/include/avm/machinestate/runwasm.hpp
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

functions for immeds
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
Due: none

added rest of the functions, construct the codepoints and jump table
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

Remove old upgrade init function
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
Due: prettier-soldity

Remove unnecessary method override
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
Due: prettier-soldity

token list json generation script
  packages/arb-ts/package.json
  packages/arb-ts/scripts/instantiate_bridge.ts
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/networks.ts
  packages/arb-ts/token_lists/arbDefaultList.ts
  packages/arb-ts/token_lists/arbDefaultLists.ts
  packages/arb-ts/token_lists/generate_json.ts
  packages/arb-ts/token_lists/lists/token-list-42161.json
  packages/arb-ts/token_lists/lists/token-list-421611.json
  packages/arb-ts/token_lists/tokenListTypes.ts
  packages/arb-ts/token_lists/uniswapDefaultList.ts
Due: none

Harden inbox reader against missed delayed messages
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-util/core/outputLookup.go
Due: go-vet

Add weth and custom gateway deploy scripts
  packages/arb-bridge-peripherals/package.json
  packages/arb-bridge-peripherals/scripts/deploy_custom_gateway.ts
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-bridge-peripherals/scripts/deploy_weth_bridge.ts
  packages/arb-bridge-peripherals/scripts/register_custom_token.ts
Due: none

remove arbDefaultList (redundant)
  packages/arb-ts/token_lists/arbDefaultList.ts
Due: none

cleanup / update various scripts
  packages/arb-ts/scripts/cancelRetryable.ts
  packages/arb-ts/scripts/checkRetryableStatus.ts
  packages/arb-ts/scripts/instantiate_bridge.ts
  packages/arb-ts/scripts/lib.ts
  packages/arb-ts/scripts/redeemRetryable.ts
  packages/arb-ts/scripts/setArbCustomGateways.ts
  packages/arb-ts/scripts/setStandardGateways.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/token_lists/arbDefaultLists.ts
  packages/arb-ts/token_lists/generate_json.ts
  packages/arb-ts/token_lists/lists/token-list-42161.json
  packages/arb-ts/token_lists/uniswapDefaultList.ts
Due: none

Use start of chain block to constrain FilterQuery
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/bridge.go
  packages/arb-node-core/ethbridge/challenge.go
  packages/arb-node-core/ethbridge/challengeWatcher.go
  packages/arb-node-core/ethbridge/delayedBridgeWatcher.go
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

use env vars for rpc urls, add dot-env
  packages/arb-ts/.env.sample
  packages/arb-ts/package.json
  packages/arb-ts/scripts/instantiate_bridge.ts
  packages/arb-ts/src/lib/networks.ts
  yarn.lock
Due: none

Minor fixes
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/delayedBridgeWatcher.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

remove old check retryable script, fix logging in new one
  packages/arb-ts/scripts/checkRetryable.ts
  packages/arb-ts/scripts/checkRetryableStatus.ts
Due: none

remove test hash
  packages/arb-ts/scripts/checkRetryableStatus.ts
Due: none

Add ability to print current configuration
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Store mexe inside docker image for easier use
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
  packages/arb-validator.Dockerfile
Due: go-vet

Tweak error messages
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add event when token is registered through custom gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ICustomGateway.sol
Due: prettier-soldity

tweak check retryable script
  packages/arb-ts/scripts/lib.ts
Due: none

add more l1 vs l2 checks, use l1gateway address
  packages/arb-ts/token_lists/generate_json.ts
Due: none

Update arbos and node for new error code
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/arbostest/arbsys_test.go
Due: go-vet

Update L2 weth to use our standard implementation
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IWETH9.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/L2GatewayToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestArbCustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestERC20.sol
  packages/arb-bridge-peripherals/test/wethGateway.e2e.ts
Due: prettier-soldity

Add fallback function to handle l2 weth deposits
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
Due: prettier-soldity

Simplify aeWETH internal functions
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
Due: prettier-soldity

Reorganize parameters
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

get addresses for json from events, remove default/uniswap token list, other cleanup
  packages/arb-ts/package.json
  packages/arb-ts/scripts/instantiate_bridge.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/token_lists/arbDefaultLists.ts
  packages/arb-ts/token_lists/generate_json.ts
  packages/arb-ts/token_lists/lists/token-list-42161.json
  packages/arb-ts/token_lists/uniswapDefaultList.ts
Due: none

Minor config option fixups
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/go.mod
Due: go-vet
