Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Refactor folder layout and update arbsys
  packages/arb-bridge-peripherals/contracts/buddybridge/arbitrum/BuddyDeployer.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/ethereum/BuddyBridge.sol
Due: prettier-soldity

Fix datastack proof
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
Due: none

Add initial setup for tests
  packages/arb-bridge-peripherals/contracts/buddybridge/ethereum/BuddyBridge.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/test/TestBuddy.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/util/BuddyUtil.sol
  packages/arb-bridge-peripherals/package.json
  packages/arb-bridge-peripherals/test/buddyBridge.l1.ts
  packages/arb-bridge-peripherals/test/buddyBridge.l2.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: prettier-soldity

Add inbox peek test
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/machine-cases/inbox.mexe
Due: none

Add code
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Fix bug preventing last message from being processed
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add unit tests for messagebatch
  packages/arb-avm-cpp/cavm/caggregator.h
  packages/arb-avm-cpp/cmachine/nodestorage.go
  packages/arb-avm-cpp/cmachine/nodestorage_test.go
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-util/machine/nodestorage.go
Due: go-vet

c++ changes to make saveblock db writes atomic
  packages/arb-avm-cpp/cavm/caggregator.cpp
  packages/arb-avm-cpp/cavm/utils.hpp
  packages/arb-avm-cpp/cmachine/aggregator.go
  packages/arb-avm-cpp/cmachine/utils.go
  packages/arb-avm-cpp/data_storage/include/data_storage/aggregator.hpp
Due: go-vet

Implement save/getMessageBatch
  packages/arb-avm-cpp/cavm/caggregator.cpp
  packages/arb-avm-cpp/cavm/caggregator.h
  packages/arb-avm-cpp/cmachine/aggregator.go
  packages/arb-avm-cpp/cmachine/utils.go
  packages/arb-avm-cpp/data_storage/include/data_storage/aggregator.hpp
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: go-vet

Initial work for making aggregatorSaveBlock atomic
  packages/arb-avm-cpp/cavm/caggregator.cpp
  packages/arb-avm-cpp/cavm/caggregator.h
  packages/arb-avm-cpp/cavm/utils.hpp
  packages/arb-avm-cpp/cmachine/aggregator.go
  packages/arb-avm-cpp/cmachine/utils.go
  packages/arb-avm-cpp/data_storage/include/data_storage/aggregator.hpp
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
Due: go-vet

Make sure tests clean up after themselves
  packages/arb-avm-cpp/cmachine/cmachine_test.go
  packages/arb-avm-cpp/cmachine/nodestorage_test.go
  packages/arb-avm-cpp/cmachine/storage_test.go
Due: go-vet

Staker fixes 4: electric boogaloo
  packages/MACHINEHASH
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/challenge/IChallenge.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-evm/arboscontracts/arbowner.go
  packages/arb-evm/arboscontracts/arbsys.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-node-core/test/helper.go
  packages/arb-util/core/execution.go
  packages/arb-util/core/lookup.go
  packages/arb-validator-core/ethbridgecontracts/onestepproof.go
  packages/arb-validator-core/ethbridgecontracts/onestepproof2.go
  packages/arb-validator-core/ethbridgetestcontracts/machinetester.go
  packages/arb-validator-core/ethbridgetestcontracts/messagetester.go
  packages/arb-validator-core/ethbridgetestcontracts/precompilestester.go
  packages/arb-validator-core/ethbridgetestcontracts/rolluptester.go
  packages/arb-validator-core/ethbridgetestcontracts/valuetester.go
Due: prettier-soldity, go-vet

Fix docker support
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-validator.Dockerfile
Due: go-vet

Fix find challenge and remove old staker gas issues
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/staker/staker.go
Due: go-vet

Make returnOldDeposits gas limit more reasonable
  packages/arb-node-core/ethbridge/validator.go
Due: go-vet

Update ArbOS and fix compatibility
  packages/arb-evm/evm/result.go
Due: go-vet

Update MACHINEHASH
  packages/MACHINEHASH
Due: none

Clarify edge cases and improve staker test
  packages/arb-node-core/staker/staker_test.go
  packages/arb-util/core/execution.go
  packages/arb-util/core/lookup.go
Due: go-vet

Update dependencies to read from arb-os submodule
  package.json
  packages/arb-bridge-peripherals/contracts/BatchMover.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/arbitrum/BuddyDeployer.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  yarn.lock
Due: prettier-soldity

Refactor contract names
  packages/arb-bridge-peripherals/contracts/BatchMover.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/arbitrum/BuddyDeployer.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/ethereum/L1Buddy.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/test/TestBuddy.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/L1Buddy.sol
Due: prettier-soldity

seems to work
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/tests/arbos-cases/deploy_buddy_contract.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_direct_deploy_add.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_direct_deploy_and_call_add.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_direct_deploy_and_compressed_call_add.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_eval_sha256.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_arbsys.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_arbsys_direct.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_create.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_function_table_access.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_using_batch.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_with_constructors.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/payment_to_empty_address.aoslog
  packages/arb-avm-cpp/tests/arbos.cpp
Due: none

Add layer 2 test for buddy deployer
  packages/arb-bridge-peripherals/contracts/buddybridge/arbitrum/BuddyDeployer.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/ethereum/L1Buddy.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/test/Mock.sol
  packages/arb-bridge-peripherals/test/buddyBridge.l2.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: prettier-soldity

check offset when computing gas
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
Due: none

Update contracts to use new buddy system
  packages/arb-bridge-peripherals/contracts/BatchMover.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/test/TestBuddy.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/L1Buddy.sol
Due: prettier-soldity

Remove old buddy system affordances
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
Due: prettier-soldity

Declare shared methods in L1Buddy super class interface
  packages/arb-bridge-peripherals/contracts/BatchMover.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/ethereum/L1Buddy.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/test/TestBuddy.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Fix fast withdrawal bug
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Refactor fast withdrawal to use L2 msg sender as destination
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity
