Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Add abi gen files into src to compile
  packages/arb-ts/package.json
  packages/arb-ts/src/gen/cleanCompileContracts.ts
  packages/arb-ts/src/gen/genAbi.ts
  packages/arb-ts/src/gen/util.ts
Due: none

Run abi gen on compiled file
  packages/arb-ts/package.json
Due: none

Update arb-ts imports
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Publish beta version bump in arb-ts
  packages/arb-ts/package.json
Due: none

Fix dependency
  packages/arb-bridge-eth/package.json
Due: none

Update dependencies
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/hardhat.default-config.ts
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-peripherals/package.json
  packages/arb-ts/package.json
Due: none

Refactor build script to use tsnode instead of compiled file
  packages/arb-ts/package.json
  packages/arb-ts/scripts/builder
  packages/arb-ts/scripts/cleanCompileContracts.ts
  packages/arb-ts/scripts/genAbi.ts
  packages/arb-ts/scripts/util.ts
Due: none

Update dependencies
  packages/arb-bridge-peripherals/package.json
  packages/arb-ts/package.json
Due: none

Refactor abi gen to avoid typescript compile
  packages/arb-ts/package.json
  packages/arb-ts/scripts/genAbi.js
Due: none

Remove deprecated networks
  packages/arb-bridge-eth/hardhat.default-config.ts
Due: none

Add module resolutions to fix yarn audit
  package.json
  yarn.lock
Due: none

Add module resolution
  package.json
  yarn.lock
Due: none

Update hardhat config entrypoint file to handle dev dependencies
  packages/arb-bridge-eth/hardhat.base-config.json
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/hardhat.dev-config.ts
  packages/arb-bridge-eth/hardhat.prod-config.js
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-eth/test/upgrade.fork.ts
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-bridge-peripherals/hardhat.prod-config.js
  packages/arb-bridge-peripherals/package.json
  yarn.lock
Due: none

Version bump dependencies
  packages/arb-bridge-peripherals/package.json
  packages/arb-ts/package.json
Due: none

Update ci process for yarn audit
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: none

Fix script
  packages/arb-bridge-eth/package.json
Due: none

Fix scripts
  packages/arb-bridge-eth/package.json
Due: none

Update yarn lock
  yarn.lock
Due: none

Update optional import in hardhat config
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: none

Add whitespace to make linter happy
  packages/arb-bridge-eth/contracts/validator/IGasRefunder.sol
Due: prettier-soldity

flip negation logic in getSender
  packages/arb-ts/src/lib/L1ToL2Message/L1ToL2MessageCreator.ts
Due: none

use new networks / custom networks strategy;
  packages/arb-ts/src/lib/L1ToL2Message/L1ToL2MessageCreator.ts
  packages/arb-ts/src/lib/utils/networks.ts
Due: none

fix OSP test
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Update Inside Arbitrum
  docs/Inside_Arbitrum.md
Due: none

Add validator pruning, remove debugging options
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-node-core/staker/staker.go
  packages/arb-util/core/lookup.go
Due: go-vet

Remove extraneous settings
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix missing library dependency
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
Due: none

added prereq.sh
  README.md
  package.json
  scripts/preq.sh
Due: none

create ganache-db if not exists
  scripts/run-ganache.sh
Due: none

remove arb db before new rollup initialization
  package.json
Due: none

Keep track of pruning mode in database
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

remove dead link to testnet portal
  docs/Public_Testnet.md
Due: none

Handle initializing pruning state
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Refactor of token bridger - still need to update tests
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/sanity.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/integration_test/weth.test.ts
  packages/arb-ts/scripts/instantiate_bridge.ts
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/assetBridger/assetBridger.ts
  packages/arb-ts/src/lib/assetBridger/ethBridger.ts
  packages/arb-ts/src/lib/assetBridger/index.ts
  packages/arb-ts/src/lib/assetBridger/tokenBridger.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/src/lib/errors.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
  packages/arb-ts/src/lib/message/L1ToL2Message.ts
  packages/arb-ts/src/lib/message/L1ToL2MessageCreator.ts
  packages/arb-ts/src/lib/message/L1ToL2MessageGasEstimator.ts
  packages/arb-ts/src/lib/message/L2ToL1Message.ts
  packages/arb-ts/src/lib/utils/lib.ts
  packages/arb-ts/src/lib/utils/signerOrProvider.ts
Due: none

Update parameter names
  docs/Running_Node.md
Due: none

update submodule
  packages/MACHINEHASH
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
  packages/arb-evm/arboscontracts/ArbGasInfo.go
  packages/arb-evm/arboscontracts/ArbInfo.go
  packages/arb-evm/arboscontracts/ArbRetryableTx.go
  packages/arb-evm/arboscontracts/ArbSys.go
Due: go-vet

rename field
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

fix underflow in test
  packages/arb-rpc-node/dev/estimate_test.go
Due: go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

