Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Fix reentrancy and rename event paramter
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbTokenBridge.sol
Due: prettier-soldity

Update typechain wrappers
  packages/arb-ts/src/lib/abi/ArbTokenBridge.d.ts
  packages/arb-ts/src/lib/abi/IArbTokenBridge.d.ts
  packages/arb-ts/src/lib/abi/factories/ArbTokenBridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/IArbTokenBridge__factory.ts
Due: none

Index token address in bridge deposit token event
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/IEthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/factories/EthERC20Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/IEthERC20Bridge__factory.ts
Due: prettier-soldity

instruction working with wasm
  packages/arb-avm-cpp/avm/include/avm/machinestate/runwasm.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/cmachine/executioncursor.go
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/cmachine/nodestorage.go
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/tests/wasm.cpp
Due: go-vet

token bridge natspac docs (WIP)
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbCustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
Due: prettier-soldity

Enable local Arbitrum on MacOS
  packages/arb-avm-cpp/CMakeLists.txt
Due: none

Update client.ts
  packages/arb-provider-ethers/src/lib/client.ts
Due: none

Update Local_Blockchain.md
  docs/Local_Blockchain.md
Due: none

Update Installation.md
  docs/Installation.md
Due: none

Healthcheck bug fixes
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Update nodehealth test
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Update CMakelists to support MacOS compile
  packages/arb-avm-cpp/CMakeLists.txt
Due: none

Update formatting
  packages/arb-provider-ethers/src/lib/client.ts
Due: none

update FrontendIntegration.md, add more typechain exports to arb-ts
  docs/Frontend_Integration.md
  packages/arb-ts/src/index.ts
Due: none

Remove unneeded steps that may return errors
  docs/Installation.md
Due: none

More work on test
  packages/arb-evm/evm/request.go
  packages/arb-rpc-node/dev/upgrade_test.go
Due: go-vet

Add upgradability tooling
  packages/arb-evm/arbos/arbos.go
  packages/arb-rpc-node/dev/upgrade_test.go
  packages/arb-ts/src/lib/abi/index.ts
  packages/tools/package.json
  packages/tools/scripts/update-arbos.ts
Due: go-vet

more docs for EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

cleanup
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

bump arb-ts to 0.0.9
  packages/arb-ts/package.json
Due: none

update abi
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/factories/ArbBatchTokenMover__factory.ts
  packages/arb-ts/src/lib/abi/factories/ArbTokenBridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthBatchTokenReceiver__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthERC20Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2Called__factory.ts
  packages/arb-ts/src/lib/abi/factories/StandardArbERC20__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestArbCustomToken__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestCustomTokenL1__factory.ts
Due: none

Normalize logger calls, cleanup poller
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/broadcaster_test.go
Due: go-vet

Update arbos and add testing of arbos upgrades
  packages/MACHINEHASH
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-evm/arbos/arbowner.go
  packages/arb-evm/arboscontracts/arbowner.go
  packages/arb-evm/arboscontracts/arbsys.go
  packages/arb-rpc-node/arbostest/owner_test.go
  packages/arb-rpc-node/dev/upgrade_test.go
  packages/arb-util/inbox/data.go
  packages/arb-util/inbox/inboxMessage.go
  packages/arb-util/inbox/testVector.go
  packages/arb-util/machine/machine.go
  packages/arb-util/value/buffer.go
Due: go-vet

Enable check
  packages/arb-evm/evm/request.go
Due: go-vet

Implement most of sequencer batcher
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/core/outputLookup.go
  packages/arb-util/inbox/sequencerBatchItem.go
Due: prettier-soldity, go-vet

Simplify upgrade test and split out arb-rpc-node tests from arb-node-core tests
  .circleci/config.yml
  packages/arb-rpc-node/dev/upgrade_test.go
Due: go-vet

Strengthen sequencer inbox init message protection
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

