Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.3.2'
          - 'prettier-plugin-solidity@^1.0.0-beta.17'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "PATH=/usr/local/bin:$PATH  go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Add a new --core.test.reorg-messages to reorg messages on startup
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix flag type
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix sequencer inbox storage layout
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

Add force-reorg CLI tool
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-rpc-node/cmd/force-reorg/main.go
  packages/arb-rpc-node/go.mod
Due: go-vet

Allow inbox reader to reorg when it's past the current height
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Harden caught up target during backwards reorgs
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Don't reconnect to L1 because a receipt wasn't found
  packages/arb-util/ethutils/client.go
Due: go-vet

Allow removeOldZombies in shutdownForNitroMode
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Move disabling the rollup event bridge to step 3
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

Force garbage collection to ensure http session is idle
  packages/arb-util/ethutils/client.go
Due: go-vet

Only perform garbage collection when actually needed
  packages/arb-util/ethutils/client.go
Due: go-vet

don't bother reconnecting if item just not found
  packages/arb-util/ethutils/client.go
Due: go-vet

Selectively forward calls for classic bridge
  packages/arb-bridge-eth/contracts/bridge/Bridge.sol
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/bridge/NonDelegatingProxy.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IBridge.sol
Due: prettier-soldity

nitroExport rpc improvements
  packages/arb-rpc-node/nitroexport/rpcserver.go
Due: go-vet

refactor: onlyOwner modifier in L1CustomGateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
Due: prettier-soldity

feat: add setOwner to L1CustomGateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
Due: prettier-soldity

chore: add linter to arb-bridge-peripherals
  packages/arb-bridge-peripherals/.eslintignore
  packages/arb-bridge-peripherals/.prettierignore
  packages/arb-bridge-peripherals/.solhint.json
  packages/arb-bridge-peripherals/package.json
Due: none

style: fix lint issues
  packages/arb-bridge-peripherals/contracts/rpc-utils/MulticallV2.sol
  packages/arb-bridge-peripherals/contracts/rpc-utils/NodeInterface.sol
  packages/arb-bridge-peripherals/contracts/rpc-utils/RetryableTicketCreator.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/ClonableBeaconProxy.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/ITransferAndCall.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/TransferAndCallToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestBytesParser.sol
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: prettier-soldity

test: lint arb-bridge-peripherals in ci
  .circleci/config.yml
Due: none

chore: add tslint
  packages/arb-bridge-eth/.eslintrc.js
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-peripherals/.eslintrc.js
  packages/arb-bridge-peripherals/package.json
  yarn.lock
Due: none

fix: tslint:strict-comparisons
  packages/arb-bridge-eth/test/common/rolluplib.ts
Due: none

style: linter
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
Due: prettier-soldity

chore: clear audit allowlist
  package.json
Due: none

chore: allowlist OZ initializer vluns
  package.json
Due: none

chore: pin hardhat to 2.9.9
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-peripherals/package.json
  packages/arb-upgrades/package.json
  yarn.lock
Due: none

begin update nitro devnet docs
  docs/Public_Nitro_Devnet.md
Due: none

chore: update deployed contracts addresses
  docs/Public_Nitro_Devnet.md
Due: none

Updated nitro migration manager
  packages/arb-bridge-eth/contracts/bridge/Bridge.sol
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/test_only/BridgeMock.sol
  packages/arb-bridge-eth/test/nitro-upgrade.fork.ts
  packages/arb-bridge-eth/test/nitroMigrationManager.ts
  packages/arb-upgrades/ethBridgeTasks.ts
Due: prettier-soldity

Reverted removed comment
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

Fix and Allowlist audit-ci advisories (#2351)
  package.json
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-peripherals/package.json
  packages/arb-upgrades/package.json
  yarn.lock
Due: none

Update Solidity_Support.md
  docs/Solidity_Support.md
Due: none

Update Solidity_Support.md (#2354)
  docs/Solidity_Support.md
Due: none

update bridge/explorer links
  docs/Public_Nitro_Devnet.md
Due: none

change sidebar label
  docs/Public_Nitro_Devnet.md
Due: none

chore: add https to rpc url
  docs/Public_Nitro_Devnet.md
Due: none

chore: remove trailing space in rpc url
  docs/Public_Nitro_Devnet.md
Due: none

update nitro devnet docs (#2352)
  docs/Public_Nitro_Devnet.md
Due: none

Update Public_Nitro_Devnet.md
  docs/Public_Nitro_Devnet.md
Due: none
