Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

style: yarn prettier
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

fix: e2e test of l1 gateway mintable token
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: none

chore: remove only keyword
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: none

chore: update packages to only include relevant files when publishing
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-peripherals/package.json
Due: none

Remove Code storage system
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/datastack.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinethread.hpp
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/codepoint.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/codepointstub.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/codesegment.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/value.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/valueloader.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/valuetype.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/vmValueParser.hpp
  packages/arb-avm-cpp/avm_values/src/code.cpp
  packages/arb-avm-cpp/avm_values/src/codepoint.cpp
  packages/arb-avm-cpp/avm_values/src/codepointstub.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/machine.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/valuecache.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/corevalueloader.cpp
  packages/arb-avm-cpp/data_storage/src/value/corevalueloader.hpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Cleanup `MachineThread`
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinethread.hpp
  packages/arb-avm-cpp/avm/src/machinethread.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Refactor test rig to rely less on smart contract affordances
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
Due: none

Fix error during logging when tx doesn't contain destination
  packages/arb-util/transactauth/fireblocksauth.go
Due: go-vet

refactor: processL1ToL2Tx test rig for canonical
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/ArbSysMock.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
  packages/arb-bridge-peripherals/test/testhelper.ts
Due: prettier-soldity

Revert "fix: e2e test after 10fd24d"
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Add gas refunder support to validator
  packages/arb-bridge-eth/contracts/validator/Validator.sol
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-util/ethbridgecontracts/Validator.go
  packages/arb-util/ethbridgecontracts/ValidatorWalletCreator.go
Due: prettier-soldity, go-vet

Add gas refunder address to config
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Properly fix null pointer dereference
  packages/arb-util/transactauth/fireblocksauth.go
Due: go-vet

Add check for null `details`
  packages/arb-util/transactauth/fireblocksauth.go
Due: go-vet

continue if async runMachine with already running machine
  packages/arb-avm-cpp/avm/src/machinethread.cpp
Due: none

Address code review comments
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Remove unneeded threadWait call
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

trying to start already running machine should be a fatal error
  packages/arb-avm-cpp/avm/src/machinethread.cpp
Due: none

refactor: test rig for customGateway.e2e.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: none

refactor: test rig for wethGateway.e2e.ts
  packages/arb-bridge-peripherals/test/wethGateway.e2e.ts
Due: none

fix: fund to address in processL2ToL1Tx
  packages/arb-bridge-peripherals/test/testhelper.ts
Due: none

fix: use deployed arbSysMock bytecode
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
  packages/arb-bridge-peripherals/test/wethGateway.e2e.ts
Due: none

style: prettier and code style
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/ArbSysMock.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
  packages/arb-bridge-peripherals/test/testhelper.ts
  packages/arb-bridge-peripherals/test/wethGateway.e2e.ts
Due: prettier-soldity

docs: add comments to testhelper
  packages/arb-bridge-peripherals/test/testhelper.ts
Due: none

Refactor to rely on events emitted by mock instead of bridge contracts
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/ArbSysMock.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/InboxMock.sol
  packages/arb-bridge-peripherals/test/testhelper.ts
Due: prettier-soldity

Add in missing value field to tx
  packages/arb-bridge-peripherals/test/testhelper.ts
Due: none

Remove unneeded test setup in contracts
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/L2ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/L1ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Remove unnecessary code
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
Due: prettier-soldity

Simplify initialization of gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
Due: prettier-soldity

Fix unit tests
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/AddressMappingTest.sol
  packages/arb-bridge-peripherals/package.json
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
  packages/arb-bridge-peripherals/test/testhelper.ts
  packages/arb-bridge-peripherals/test/wethBridge.l1.ts
  packages/arb-bridge-peripherals/test/wethBridge.l2.ts
Due: prettier-soldity

Add compile step to ci
  .circleci/config.yml
Due: none

dump Arbitrum Data
  .github/workflows/docker-publish.yaml
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

