Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

mainnet bridge deploy config
  packages/arb-bridge-peripherals/deployment-42161.json
Due: none

Add kovan5 info back in, update contract git hash
  docs/Public_Testnet.md
Due: none

Update documentation to point to rinkeby testnet
  docs/Contract_Deployment.md
  docs/Developer_Quickstart.md
  docs/Public_Testnet.md
Due: none

Update Public_Testnet.md
  docs/Public_Testnet.md
Due: none

allow setting address(0) as default gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

wip: bridging assets docs update
  docs/Bridging_Assets.md
Due: none

little edits
  docs/Bridging_Assets.md
Due: none

docs/Bridging_Assets.md
  docs/Bridging_Assets.md
Due: none

make WETH name/symbol/decimals constants (so they're preserved)
  packages/arb-bridge-peripherals/contracts/misc/WETH9.sol
Due: prettier-soldity

add weth9 upgrade
  packages/arb-bridge-peripherals/scripts/upgrade_weth9.ts
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/abi/IWETH9.d.ts
  packages/arb-ts/src/lib/abi/WETH9.d.ts
  packages/arb-ts/src/lib/abi/factories/WETH9__factory.ts
Due: none

Add beaconproxy deployer factory to erc20 token bridge gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/ClonableBeaconProxy.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: prettier-soldity

Update standard erc20 function inheritance and visibility
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
Due: prettier-soldity

Remove revert from L2 gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
Due: prettier-soldity

Add script to upgrade erc20 token gateways
  packages/arb-bridge-peripherals/scripts/token_bridge_upgrade.ts
Due: none

Fix script
  packages/arb-bridge-peripherals/scripts/token_bridge_upgrade.ts
Due: none

Include arbos.mexe in Dockerfile
  packages/arb-validator.Dockerfile
Due: none

some natspecing
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
Due: prettier-soldity

Add tradeable exits to L1 gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/FastExitMock.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/PassiveFastExitManager.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Add better error reporting to gateway testing
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Add generic outbound calls to outbound L1 arbitrum extended bridge
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/PassiveFastExitManager.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Add shared method for inbound EscrowAndCall
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Refactor common methods into super class
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
Due: prettier-soldity

Refactor superclass initializers and arbitrum messenger file location
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ArbitrumMessenger.sol
Due: prettier-soldity

more edits
  docs/Bridging_Assets.md
Due: none

Change mexe location to make dev node work
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-validator.Dockerfile
Due: go-vet

Fix deploy script
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-ts/src/lib/abi/L1ERC20Gateway.d.ts
  packages/arb-ts/src/lib/abi/L2ERC20Gateway.d.ts
  packages/arb-ts/src/lib/abi/factories/L1ERC20Gateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2ERC20Gateway__factory.ts
Due: none

Fix max submission cost when submitting txs
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/InboxMock.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Add upgrade script used on rinkeby
  packages/arb-bridge-peripherals/scripts/upgrade.ts
Due: none

bridge ownership transfer script
  packages/arb-bridge-peripherals/scripts/transfer_bridge_owner.ts
Due: none

update deployments.json
  packages/arb-bridge-peripherals/deployment-42161.json
Due: none

fix inbox in arb-ts
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

fallback to standard gateway as default
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

update arb-ts
  packages/arb-ts/package.json
Due: none

update networks object, handle inbox / default gateway
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/networks.ts
Due: none

bump version
  packages/arb-ts/package.json
Due: none

add rinkeby blocktime
  packages/arb-ts/src/lib/networks.ts
Due: none
