Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Initial outbox proof lookup implementation
  packages/arb-avm-cpp/cmachine/nodestorage.go
  packages/arb-avm-cpp/cmachine/nodestorage_test.go
  packages/arb-evm/arboscontracts/NodeInterface.sol
  packages/arb-evm/arboscontracts/abigen.sh
  packages/arb-evm/arboscontracts/arbinfo.go
  packages/arb-evm/arboscontracts/arbsys.go
  packages/arb-evm/arboscontracts/nodeinterface.go
  packages/arb-evm/evm/merkleRootResult.go
  packages/arb-evm/evm/sendResult.go
  packages/arb-node-core/ethbridge/challenge.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/validatorInterface.go
  packages/arb-util/arbos/arbos.go
  packages/arb-util/machine/nodestorage.go
  packages/arb-util/protocol/merkleTree.go
Due: prettier-soldity, go-vet

Refactor dev aggregator and fix cgo
  packages/arb-avm-cpp/cmachine/nodestorage.go
  packages/arb-avm-cpp/cmachine/utils.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/dev/dev.go
Due: go-vet

Add test framework for testing outbox system
  packages/arb-avm-cpp/cavm/caggregator.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/aggregator.hpp
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-evm/arboscontracts/NodeInterface.sol
  packages/arb-evm/arboscontracts/nodeinterface.go
  packages/arb-evm/evm/merkleRootResult.go
  packages/arb-evm/evm/sendResult.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/validatorInterface.go
  packages/arb-util/core/logreader.go
  packages/arb-util/core/lookup.go
Due: prettier-soldity, go-vet

Remove debug prints
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Staker fixes 5: fix rejecting node and minor logging improvements
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

Continue updating test harness
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Add SendAcc and LogAcc to executioncursor
  packages/arb-avm-cpp/cavm/cexecutioncursor.cpp
  packages/arb-avm-cpp/cavm/cexecutioncursor.h
  packages/arb-avm-cpp/cmachine/executioncursor.go
  packages/arb-avm-cpp/cmachine/executioncursor_test.go
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint.hpp
  packages/arb-avm-cpp/data_storage/src/checkpoint.cpp
  packages/arb-util/core/lookup.go
  packages/arb-util/core/mock.go
Due: go-vet

fix "getERC20LlAddress" typo
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

rename update-abi scripts to update:abi
  package.json
  packages/arb-provider-ethers/package.json
  packages/arb-ts/package.json
Due: none

bridge class stuff in arb-ts; add arb-ts build/update abi scripts to root package.json; update abi (with Rollup* interfaces)
  package.json
  packages/arb-ts/README.md
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/integration_test/config.ts
  packages/arb-ts/package.json
  packages/arb-ts/scripts/update-abi
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/abi/Rollup.d.ts
  packages/arb-ts/src/lib/abi/RollupCore.d.ts
  packages/arb-ts/src/lib/abi/RollupCoreFactory.ts
  packages/arb-ts/src/lib/abi/RollupCreator.d.ts
  packages/arb-ts/src/lib/abi/RollupCreatorFactory.ts
  packages/arb-ts/src/lib/abi/RollupCreatorNoProxy.d.ts
  packages/arb-ts/src/lib/abi/RollupCreatorNoProxyFactory.ts
  packages/arb-ts/src/lib/abi/RollupEventBridge.d.ts
  packages/arb-ts/src/lib/abi/RollupEventBridgeFactory.ts
  packages/arb-ts/src/lib/abi/RollupFactory.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/conversion.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

cleanup: remove results.xml
  packages/arb-ts/results.xml
Due: none

make custom l2 tokens mapping public in etherc20bridge, update abi
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/tsconfig.json
Due: none

remove unnecessary check
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

update copyright date in license comments
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

make custom l2 tokens mapping public in etherc20bridge, update abi
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/EthERC20BridgeFactory.ts
Due: prettier-soldity

revert arb-provider-ethers/ethers resolution version change
  package.json
Due: none

remove unused arb-ts dependencies
  packages/arb-ts/package.json
  yarn.lock
Due: none

umm, actually set the walletAddressCache bro
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

rename to test:integration
  packages/arb-ts/package.json
Due: none

update abi (post rebase)
  packages/arb-ts/src/lib/abi/ArbAddressTableFactory.ts
  packages/arb-ts/src/lib/abi/ArbBlsFactory.ts
  packages/arb-ts/src/lib/abi/ArbFunctionTableFactory.ts
  packages/arb-ts/src/lib/abi/ArbOwnerFactory.ts
  packages/arb-ts/src/lib/abi/ArbSysFactory.ts
  packages/arb-ts/src/lib/abi/Bridge.d.ts
  packages/arb-ts/src/lib/abi/BridgeFactory.ts
  packages/arb-ts/src/lib/abi/EthERC20BridgeFactory.ts
  packages/arb-ts/src/lib/abi/InboxFactory.ts
  packages/arb-ts/src/lib/abi/Outbox.d.ts
  packages/arb-ts/src/lib/abi/OutboxEntryFactory.ts
  packages/arb-ts/src/lib/abi/OutboxFactory.ts
Due: none

use only signers, not providers, in arb-ts bridge
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

flip back param order in decimalcoverter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/DecimalConverter.sol
Due: prettier-soldity

update buidler command to hardhat for launch-geth script in arb-bridge-eth
  packages/arb-bridge-eth/scripts/launch-geth
Due: none

return promises / remove async/await where applicable
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

add missing return
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

fix broken ethers contract imports
  packages/arb-ts/src/lib/abi/ArbAddressTableFactory.ts
  packages/arb-ts/src/lib/abi/ArbBlsFactory.ts
  packages/arb-ts/src/lib/abi/ArbFunctionTableFactory.ts
  packages/arb-ts/src/lib/abi/ArbOwnerFactory.ts
Due: none

Fix
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/L1Buddy.sol
Due: prettier-soldity

get inbox address from contract instead of from param
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/L1Buddy.sol
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
Due: prettier-soldity

Remove unnecessary package
  packages/arbos-contracts/.gitignore
  packages/arbos-contracts/contracts/ArbAddressTable.sol
  packages/arbos-contracts/contracts/ArbBLS.sol
  packages/arbos-contracts/contracts/ArbFunctionTable.sol
  packages/arbos-contracts/contracts/ArbInfo.sol
  packages/arbos-contracts/contracts/ArbOwner.sol
  packages/arbos-contracts/contracts/ArbSys.sol
  packages/arbos-contracts/hardhat.config.ts
  packages/arbos-contracts/package.json
  packages/arbos-contracts/tsconfig.json
Due: prettier-soldity

update yarn.lock (post rebase)
  yarn.lock
Due: none

Outbox proof test working!
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-evm/evm/merkleRootResult.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/core/logreader.go
Due: prettier-soldity, go-vet

update bridge classes in arb-ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

fix arbsys path
  packages/arb-ts/src/lib/abi/ArbSys__factory.ts
Due: none

put arbsysfactory in sub dir, clean up
  packages/arb-ts/scripts/update-abi
  packages/arb-ts/src/lib/abi/factories/ArbSys__factory.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

clean up
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

add missing return statements
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

fix paths (in sync w/ latest arbos-contracts)
  package.json
  packages/arb-bridge-peripherals/contracts/BatchMover.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/arbitrum/BuddyDeployer.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-ts/scripts/update-abi
  yarn.lock
Due: prettier-soldity

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

