Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Simplify node truncation by giving priviledge to rollup owner
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Update arbos and node to match
  packages/arb-evm/evm/request.go
  packages/arb-evm/evm/result.go
  packages/arb-evm/message/message.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
Due: go-vet

Test fixes
  packages/arb-rpc-node/arbostest/fee_test.go
Due: go-vet

Update sequencer inbox accumulator scheme in a couple more places
  packages/arb-avm-cpp/data_storage/src/messageentry.cpp
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/validator.go
Due: prettier-soldity, go-vet

Make SoliditySHA3 typesafe
  packages/arb-util/hashing/hashing.go
Due: go-vet

Fix gas estimation test
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Add check for used
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Refactoring
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/execution.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/monitor/test_helper.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-util/inbox/sequencerBatchItem.go
Due: go-vet

Refactor sequencer items
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/monitor/test_helper.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-util/inbox/sequencerBatchItem.go
Due: go-vet

Challenge test setup init message
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-util/inbox/delayedMessage.go
Due: go-vet

Challenge test passing
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/execution_test.go
Due: go-vet

Fix staker test
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Fix blocking on nil healthchan
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Fixup sequencer batcher test
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Fix races
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-util/inbox/inboxMessage.go
Due: go-vet

Fix arb-bridge-eth tests
  packages/arb-bridge-eth/test/arbRollup.ts
  packages/arb-bridge-eth/test/challenge.ts
  packages/arb-bridge-eth/test/executionproof.ts
  packages/arb-bridge-eth/test/rolluplib.ts
Due: none

Add debug info to test
  packages/arb-avm-cpp/tests/arbos.cpp
Due: none

Refactor fee test
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Add aggregator option to fee estimation
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/interface.go
Due: go-vet

Fix fee test
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Bump arbos version switch
  packages/arb-rpc-node/arbostest/fee_test.go
Due: go-vet

loading code from wasm2avm
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

debugging
  packages/arb-avm-cpp/avm_values/src/tuple.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

Update arbos and test
  packages/arb-avm-cpp/tests/arbos.cpp
Due: none

rename l1Pair var to ethTokenBridge
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

swap stateful/non-stateful requires in ArbTokenBridge.initialize
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

fix broken arbsys link in bridging_assets
  docs/Bridging_Assets.md
Due: none

Fixing up arbcore tests
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/machine-cases/inbox.mexe
  packages/arb-avm-cpp/tests/machine.cpp
Due: none

Make sure honest staker goes first in staker test
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Fix staker tests
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Fix node shutdown
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Update arb-os and fix test
  packages/arb-rpc-node/arbostest/fee_test.go
Due: go-vet

Run generate
  packages/MACHINEHASH
  packages/arb-evm/arboscontracts/arbowner.go
  packages/arb-evm/arboscontracts/arbretryable.go
Due: go-vet

Add getTotalOfEthBalances test
  packages/arb-evm/arbos/arbowner.go
  packages/arb-rpc-node/arbostest/owner_test.go
Due: go-vet

Fix destroyPendingNodes implementation
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity
