Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Include gasCostPerMessage in tx base fee computation
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Catch sequencer address reorging errors
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

add support for profiling machine loads
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/monitor/monitor.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Update AddressAliasHelper.sol
  packages/arb-bridge-eth/contracts/libraries/AddressAliasHelper.sol
Due: prettier-soldity

add address aliasing helpers to Bridge_Helpers
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

fixed links in tutorials
  docs/Arbsys.md
  docs/Bridging_Assets.md
  docs/Special_Features.md
Due: none

Tidy
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-node-core/go.mod
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
Due: none

Update go-ethereum
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: none

Update koanf
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.sum
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.sum
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: none

Make lazy loading of core thread and archive queries configurable
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/code.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/corevalueloader.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Update other deps
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: none

Move ArbCore config in C API into struct
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
Due: go-vet

update token list gen: validate schema, automate major/minor versioning, properly handle logo uris
  packages/arb-ts/package.json
  packages/arb-ts/src/lib/networks.ts
  packages/arb-ts/token_lists/generate_json.ts
Due: none

update log / comment
  packages/arb-ts/token_lists/generate_json.ts
Due: none

Update npm deps
  yarn.lock
Due: none

Switch back to mainline solidity-coverage
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: none

Update deps to latest
  package.json
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-peripherals/package.json
  packages/arb-ts/package.json
  packages/arb-upgrades/package.json
  packages/tools/package.json
  yarn.lock
Due: none

Fix typescript errors
  packages/arb-bridge-eth/test/upgrade.fork.ts
  packages/arb-bridge-peripherals/scripts/deploy_weth_bridge.ts
  packages/arb-ts/scripts/getCLargs.ts
  packages/arb-ts/scripts/instantiate_bridge.ts
  packages/arb-ts/scripts/tokenRecovery/distributeToken.ts
  packages/arb-ts/scripts/tokenRecovery/distributeWeth.ts
  packages/arb-ts/scripts/tokenRecovery/getTokenBalances.ts
  packages/arb-ts/scripts/tokenRecovery/getWETHBalances.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/tsconfig.json
  packages/arb-upgrades/index.ts
  packages/arb-upgrades/package.json
  yarn.lock
Due: none

Compile integration test
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/tsconfig.json
Due: none

Fix tsconfig
  packages/arb-ts/tsconfig.json
Due: none

fee test
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

fix getStakers
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
Due: prettier-soldity

Fix zero gas price usage and param id for upgrade 7
  packages/arb-evm/message/init.go
  packages/arb-rpc-node/arbostest/arbsys_test.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
Due: go-vet

synchronize naming to merklePath in outboxes
  packages/arb-bridge-eth/contracts/bridge/Old_Outbox/OldOutbox.sol
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IOutbox.sol
Due: prettier-soldity

update OutBoxTransactionExecuted arb-ts interface
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none
