Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

update list
  packages/arb-ts/token_lists/generate_json.ts
  packages/arb-ts/token_lists/lists/token-list-42161.json
Due: none

Make mainnet default if rollup not specified
  packages/arb-util/configuration/configuration.go
Due: go-vet

Choose L2 configuration based on L1 chain ID
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix command line options
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fixed log message
  packages/arb-util/broadcastclient/broadcastclient.go
Due: go-vet

Fix arb-relay to pay attention to log levels
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
Due: go-vet

rename docker image to arb-node instead of arb-validator
  packages/arb-node.Dockerfile
  scripts/arb_deploy.py
  scripts/build_node_docker.py
Due: none

Adding in client connection versioning in preparation for sending from lastAccumnulator and also binary protocol.
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
  packages/arb-util/go.sum
Due: go-vet

DRY up event logs methods in Bridge helpers
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

testing new wasm2avm converter
  packages/arb-avm-cpp/avm/include/avm/machinestate/runwasm.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

put ts-ignore over topics array
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

update to new-new v3 chain id
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/WETH9.sol
  packages/arb-ts/scripts/getWETHBalances.ts
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: prettier-soldity

gitignore wethBalances.json
  packages/arb-ts/.gitignore
Due: none

add get token balances script
  packages/arb-ts/.gitignore
  packages/arb-ts/scripts/getTokenBalances.ts
Due: none

Add l1 address check to gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
Due: prettier-soldity

include token balance gen / recovery scripts
  packages/arb-ts/scripts/tokenRecovery/distributeToken.ts
  packages/arb-ts/scripts/tokenRecovery/distributeWeth.ts
  packages/arb-ts/scripts/tokenRecovery/getTokenBalances.ts
  packages/arb-ts/scripts/tokenRecovery/getWETHBalances.ts
Due: none

Allow all parameters to be in config file
  packages/arb-util/configuration/configuration.go
Due: go-vet

Remove unused parameter
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Default looking in home directory for mexe file
  packages/arb-util/configuration/configuration.go
Due: go-vet

Download appropriate machine file if needed
  packages/arb-node.Dockerfile
  packages/arb-util/configuration/configuration.go
Due: go-vet

Address code review comments
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/broadcasterload_test.go
  packages/arb-util/broadcaster/clientmanager.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Allow absolute pathnames for persistent storage
  packages/arb-util/configuration/configuration.go
Due: go-vet

DIfferent default persistent storage per chain
  packages/arb-util/broadcaster/clientmanager.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

add ARB_GAS_INFO and ARB_STATISTICS addresses
  packages/arb-ts/src/lib/precompile_addresses.ts
Due: none

more minor configuration tweaks
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

add precompiled address table
  docs/Special_Features.md
Due: none

Developer_Quickstart.md
  docs/Developer_Quickstart.md
Due: none
