Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Rename fireblocks private-key to ssl-key
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

update bridge helpers w/ new outbox and new OutboundTransferInitiatedV1 event signature
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Add support for separate key to sign feed
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix merge issue
  packages/arb-util/configuration/configuration.go
Due: go-vet

Cleanup code, improve error message
  packages/arb-node-core/ethbridge/auth.go
Due: go-vet

Assorted code cleanups and improved logging
  packages/arb-node-core/cmdhelp/wallet.go
Due: go-vet

remove old faucet link
  docs/User_Quickstart.md
Due: none

fix emoji
  docs/Bridging_Assets.md
Due: none

fix list formating of retryable params
  docs/L1_L2_Messages.md
Due: none

update return codes
  docs/Differences_Ethereum_Overview.md
Due: none

fix link
  docs/Differences_Ethereum_Overview.md
Due: none

Downgrade cmake version
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/fuzz_target/CMakeLists.txt
Due: none

Fix linux extension
  packages/arb-avm-cpp/fuzz_target/CMakeLists.txt
Due: none

Move proof checker into arb-avm-cpp
  packages/arb-avm-cpp/fuzz_target/CMakeLists.txt
  packages/arb-avm-cpp/fuzz_target/proofchecker/proofchecker.go
  packages/arb-avm-cpp/go.sum
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/challenge/inbox_proof_test.go
  packages/arb-node-core/challenge/machine_test.go
  packages/arb-node-core/challenge/proofmachine_test.go
  packages/arb-node-core/cmd/proof-test-server/proof_test_server.go
  packages/arb-node-core/ethbridge/inbox_test.go
  packages/arb-node-core/monitor/test_helper.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/arbostest/constructor_test.go
  packages/arb-rpc-node/arbostest/create2_test.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostest/init_test.go
  packages/arb-rpc-node/arbostest/initialization_test.go
  packages/arb-rpc-node/arbostest/nested_send_test.go
  packages/arb-rpc-node/arbostest/owner_deploy_test.go
  packages/arb-rpc-node/arbostest/precompiles_test.go
  packages/arb-rpc-node/batcher/sequencer_gas_usage_test.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/dev/arbsys_test.go
  packages/arb-rpc-node/dev/common_test.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/dev/upgrade_test.go
  packages/arb-rpc-node/dev/whitelist_test.go
  packages/arb-util/test/helper.go
Due: go-vet

Cleanups and attempted linux fix
  packages/arb-avm-cpp/fuzz_target/CMakeLists.txt
Due: none

Fixup js proof checking
  packages/arb-bridge-eth/test/executionproof.ts
  packages/arb-bridge-eth/test/proofs/buffer_test.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/bufferopcodetest.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/bytearraytest.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodeecmul-zero.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodeecpairing.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodehalt.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestarbgas.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestcode.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestdup.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestecops.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestethhash2.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetesthash.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestkeccakf.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestlogic.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestmath.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestsha256f.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodeteststack.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetesttuple.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/sideloadtest.mexe-proofs.json
Due: none

Remove hardcoded compiler paths
  packages/arb-avm-cpp/CMakeLists.txt
Due: none

Fix proving the first message of a sequencer batch
  packages/MACHINEHASH
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-node-core/ethbridgecontracts/Bridge.go
  packages/arb-node-core/ethbridgecontracts/BridgeUtils.go
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/INode.go
  packages/arb-node-core/ethbridgecontracts/Inbox.go
  packages/arb-node-core/ethbridgecontracts/Outbox.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/Validator.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-node-core/ethbridgecontracts/gen.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/MachineTester.go
  packages/arb-node-core/ethbridgetestcontracts/NodeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
Due: prettier-soldity, go-vet

Fix receipt checking and improve logging
  packages/arb-node-core/ethbridge/chain.go
  packages/arb-util/fireblocks/fireblocks.go
Due: go-vet

Add Offchain Labs logo file.
  docs/assets/offchain_labs_logo.png
Due: none

Fix link.
  README.md
Due: none

Add configurable RPC modes, enabling and disabling methods
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/web3/accounts.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/ethforwarder.go
  packages/arb-rpc-node/web3/launch.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Properly send transfer amount
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-node-core/staker/staker.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/fireblocks/fireblocks.go
Due: go-vet

Store different wallets in different directories
  packages/arb-util/configuration/configuration.go
Due: go-vet

Use unified rpc mode config option
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add new signing key when fireblocks used
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add tuple lazy loading infrastructure to libavm
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/valueloader.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
  packages/arb-avm-cpp/avm_values/include/avm_values/unloadedvalue.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/value.hpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
Due: none

test fixes
  packages/arb-evm/evm/blockresult.go
  packages/arb-rpc-node/arbostest/arbsys_test.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/dev/common_test.go
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-rpc-node/issues
Due: go-vet

Add check to ensure database with new schema is not used
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: go-vet

Removed bad fee test
  packages/arb-rpc-node/arbostest/fee_test.go
Due: go-vet

removed issues file
  packages/arb-rpc-node/issues
Due: none

only used config networks if both networks are included in config; remove inbox from networks.ts
  packages/arb-bridge-peripherals/scripts/deploy_custom_gateway.ts
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-bridge-peripherals/scripts/deploy_weth_bridge.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/networks.ts
Due: none

bump arb-ts
  packages/arb-ts/package.json
Due: none

ensure bridge.ts handles custom network (i.e., not in networks.ts)
  packages/arb-ts/src/lib/bridge.ts
Due: none

better weth gateway check
  packages/arb-ts/src/lib/bridge.ts
Due: none

check for CALL_EXCEPTION in looksLikeWethGateway check
  packages/arb-ts/src/lib/bridge.ts
Due: none

throw err directly in looksLikeWethGateway
  packages/arb-ts/src/lib/bridge.ts
Due: none

add isCustomNetwork flag to Bridge class
  packages/arb-ts/src/lib/bridge.ts
Due: none

updated ArbOS submodule pin
  .gitignore
  yarn.lock
Due: none
