Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Refactor method that is overriden for e2e testing
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Add explicit use of super class constructors
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Reorganize repo and contract dependencies
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IExitLiquidityProvider.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/ConfirmRoots.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/L1PassiveFastExitManager.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/L1SignedLiquidityProvider.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/L1StakedLiquidityProvider.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/FastExitMock.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Add UML diagram of gateway contracts
  packages/arb-bridge-peripherals/gatewayUML.svg
  packages/arb-bridge-peripherals/package.json
  yarn.lock
Due: none

fix weth9 deploy script
  packages/arb-bridge-peripherals/scripts/deploy_weth_9.ts
Due: none

remove duplicate whitelisted methods/imports
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Add custom bridge admin funcitonality to set token pair
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: prettier-soldity

link to inside arbitrum for "read the whitepaper" in readme
  README.md
Due: none

Add eip-1898 support
  packages/arb-rpc-node/web3/accounts.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/nodeInterface.go
Due: go-vet

update abi
  packages/arb-ts/src/lib/abi/BeaconProxyFactory.d.ts
  packages/arb-ts/src/lib/abi/InboxMock.d.ts
  packages/arb-ts/src/lib/abi/L1GatewayTester.d.ts
  packages/arb-ts/src/lib/abi/L2GatewayTester.d.ts
  packages/arb-ts/src/lib/abi/WETH9.d.ts
  packages/arb-ts/src/lib/abi/commons.ts
  packages/arb-ts/src/lib/abi/factories/ArbBatchTokenMover__factory.ts
  packages/arb-ts/src/lib/abi/factories/ArbTokenBridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/BeaconProxyFactory__factory.ts
  packages/arb-ts/src/lib/abi/factories/ClonableBeaconProxy__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthBatchTokenReceiver__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthERC20Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/InboxMock__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1CustomGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1CustomGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1ERC20Gateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1GatewayRouter__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1GatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1WethGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1WethGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2CustomGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2CustomGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2ERC20Gateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2GatewayRouter__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2GatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2WethGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2WethGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/StandardArbERC20__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestCustomTokenL1__factory.ts
  packages/arb-ts/src/lib/abi/factories/WETH9__factory.ts
  packages/arb-ts/src/lib/abi/index.ts
Due: none

Add abstract contract for l2 gateways to interact with
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/L2GatewayToken.sol
Due: prettier-soldity

Update docstring
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/L2GatewayToken.sol
Due: prettier-soldity

fix / tweak test harness order
  packages/arb-ts/integration_test/arb-bridge.test.ts
Due: none

update test config
  packages/arb-ts/integration_test/config.ts
Due: none

Use Arbitrum Messenger in L1 gateway router
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ArbitrumMessenger.sol
Due: prettier-soldity

Deploy weth gateway
  packages/arb-bridge-peripherals/scripts/deploy_weth_bridge.ts
Due: none

Fix issues with logs cursor
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.md
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

update doc gen script (include test files so build succeeds and remove them at the end)
  docs/sol_contract_docs/generate_docs.py
Due: none

update contract_docs.md
  docs/Contract_Docs.md
Due: none

update gatewayUML and add to bridging assets
  docs/Bridging_Assets.md
  docs/assets/gatewayUML.svg
Due: none

Dev node fixes
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/dev/dev.go
Due: go-vet

update remote-empty linecount, regenerate
  docs/sol_contract_docs/generate_docs.py
  docs/sol_contract_docs/md_docs/arb-bridge-eth/arch/Hashing.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/arch/Machine.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/arch/Marshaling.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/arch/OneStepProof.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/arch/OneStepProofHash.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/arch/Value.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/bridge/Messages.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/challenge/ChallengeLib.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/RollupLib.md
  docs/sol_contract_docs/md_docs/arb-bridge-peripherals/buddybridge/util/BuddyUtil.md
  docs/sol_contract_docs/md_docs/arb-bridge-peripherals/tokenbridge/libraries/BytesParserWithDefault.md
  docs/sol_contract_docs/md_docs/arb-bridge-peripherals/tokenbridge/libraries/ClonableBeaconProxy.md
Due: none

link to ID for gateway router (to test)
  docs/Contract_Docs.md
Due: none

revert gateway router to direct line
  docs/Contract_Docs.md
Due: none

remove outdated bridge links
  docs/L1_L2_Messages.md
Due: none

Clear sideload cache on reorg
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Improve ganache error message compatibility
  packages/arb-evm/evm/result.go
Due: go-vet

Fix request update after reorg
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Wait for block in dev node
  packages/arb-rpc-node/dev/dev.go
Due: go-vet

Fix test
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet
