Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

hotfix: getoutbox address fix
  packages/arb-ts/src/lib/bridge.ts
Due: none

bump arb-ts
  packages/arb-ts/package.json
Due: none

Update inbox deployments
  packages/arb-bridge-eth/_deployments/1_current_deployment.json
  packages/arb-bridge-eth/_deployments/4_current_deployment.json
Due: none

Fix retryable gas estimation for new ArbOS version
  packages/arb-evm/arbos/arbowner.go
  packages/arb-evm/message/message.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-util/common/address.go
Due: go-vet

split outbox deploy / activate into 4 tasks
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Fix inserting context into TransactOpts
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-util/transactauth/chain.go
  packages/arb-util/transactauth/fireblocksauth.go
  packages/arb-util/transactauth/localauth.go
  packages/arb-util/transactauth/transactauth.go
Due: go-vet

fix hardhat task param
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

update ts abis
  packages/arb-ts/src/lib/abi/IInbox.d.ts
  packages/arb-ts/src/lib/abi/Inbox.d.ts
  packages/arb-ts/src/lib/abi/factories/AddressMappingTest__factory.ts
  packages/arb-ts/src/lib/abi/factories/BridgeCreator__factory.ts
  packages/arb-ts/src/lib/abi/factories/Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/IInbox__factory.ts
  packages/arb-ts/src/lib/abi/factories/InboxMock__factory.ts
  packages/arb-ts/src/lib/abi/factories/Inbox__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1CustomGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1CustomGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1ERC20Gateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1GatewayRouter__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1GatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1WethGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1WethGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2CustomGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2GatewayRouter__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2GatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2WethGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupCreatorNoProxy__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupCreator__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestCustomTokenL1__factory.ts
Due: none

update natspec comment on createRetryableTicketNoRefundAliasRewrite
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

Update ABIs
  packages/arb-util/ethbridgecontracts/Bridge.go
  packages/arb-util/ethbridgecontracts/Inbox.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: go-vet

update abi
  packages/arb-ts/src/lib/abi/factories/BridgeCreator__factory.ts
  packages/arb-ts/src/lib/abi/factories/Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/Inbox__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupCreatorNoProxy__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupCreator__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupTester__factory.ts
Due: none

apply shouldRewriteSender condition to createRetryableTicket
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

apply beneficiary and creditback address rewrites in ethe deposit; have pause toggler pause all retryables (and rename it)
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
Due: prettier-soldity

fix typo; nicer conditinal in depositEth
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

Improve function name in inbox and add comment
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

use single address for eth deposit refund
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

Add refund address rewriting on inbox
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/libraries/AddressAliasHelper.sol
Due: prettier-soldity

fix typo in comment
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

Update go abis
  packages/arb-util/ethbridgecontracts/Bridge.go
  packages/arb-util/ethbridgecontracts/Inbox.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: go-vet

call that address in ethDeposit destinationAddress
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

connect to RollupAdminFacet in hardhat task
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Update rinkeby outbox deployment
  packages/arb-bridge-eth/_deployments/4_current_deployment.json
Due: none

Update mainnet outbox deployment
  packages/arb-bridge-eth/_deployments/1_current_deployment.json
Due: none

Fix outbox proxy address
  packages/arb-bridge-eth/_deployments/1_current_deployment.json
Due: none

Add option to use fireblocks fees instead of explicitly requesting fees
  packages/arb-util/configuration/configuration.go
  packages/arb-util/fireblocks/fireblocks.go
Due: go-vet

Make sequencer max batch cost configurable
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

expose filter param for withdraw eventlogs methods
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

update int: tests: add event queries and use filter
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/weth.test.ts
Due: none

fix error type detection in tryGetProof
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

add getOutgoingMessageState calls to tests
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/weth.test.ts
Due: none

consistent casing for getOutGoingMessageState
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

add failure messages to integration tests
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/integration_test/weth.test.ts
Due: none

add error messages to expects in integration tests
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/weth.test.ts
Due: none

use includes for other tryGetProof error message
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none
