Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

set -O7168
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
Due: none

update pin to highly optimized arbos
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
Due: none

Added multicall and admin functionality
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/sanity.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/integration_test/weth.test.ts
  packages/arb-ts/scripts/instantiate_bridge.ts
  packages/arb-ts/src/lib/assetBridger/ethBridger.ts
  packages/arb-ts/src/lib/assetBridger/tokenBridger.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/src/lib/dataEntities.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
  packages/arb-ts/src/lib/message/L1ToL2MessageGasEstimator.ts
  packages/arb-ts/src/lib/utils/multicall.ts
Due: none

arb-bridge-eth: Wait for RollupCreator.setTemplates() in deploy
  packages/arb-bridge-eth/deploy/RollupCreator.ts
Due: none

arb-bridge-eth: Add London+Berlin blocks for geth
  packages/arb-bridge-eth/geth/ethbridge.json
Due: none

arb-bridge-eth: Add update-whitelist-consumers task
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

tools: Disable whitelist for local chain
  packages/tools/scripts/setup_validators_demo.ts
Due: none

arb-bridge-eth: Run yarn format
  packages/arb-bridge-eth/deploy/RollupCreator.ts
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Update parameter names
  docs/Running_Node.md
Due: none

Added swivelling to transaction receipts more readily available
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/weth.test.ts
  packages/arb-ts/src/lib/assetBridger/assetBridger.ts
  packages/arb-ts/src/lib/assetBridger/ethBridger.ts
  packages/arb-ts/src/lib/assetBridger/tokenBridger.ts
  packages/arb-ts/src/lib/message/L1ToL2Message.ts
  packages/arb-ts/src/lib/message/L2ToL1Message.ts
Due: none

Removed unused imports
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/weth.test.ts
Due: none

Addressed code review comments
  packages/arb-avm-cpp/app/arbcorerunner.cpp
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cavm/cpruningmode.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbstorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/machine.cpp
  packages/arb-node-core/staker/staker.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Migrated a lot of remaining todos to a misc ticket
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/sanity.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/integration_test/weth.test.ts
  packages/arb-ts/scripts/instantiate_bridge.ts
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/assetBridger/ethBridger.ts
  packages/arb-ts/src/lib/assetBridger/tokenBridger.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/src/lib/dataEntities.ts
  packages/arb-ts/src/lib/errors.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
  packages/arb-ts/src/lib/message/L1ToL2Message.ts
  packages/arb-ts/src/lib/message/L1ToL2MessageGasEstimator.ts
  packages/arb-ts/src/lib/message/L2ToL1Message.ts
  packages/arb-ts/src/lib/utils/eventFetcher.ts
  packages/arb-ts/src/lib/utils/networkState.ts
  packages/arb-ts/src/lib/utils/networks.ts
  packages/arb-ts/src/lib/utils/signerOrProvider.ts
Due: none

Test commit
  .circleci/config.yml
Due: none

Remove gas compare workflow job entry
  .circleci/config.yml
Due: none

List the files and directories
  .circleci/config.yml
Due: none

Removed gas reporter from gitignore
  .gitignore
Due: none

Remove npmexecpath from testci
  packages/arb-bridge-eth/package.json
Due: none

Print process args
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: none

Try flattened npm command
  .circleci/config.yml
  packages/arb-bridge-eth/package.json
Due: none

Should have been logging env not args
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: none

Formatting
  packages/arb-bridge-eth/package.json
Due: none

Check codechecks diff report
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Added codechecks back
  .circleci/config.yml
  packages/arb-bridge-eth/package.json
Due: none

Set codechecks info at the package level
  packages/arb-bridge-eth/codechecks.yml
Due: none

Moved gas increase to confirm node function
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Gas estimate tests sometimes underflow
  packages/arb-rpc-node/dev/estimate_test.go
Due: go-vet

Added gas increase to confirmNextNode
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Added more iterartions to gas increase
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Reduced test requirements to allow high gas
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: none

Added failure for 10% changes
  packages/arb-bridge-eth/hardhat.dev-config.ts
Due: none

Cleanup L1 nft escrow and gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/Escrow721.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1NftGateway.sol
Due: prettier-soldity

Add L2 nft bridge functionality
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC721.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2NftGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1NftGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/Escrow721.sol
Due: prettier-soldity

Add nft bridge skeleton code
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2NftGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1NftGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1NftRouter.sol
Due: prettier-soldity

Restructure files for nft bridge
  packages/arb-bridge-peripherals/contracts/nft-bridge/L1NftGateway.sol
  packages/arb-bridge-peripherals/contracts/nft-bridge/L1NftRouter.sol
  packages/arb-bridge-peripherals/contracts/nft-bridge/L2NftGateway.sol
  packages/arb-bridge-peripherals/contracts/nft-bridge/StandardArbERC721.sol
Due: prettier-soldity

Add initial nft e2e deposit test
  packages/arb-bridge-peripherals/contracts/nft-bridge/L1NftGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestERC721.sol
  packages/arb-bridge-peripherals/test/nft.e2e.ts
Due: prettier-soldity

Added a failure threshold for gas reporter tests
  packages/arb-bridge-eth/hardhat.dev-config.ts
Due: none

Add minimal NFT bridge deposit flow
  packages/arb-bridge-peripherals/contracts/nft-bridge/Escrow721.sol
  packages/arb-bridge-peripherals/contracts/nft-bridge/L1NftGateway.sol
  packages/arb-bridge-peripherals/contracts/nft-bridge/L1NftRouter.sol
  packages/arb-bridge-peripherals/contracts/nft-bridge/L2NftGateway.sol
  packages/arb-bridge-peripherals/contracts/nft-bridge/StandardArbERC721.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestERC721.sol
  packages/arb-bridge-peripherals/test/nft.e2e.ts
Due: prettier-soldity

Add nft withdrawal e2e test and fix bugs
  packages/arb-bridge-peripherals/contracts/nft-bridge/L2NftGateway.sol
  packages/arb-bridge-peripherals/contracts/nft-bridge/StandardArbERC721.sol
  packages/arb-bridge-peripherals/test/nft.e2e.ts
Due: prettier-soldity

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

