Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Update deployments
  packages/arb-bridge-eth/deploy/BridgeUtils.ts
  packages/arb-bridge-eth/deploy/SequencerInbox.ts
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Update README.md
  packages/arb-avm-cpp/README.md
Due: none

Update README.md
  packages/arb-util/README.md
Due: none

Update README.md
  packages/arb-bridge-eth/README.md
Due: none

Fix deposit eth
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

Fix issues with inbox reader static reorg checking
  packages/arb-bridge-eth/contracts/bridge/BridgeUtils.sol
  packages/arb-node-core/ethbridgecontracts/BridgeUtils.go
  packages/arb-node-core/monitor/inboxReader.go
Due: prettier-soldity, go-vet

Comment out mainnet config
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Add inbox deployment script
  packages/arb-bridge-eth/deploy/Inbox.ts
Due: none

Update deployment.json
  packages/arb-bridge-peripherals/deployment.json
Due: none

Start batcher after catching up
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Rename mustEndBatchAfterItem to mustEndSectionAfterItem
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Update node argument validity checking
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Create new big int when modifying currentHeight
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Have inbox reader recognize reorgs without new messages (WIP)
  packages/arb-bridge-eth/contracts/bridge/BridgeUtils.sol
  packages/arb-node-core/ethbridge/bridgeutils.go
  packages/arb-node-core/ethbridgecontracts/BridgeUtils.go
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgecontracts/gen.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/monitor/monitor.go
Due: prettier-soldity, go-vet

Change GetCountsAndAccumulators parameter types
  packages/arb-bridge-eth/contracts/bridge/BridgeUtils.sol
  packages/arb-node-core/ethbridge/bridgeutils.go
  packages/arb-node-core/ethbridgecontracts/BridgeUtils.go
  packages/arb-node-core/staker/staker_test.go
Due: prettier-soldity, go-vet

Harden inbox reader
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Remove reorg from sequencer batcher test to speed it up
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Temporarily acquire message delivery mutex when getting batch items
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Refactor sequencer batch section metadata creation
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Fix inbox reader and tests
  packages/arb-bridge-eth/contracts/bridge/BridgeUtils.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridgecontracts/BridgeUtils.go
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/Validator.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/utils/rollup.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: prettier-soldity, go-vet

Improving logging and recovery around failed batches
  packages/arb-node-core/ethbridge/chain.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

weth deploy
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/contracts/misc/WETH9.sol
  packages/arb-bridge-peripherals/scripts/deploy_weth_9.ts
Due: prettier-soldity

Use TransactAuth to create validator wallet (fixes gas price)
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/validator.go
Due: go-vet

Reuse existing validator wallet address if possible
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

tmp
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/package.json
Due: none

Improve sequencer batch submission
  packages/arb-node-core/ethbridge/builderbackend.go
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-node-core/ethutils/client.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Add uninitialized memory test
  packages/arb-rpc-node/arbostest/initialization_test.go
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
Due: prettier-soldity, go-vet

Fix CodeSegment::getSubset off by one again and add test
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/tests/code.cpp
Due: none
