Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

edits on useful addresses
  docs/Useful_Addresses.md
Due: none

don't overwrite gas price
  packages/arb-rpc-node/dev/estimate_test.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

support older versions of ArbOS
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Refactor storage of rollup logic contracts
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupAdminLogic.sol
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/test/arbRollup.spec.ts
  packages/arb-upgrades/index.ts
Due: prettier-soldity

Rename rollupbase to rollupcore
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupAdminLogic.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupUserLogic.sol
Due: prettier-soldity

Add getter for rollup validators
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Simplify function parameters in rollup core using new storage layout
  packages/arb-bridge-eth/contracts/rollup/RollupAdminLogic.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupUserLogic.sol
Due: prettier-soldity

Fix shadowed declaration
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Added current work in broken state
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/INodeFactory.sol
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/NodeFactory.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: prettier-soldity

Refactor hardhat config to have separate defaults file and have optional upgrade tasks
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/hardhat.default-config.ts
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-eth/scripts/upgrade.ts
  packages/arb-bridge-eth/scripts/verifyTask.ts
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-bridge-peripherals/package.json
  packages/arb-upgrades/ethBridgeTasks.ts
  packages/arb-upgrades/index.ts
  packages/arb-upgrades/peripheralsTasks.ts
Due: none

revert batchnum comment
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Bump go dependency in docker
  .circleci/images/backend-base/Dockerfile
  .circleci/images/integration-base/Dockerfile
Due: none

Bump dep in dist
  packages/arb-node.Dockerfile
Due: none

Bump docker dep in dist dockerfile
  scripts/build-docker-local
Due: none

Added initial commit of node refactoring - still contains some //CHRIS: todos
  docs/sol_contract_docs/generate_docs.py
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/INodeFactory.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/IRollupCore.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/NodeFactory.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/RollupCore.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/RollupCreator.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/facets/AbsRollupUserFacet.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/facets/IRollupUser.md
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/INodeFactory.sol
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/NodeFactory.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
  packages/arb-bridge-eth/contracts/rollup/RollupLib.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-bridge-eth/deploy/NodeFactory.ts
  packages/arb-bridge-eth/deploy/RollupCreator.ts
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/scripts/upgrade.ts
  packages/arb-bridge-eth/test/arbRollup.spec.ts
  packages/arb-bridge-eth/test/common/rolluplib.ts
  packages/arb-bridge-eth/test/node.spec.ts
Due: prettier-soldity

remove test file
  packages/all.sh
Due: none

Create validator wallet lazily
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/builderbackend.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Use nil pointer instead of zero address when wallet not created
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/builderbackend.go
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

Fix merge conflicts
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Bump CI versions
  .circleci/config.yml
Due: none

Reset golang cache in CI
  .circleci/config.yml
Due: none

Fix and reset CI
  .circleci/config.yml
Due: none

Gracefully shutdown database
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cavm/ctypes.h
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readsnapshottransaction.hpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/data_storage/src/readtransaction.cpp
  packages/arb-avm-cpp/data_storage/src/readwritetransaction.cpp
Due: go-vet

Removed final comments
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/IRollupCore.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/RollupCore.md
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
Due: prettier-soldity

Added scripts for comparing gas
  packages/arb-bridge-eth/hardhat.config.ts
  packages/tools/package.json
  packages/tools/scripts/compare-gas-commits.sh
  packages/tools/scripts/compare-gas-reports.ts
Due: none

Corrected variable access
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Added logging and paramaterised the input to gas comparison shell script
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Incorrect folder name
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Added logging for current hash
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Added a hardhat clean step
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Added clean and compile steps
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Updated command line invocation of comparison node script
  .gitignore
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

