Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

pending transaction failure not fatal
  packages/arb-node-core/ethbridge/fireblocksauth.go
Due: go-vet

Move transactauth to arb-util
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/bridge.go
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/batcher/batcher.go
  packages/arb-rpc-node/batcher/batcher_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-cli/arb-cli.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-util/arbtransaction/arbtransaction.go
  packages/arb-util/transactauth/chain.go
  packages/arb-util/transactauth/fireblocksauth.go
  packages/arb-util/transactauth/localauth.go
  packages/arb-util/transactauth/transactauth.go
Due: go-vet

make dev folder tests pass
  packages/arb-evm/arbos/arbowner.go
  packages/arb-rpc-node/dev/common_test.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/dev/upgrade_test.go
Due: go-vet

address map fix
  packages/arb-evm/message/message.go
Due: go-vet

Add new TransactAuth for L1 delayed inbox with Fireblocks
  packages/arb-util/arbtransaction/arbtransaction.go
  packages/arb-util/ethutils/client.go
  packages/arb-util/transactauth/delayedinboxfireblocksauth.go
  packages/arb-util/transactauth/fireblocksauth.go
Due: go-vet

fix snapshot remap
  packages/arb-rpc-node/snapshot/snapshot.go
Due: go-vet

Add ArbOS address remapping support to EstimateRetryableGas
  packages/arb-evm/arbos/arbowner.go
  packages/arb-rpc-node/snapshot/snapshot.go
Due: go-vet

Revert "fix snapshot remap"
  packages/arb-rpc-node/snapshot/snapshot.go
Due: go-vet

Make DelayedInboxAuth generic over L1 auth
  packages/arb-util/arbtransaction/arbtransaction.go
  packages/arb-util/transactauth/delayedinboxauth.go
  packages/arb-util/transactauth/fireblocksauth.go
Due: go-vet

Actually use HashForRbf in rbf code
  packages/arb-util/transactauth/chain.go
Due: go-vet

apply shouldRewriteSender condition to createRetryableTicket
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

fix typo in comment
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

update natspec comment on createRetryableTicketNoRefundAliasRewrite
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

apply beneficiary and creditback address rewrites in ethe deposit; have pause toggler pause all retryables (and rename it)
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
Due: prettier-soldity

use single address for eth deposit refund
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

fix confirmed / unconfirmed logic in getOutgoingMessageState
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

update ts abis
  packages/arb-ts/src/lib/abi/IInbox.d.ts
  packages/arb-ts/src/lib/abi/Inbox.d.ts
  packages/arb-ts/src/lib/abi/factories/AddressMappingTest__factory.ts
  packages/arb-ts/src/lib/abi/factories/BridgeCreator__factory.ts
  packages/arb-ts/src/lib/abi/factories/Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/IInbox__factory.ts
  packages/arb-ts/src/lib/abi/factories/InboxMock__factory.ts
  packages/arb-ts/src/lib/abi/factories/Inbox__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1CustomGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1CustomGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1ERC20Gateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1GatewayRouter__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1GatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1WethGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1WethGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2CustomGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2GatewayRouter__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2GatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2WethGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupCreatorNoProxy__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupCreator__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestCustomTokenL1__factory.ts
Due: none

Update ABIs
  packages/arb-util/ethbridgecontracts/Bridge.go
  packages/arb-util/ethbridgecontracts/Inbox.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: go-vet

dynamically handle old/new outbox routing
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/networks.ts
Due: none

change indexInBatch to path; use try/catch for newOutboxAddress
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

bump arb-ts
  packages/arb-ts/package.json
Due: none

fix typo; nicer conditinal in depositEth
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

call that address in ethDeposit destinationAddress
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

direct to old/new outboxes in arb-ts outbox methods
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/src/lib/networks.ts
Due: none

Add comment and make warning error
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

More addresses are replaced
  packages/arb-avm-cpp/tests/contract.mexe
  packages/arb-bridge-eth/geth/ethbridge-harmony.json
  packages/arb-bridge-eth/geth/ethbridge.json
  packages/arb-bridge-eth/geth/keystore/UTC--2019-12-17T03-15-59.992315000Z--81183c9c61bdf79db7330bbcda47be30c0a85064
  packages/arb-bridge-eth/parity/keystore/UTC--2019-12-17T03-15-59.992315000Z--81183c9c61bdf79db7330bbcda47be30c0a85064
  packages/arb-bridge-eth/parity/poa.json
Due: none

update abi
  packages/arb-ts/src/lib/abi/factories/BridgeCreator__factory.ts
  packages/arb-ts/src/lib/abi/factories/Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/Inbox__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupCreatorNoProxy__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupCreator__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupTester__factory.ts
Due: none

Update go abis
  packages/arb-util/ethbridgecontracts/Bridge.go
  packages/arb-util/ethbridgecontracts/Inbox.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: go-vet

Try to start an additional upgrade in upgrade test
  packages/arb-rpc-node/dev/upgrade_test.go
Due: go-vet

Use generic reorgAndModifySequencerMessages function
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Add config flag to reorg rewriting sequencer address
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Handle having multiple sequencers and how they publish batches
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

