Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Add check for cancelled context in logscursor read loops
  packages/arb-util/core/logreader.go
Due: go-vet

Refactor logsCursor
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cavm/ctypes.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/core/logreader.go
  packages/arb-util/core/lookup.go
Due: go-vet

Update arb-os
  packages/arb-evm/evm/blockresult.go
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/interface.go
Due: go-vet

Start updating for new arbos
  packages/MACHINEHASH
  packages/arb-evm/arboscontracts/arbsys.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Update ArbOS and expand test
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
Due: go-vet

Expand test
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
Due: go-vet

Add empty block warnings to txdb
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Fix deposit script
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Add L1 block number to tx rpc
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/interface.go
Due: go-vet

Improve staker strategies and edge case handling
  .gitignore
  packages/arb-bridge-eth/contracts/validator/Validator.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/ethbridge/validatorUtils.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/nodefactory.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/validator.go
Due: prettier-soldity, go-vet

Clarify error when catching up to chain
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

Error grammar
  packages/arb-avm-cpp/cmachine/arbcore.go
Due: go-vet

Fix comments
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/staker/staker.go
Due: prettier-soldity, go-vet

Update generated files
  packages/MACHINEHASH
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/nodefactory.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: go-vet

Create ReadSnapshotTransaction
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/include/data_storage/aggregator.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbstorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readsnapshottransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readtransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readwritetransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/data_storage/src/readtransaction.cpp
  packages/arb-avm-cpp/data_storage/src/readwritetransaction.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: none

Address code review comments
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbstorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readtransaction.hpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: none

Update arbos and continue adding tests
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Update arbos and test
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Update arbos
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Expand testing
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Update ArbOS and add test
  packages/MACHINEHASH
  packages/arb-evm/arbos/arbos.go
  packages/arb-evm/arbos/arbretryable.go
  packages/arb-evm/arboscontracts/abigen.sh
  packages/arb-evm/arboscontracts/arbretryable.go
  packages/arb-evm/message/message.go
  packages/arb-evm/message/retryable.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/web3/ethclient.go
Due: go-vet

Improve bounds of staker challenge tests again
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Update MACHINEHASH
  packages/MACHINEHASH
Due: none

Update arbos and fail on all errors in dev agg
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet
