Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Rename tracing namespace
  packages/arb-rpc-node/web3/launch.go
Due: go-vet

Add destroyed contract tracing for transactions
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-evm/evm/result.go
  packages/arb-evm/evm/tracing.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/dev/trace_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

Destroyed contract tracing support for calls
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
  packages/arb-rpc-node/dev/trace_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/trace.go
Due: prettier-soldity, go-vet

Add filter support
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

Added a failure threshold for gas reporter tests
  packages/arb-bridge-eth/hardhat.dev-config.ts
Due: none

Added codechecks back
  .circleci/config.yml
  packages/arb-bridge-eth/package.json
Due: none

Set codechecks info at the package level
  packages/arb-bridge-eth/codechecks.yml
Due: none

Fix trace test
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
Due: prettier-soldity, go-vet

Address code review comments
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/flags.go.in
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/pruningmode.h
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: go-vet

Address code review comments
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/cmachine/machine.go
Due: go-vet

Add `C` wrapper to pruningmode.h
  packages/arb-avm-cpp/data_storage/include/data_storage/pruningmode.h
Due: none

Clean up log output while syncing
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Update unit test pruning mode defaults
  packages/arb-util/configuration/configuration.go
Due: go-vet

Make tracing namespace configurable
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/launch.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Addressed code review comments
  packages/arb-avm-cpp/app/arbcorerunner.cpp
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cavm/cpruningmode.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbstorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/machine.cpp
  packages/arb-node-core/staker/staker.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add checkpoint database pruning
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/tests/aggregator.cpp
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix missing library dependency
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
Due: none

Keep track of pruning mode in database
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add validator pruning, remove debugging options
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-node-core/staker/staker.go
  packages/arb-util/core/lookup.go
Due: go-vet

Handle initializing pruning state
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Remove extraneous settings
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix mac build
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
Due: none

Fix merge issues
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/dev/trace_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

Updated tests to non nullable providers
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/sanity.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/integration_test/weth.test.ts
Due: none

Update liquidity exit documentation
  docs/Withdrawals.md
Due: none

Cache machine at last block when sequencer
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/combinedmachinecache.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/combinedmachinecache.cpp
  packages/arb-avm-cpp/tests/combinedmachinecache.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add nft bridge deploy script
  packages/arb-bridge-peripherals/scripts/deploy_nft.ts
Due: none
