Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Update comment on challenge resolution
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
Due: prettier-soldity

enforce maximum outgoing message limit in assertion
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

add maximum sends tests
  packages/arb-bridge-eth/test/arbRollup.spec.ts
  packages/arb-bridge-eth/test/rolluplib.ts
Due: none

Use cpp-base 0.3.3 for secure RNG
  .circleci/config.yml
  .circleci/images/dockerhub.sh
  packages/arb-node.Dockerfile
Due: none

change test name, use hexdatalength in rolluplib.ts
  packages/arb-bridge-eth/test/arbRollup.spec.ts
  packages/arb-bridge-eth/test/rolluplib.ts
Due: none

Update cpp-base to 0.3.4 with changes already in this branch
  .circleci/config.yml
  .circleci/images/dockerhub.sh
  packages/arb-node.Dockerfile
Due: none

query c++ cache even if go cache missed
  packages/arb-rpc-node/blockcache/blockcache.go
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Revert using boost random instead of openssl
  .circleci/config.yml
  .circleci/images/cpp-base/Dockerfile
  .circleci/images/dockerhub.sh
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/cmachine/flags.go.in
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-node.Dockerfile
Due: none

Compile with openssl
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/external/CMakeLists.txt
Due: none

Fixup openssl compilation issues
  .circleci/config.yml
  .circleci/images/backend-base/Dockerfile
  .circleci/images/integration-base/Dockerfile
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-node.Dockerfile
Due: none

Remove outdated contracts used as examples
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/ConfirmRoots.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/IWETH9L1.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/L1PassiveFastExitManager.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/L1SignedLiquidityProvider.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/L1StakedLiquidityProvider.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/FastExitMock.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Remove old buddy bridge contracts
  packages/arb-bridge-peripherals/contracts/buddybridge/arbitrum/BuddyDeployer.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/ethereum/L1Buddy.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/test/Mock.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/test/TestBuddy.sol
  packages/arb-bridge-peripherals/contracts/buddybridge/util/BuddyUtil.sol
  packages/arb-bridge-peripherals/test/buddyBridge.l1.ts
  packages/arb-bridge-peripherals/test/buddyBridge.l2.ts
Due: prettier-soldity

Add another admin disclaimer to docs
  docs/Bridging_Assets.md
Due: none

Fix typo
  docs/Bridging_Assets.md
Due: none

added manual gasLimit to deposiEth when initializing wallet
  packages/tools/scripts/setup_validators_demo.ts
Due: none

should be 800000
  packages/tools/scripts/setup_validators_demo.ts
Due: none

add some inline comments, remove important TODO (done)
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

remove local deployment tutorial temporarily
  docs/Local_Blockchain.md
Due: none

use commind line args for arb-ts scripts
  packages/arb-ts/package.json
  packages/arb-ts/scripts/cancelRetryable.ts
  packages/arb-ts/scripts/checkRetryableStatus.ts
  packages/arb-ts/scripts/getCLargs.ts
  packages/arb-ts/scripts/redeemRetryable.ts
  packages/arb-ts/scripts/setArbCustomGateways.ts
  packages/arb-ts/scripts/setStandardGateways.ts
Due: none

Don't override CallOpts block number in validator
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
Due: go-vet

remove manual gas limit
  packages/tools/scripts/setup_validators_demo.ts
Due: none

remove local blockchain setup doc
  docs/Local_Blockchain.md
Due: none

Remove unused code and update comments
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
Due: prettier-soldity

add back local blockchain setup with message
  docs/Local_Blockchain.md
Due: none

fix accidental deletion of counterpartGateway
  packages/arb-ts/src/lib/abi/L1ERC20Gateway.d.ts
Due: none

Add extra fields to checkpoint
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/blockreason.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/sideloadcache.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/sideloadcache.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/tests/CMakeLists.txt
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/helper.cpp
  packages/arb-avm-cpp/tests/helper.hpp
  packages/arb-avm-cpp/tests/sideloadcache.cpp
Due: none

Have validator keep stake down if it plans to re-stake
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

Update outbox execution docstring for clarity
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Update wording in docstring
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Add extra special logging for an inbox forced reorg
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

update some comments
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

check bool return value and revert for onTokenTransfer in Arbitrum gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ArbitrumGateway.sol
Due: prettier-soldity

Seed sideload cache on startup
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/sideloadcache.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/monitor/monitor.go
Due: go-vet

update abi ci hook
  .circleci/config.yml
Due: none

add yarn.lock test
  .circleci/config.yml
Due: none
