Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Remove yarn resolutions
  package.json
  packages/arb-ts/package.json
  yarn.lock
Due: none

Update .clabot
  .clabot
Due: none

some cleanup
  docs/Node_Providers.md
Due: none

Normalize docker images
  .circleci/config.yml
  .circleci/images/backend-base/Dockerfile
  .circleci/images/cpp-asan-base/Dockerfile
  .circleci/images/cpp-base/Dockerfile
  .circleci/images/cpp-tsan-base/Dockerfile
  .circleci/images/dist-base/Dockerfile
  .circleci/images/dockerhub.sh
  .circleci/images/frontend-base/Dockerfile
  .circleci/images/integration-base/Dockerfile
  packages/arb-node.Dockerfile
  scripts/build-docker-local
Due: none

update yarn.lock
  yarn.lock
Due: none

bump arb-ts version
  packages/arb-ts/package.json
Due: none

set submodule pin
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
Due: none

Use debian instead of ubuntu for docker base
  .circleci/config.yml
  .circleci/images/backend-base/Dockerfile
  .circleci/images/cpp-asan-base/Dockerfile
  .circleci/images/cpp-base/Dockerfile
  .circleci/images/cpp-tsan-base/Dockerfile
  .circleci/images/dist-base/Dockerfile
  .circleci/images/dockerhub.sh
  .circleci/images/integration-base/Dockerfile
  packages/arb-node.Dockerfile
  scripts/build-docker-local
Due: none

Update package.json
  packages/arb-ts/package.json
Due: none

L1GatewayRouter refund address entry point
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
  packages/arb-bridge-peripherals/test/gatewayRouter.l1.ts
Due: prettier-soldity

remove .only in test cases
  packages/arb-bridge-peripherals/test/gatewayRouter.l1.ts
Due: none

code reuse
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
Due: prettier-soldity

Update all docker images
  .circleci/config.yml
  .circleci/images/backend-base/Dockerfile
  .circleci/images/cpp-asan-base/Dockerfile
  .circleci/images/cpp-base/Dockerfile
  .circleci/images/cpp-tsan-base/Dockerfile
  .circleci/images/dist-base/Dockerfile
  .circleci/images/dockerhub.sh
  .circleci/images/integration-base/Dockerfile
  packages/arb-node.Dockerfile
  scripts/build-docker-local
Due: none

Add tracing comparison test with open ethereum
  packages/arb-rpc-node/dev/openethereumtest_trace_test.go
  packages/arb-util/ethutils/client.go
Due: go-vet

Order frames by trace address
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

Add trace test to CI
  .circleci/config.yml
Due: none

Update solidity test contracts
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
Due: prettier-soldity, go-vet

Fix delegatecall from address
  packages/arb-evm/evm/tracing.go
Due: go-vet

Update openethereum config
  .circleci/config.yml
Due: none

Always show input field for calls even if empty
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

ITokenGateway.sol
  пакеты/вилочные мосты-периферия/контракты/токенбридж/библиотеки/шлюз/ITokenGateway.sol
Due: prettier-soldity

Remove unneeded unaliased check for crosschain message
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
Due: prettier-soldity

Add 3rd party gateways to useful addresses
  docs/Useful_Addresses.md
Due: none

Add different section for 3rd party gateways
  docs/Useful_Addresses.md
Due: none

Update Installation.md
  docs/Installation.md
Due: none

Export L1L2GasEstimator
  packages/arb-ts/src/index.ts
Due: none

Bump beta 14
  .envrc
  packages/arb-ts/package.json
Due: none

move custom refund logic to L1ArbitrumMessenger
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/L1ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/InboxMock.sol
  packages/arb-bridge-peripherals/test/gatewayRouter.l1.ts
Due: prettier-soldity

update arbitrum testnet block explorer url
  docs/Public_Testnet.md
  docs/Useful_Addresses.md
Due: none

update .clabot
  .clabot
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

