Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Update validation done on admin create node and withdraw staker mechanism
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Add sequencer inbox reorg protection to admin force create node
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: prettier-soldity

Fix require check on outbox path
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Remove admin stake on new node and refactor gas used util into rolluplib
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupLib.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Add c++ expiring cache
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/sideloadcache.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/sideloadcache.cpp
  packages/arb-avm-cpp/tests/CMakeLists.txt
  packages/arb-avm-cpp/tests/sideloadcache.cpp
  packages/arb-rpc-node/blockcache/blockcache.go
  packages/arb-rpc-node/blockcache/blockcache_test.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/core/outputLookup.go
Due: go-vet

readd comments / use proveInboxContainsMessage sematic method post branch-merge
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

add OUTBOX_VERSION and interface compatability methods to new outbox, keep oldoutbox contacts in repo
  packages/arb-bridge-eth/contracts/bridge/Old_Outbox/OldOutbox.sol
  packages/arb-bridge-eth/contracts/bridge/Old_Outbox/OutboxEntry.sol
Due: prettier-soldity

Fix test case
  packages/arb-bridge-eth/test/arbRollup.spec.ts
Due: none

Refactor rollup timing to account for time spent paused
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
Due: prettier-soldity

Add missing paused time spent in validator utils
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
Due: prettier-soldity

remove semantic outbox method
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

update various comments
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

comment out slither in CI
  .circleci/config.yml
Due: none

remove override from method remove from interface
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

fix param name in natspec comment
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Add yarn audit to CI
  .circleci/config.yml
  package.json
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: none

Add missing events to rollup critical operations
  packages/arb-bridge-eth/contracts/bridge/Bridge.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IBridge.sol
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Add missing event
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Implement tuple inlining (recursively)
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
Due: none

Make inline tuple serialization non-recursive
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Make inline tuple parseTupleData non-recursive
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Refactor pause timer to cover multiple pauses, and simplify api
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
Due: prettier-soldity

Fix timer logic and cleanup old dependency
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
Due: prettier-soldity

Remove outdated comment
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Minor code cleanup
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Remove count=0 edge case of parseTupleData
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Comment tuple inlining code
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Use secret randomized hash for tuple inlining check
  packages/arb-avm-cpp/avm_values/include/avm_values/tuplestub.hpp
  packages/arb-avm-cpp/avm_values/src/tuplestub.cpp
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readtransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/data_storage/src/readtransaction.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
Due: none

Switch to STATE_COLUMN for secret hash seed and add test
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
Due: none

Add -lcrypto to Go linking flags
  packages/arb-avm-cpp/cmachine/flags.go.in
Due: none

Use boost instead of openssl to generate secret hash seed
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/cmachine/flags.go.in
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Add libboost-random to cpp-base image
  .circleci/images/cpp-base/Dockerfile
Due: none

Correct comment in updateSecretHashSeed
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Change shouldInlineTuple formula to be consistent
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Remove old files and add pre/post slither hooks
  packages/arb-bridge-peripherals/contracts/BatchMover.sol
  packages/arb-bridge-peripherals/contracts/MMR.sol
  packages/arb-bridge-peripherals/package.json
Due: prettier-soldity

enforce maximum outgoing message limit in assertion
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

update external packcage handling in slither scripts, update slither triage
  packages/arb-bridge-peripherals/package.json
  packages/arb-bridge-peripherals/slither.db.json
Due: none

update outboxentries (use mapping instead of array)
  packages/arb-bridge-eth/contracts/bridge/Old_Outbox/OldOutbox.sol
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IOutbox.sol
Due: prettier-soldity

Update challenge contracts so they only conclude on timeouts
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
Due: prettier-soldity
