Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Fix user quickstart key
  docs/User_Quickstart.md
Due: none

use path returned by nodeinterface for messageHasExecuted
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Theoretically implement flags to erase old blocks
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/core/lookup.go
Due: go-vet

Remove fastwithdrawal and instead add transfer of exits
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
Due: prettier-soldity

Remove erc1363 support and instead use 677
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/ERC677Token.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IERC1363.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IERC677.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestPostDepositCall.sol
Due: prettier-soldity

wip: calculate path from batch size and leaf index client side
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Add test for fast withdrawal using exit transfer
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/PassiveFastExitManager.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Add WithdrawRedirected event
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
Due: prettier-soldity

Revert "wip: calculate path from batch size and leaf index client side"
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Improve ArbCore handling of checkpoint deletion
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Move checkpoint deleted check into getClosestExecutionMachine
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

test script
  packages/arb-ts/test.ts
Due: none

hotfix: always deposit sufficient eth to cover l2 costs for deposit token
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/src/lib/bridge.ts
Due: none

differences w/ ethereum docs: add retryable link; little spelling grammar things
  docs/Differences_Ethereum_Overview.md
Due: none

upcase headlines, fix typos, use american spelling 🇺🇸
  docs/User_Quickstart.md
Due: none

Revamp broadcast feed format (WIP)
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientmanager.go
  packages/arb-util/broadcaster/types.go
  packages/arb-util/core/outputLookup.go
Due: go-vet

Add delayed messages to broadcastclient and start on arb-relay (WIP)
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-util/broadcastclient/broadcastclient.go
Due: go-vet

Add ripemd160f and blake2f to AVM instruction set spec
  docs/AVM_Specification.md
Due: none

updating wasm2avm copiler
  compiler.wasm
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof2.sol
Due: prettier-soldity

Fix error in blake2f definition
  docs/AVM_Specification.md
Due: none

Clarify specification of blake2f function
  docs/AVM_Specification.md
Due: none

Fix offset in code serialization
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: none

testing compiler
  compiler.wasm
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

Fix typo and add better fee model explanation
  docs/Differences_Ethereum_Overview.md
  docs/User_Quickstart.md
Due: none

Move batcher start before WaitToCatchUp
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Fix reorging log cursor after log delivery before confirmation
  packages/arb-avm-cpp/data_storage/include/data_storage/datacursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

always deposit sufficient eth to cover l2 costs for deposit token
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/src/lib/bridge.ts
Due: none

Fix CodeSegment constructor used by getSubset
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
Due: none

Fix sequencer batcher retrying tx batch components individually
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

allow bridge admin to directly register a custom l1/l2 token pair for mainnet beta
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
Due: prettier-soldity

Update ArbOS and add test coverage of fix
  packages/arb-rpc-node/arbostest/nested_send_test.go
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
Due: prettier-soldity, go-vet

Optionally use RPC to get current eth gas price
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/launch.go
Due: go-vet

Upgrade arbos and add gasleft test
  packages/arb-rpc-node/arbostest/evmOps_test.go
  packages/arb-rpc-node/arbostestcontracts/opcodes.go
  packages/arb-rpc-node/arbostestcontracts/opcodes.sol
Due: prettier-soldity, go-vet
