Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.3.2'
          - 'prettier-plugin-solidity@^1.0.0-beta.17'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "PATH=/usr/local/bin:$PATH  go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Update Running_Nitro_Node.md
  docs/Running_Nitro_Node.md
Due: none

updat nova mainnet status
  docs/AnyTrust.md
  docs/Mainnet.md
Due: none

fix: nova explorer urls (#2440)
  docs/Useful_Addresses.md
Due: none

updat nova mainnet status (#2446)
  docs/AnyTrust.md
  docs/Mainnet.md
Due: none

Update docs/L1_L2_Messages.md
  docs/L1_L2_Messages.md
Due: none

added outboundTransferCustomRefundwithPermit, added IDaiLikePermit, cleaned up test contracts for permit
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/DaiToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IDaiLikePermit.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestERC20PermitDai.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestERC20PermitNoVersion.sol
  packages/arb-bridge-peripherals/coverage.json
  packages/arb-bridge-peripherals/package.json
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
  packages/arb-bridge-peripherals/test/gatewayRouter.l1.ts
Due: prettier-soldity

ran format
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IDaiLikePermit.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestERC20PermitDai.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestERC20PermitNoVersion.sol
  packages/arb-bridge-peripherals/coverage.json
  packages/arb-bridge-peripherals/test/gatewayRouter.l1.ts
Due: prettier-soldity

updating the landing page
  docs/Developer_Quickstart.md
Due: none

updating the landing page (#2448)
  docs/Developer_Quickstart.md
Due: none

Update node providers
  docs/Node_Providers.md
Due: none

Update nitro node version to beta.9
  docs/Node_Providers.md
  docs/Running_Nitro_Node.md
Due: none

pin alpine image to 3.16.2
  scripts/build_node_docker.py
Due: none

Update build script to use up to date alpine docker image
  scripts/build_node_docker.py
Due: none

fix address aliasing description (#2425)
  docs/L1_L2_Messages.md
Due: none

Add ShutdownForNitroSet event to sequencer inbox
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
Due: prettier-soldity

Update documentation for quicknode
  docs/Node_Providers.md
Due: none

docs: update latest arb-node docker tag
  docs/Running_Node.md
Due: none

DIsable feed if empty URL
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Ignore nitro messages in feed
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Use accumulator instead of message as feed version test
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Update documentation for 1.4.3
  docs/Running_Node.md
Due: none

Move shadow fork port to 8445
  packages/arb-bridge-eth/hardhat.dev-config.ts
Due: none

Fix nitro migrator node upgraded check
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
Due: prettier-soldity

Fix NitroMigrator deployment dependencies
  packages/arb-bridge-eth/deploy/NitroMigratorProxy.ts
Due: none

docs: one dashboard to rule them all
  docs/Public_Chains.md
Due: none

Only warn if we fail to check the initial chain state
  packages/arb-node-core/monitor/monitor.go
Due: go-vet

update retryable dashboard link in docs
  docs/Public_Chains.md
Due: none

docs: one dashboard to rule them all (#2475)
  docs/Public_Chains.md
Due: none

Fix default feed URLs in doc
  docs/Running_Node.md
Due: none
