Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Update go-ethereum
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-rpc-node/web3/launch.go
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: go-vet

Regenerate ABIs with abigen 1.10.1-unstable
  packages/arb-evm/arboscontracts/abigen.sh
  packages/arb-evm/arboscontracts/arbinfo.go
  packages/arb-evm/arboscontracts/arbsys.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/nodefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-rpc-node/arbostestcontracts/Fibonacci.sol
  packages/arb-rpc-node/arbostestcontracts/create2.go
  packages/arb-rpc-node/arbostestcontracts/create2.sol
  packages/arb-rpc-node/arbostestcontracts/failedsend.go
  packages/arb-rpc-node/arbostestcontracts/failedsend.sol
  packages/arb-rpc-node/arbostestcontracts/fibonacci.go
  packages/arb-rpc-node/arbostestcontracts/gasused.go
  packages/arb-rpc-node/arbostestcontracts/gasused.sol
  packages/arb-rpc-node/arbostestcontracts/opcodes.go
  packages/arb-rpc-node/arbostestcontracts/opcodes.sol
  packages/arb-rpc-node/arbostestcontracts/receiver.go
  packages/arb-rpc-node/arbostestcontracts/receiver.sol
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
  packages/arb-rpc-node/arbostestcontracts/storage.go
  packages/arb-rpc-node/arbostestcontracts/storage.sol
  packages/arb-rpc-node/arbostestcontracts/token.go
  packages/arb-rpc-node/arbostestcontracts/token.sol
  packages/arb-rpc-node/arbostestcontracts/transfer.go
  packages/arb-rpc-node/arbostestcontracts/transfer.sol
Due: prettier-soldity, go-vet

Make assertions absolute instead of relative to the last assertion
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupLib.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-node-core/challenge/challenger.go
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/execution.go
  packages/arb-node-core/ethbridge/challenge.go
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/validatorUtils.go
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/nodefactory.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-util/core/assertion.go
  packages/arb-util/core/challenge.go
  packages/arb-util/core/execution.go
  packages/arb-util/core/judgement.go
  packages/arb-util/core/lookup.go
Due: prettier-soldity, go-vet

Update abigen with struct error fixes
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: go-vet

Fix challenge test
  packages/arb-avm-cpp/gotest/gotest.go
  packages/arb-bridge-eth/test/proofs/opcodehalt.mexe-proofs.json
  packages/arb-node-core/go.mod
  packages/arb-rpc-node/go.mod
  packages/arb-util/inbox/inboxMessage.go
Due: go-vet

Improve code to reject node
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/validator.go
Due: prettier-soldity, go-vet

Update validatorutils.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
Due: go-vet

Fix test failure message
  packages/arb-avm-cpp/cmachine/nodestorage_test.go
Due: go-vet

Fix OSP challenge tests which broke with an ArbOS upgrade
  packages/arb-bridge-eth/test/proofs/opcodehalt.mexe-proofs.json
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Update node interface address
  packages/arb-util/arbos/arbos.go
Due: go-vet

Update wrappers
  packages/arb-ts/src/lib/abi/ArbTokenBridgeFactory.ts
  packages/arb-ts/src/lib/abi/BridgeFactory.ts
  packages/arb-ts/src/lib/abi/EthERC20BridgeFactory.ts
  packages/arb-ts/src/lib/abi/InboxFactory.ts
  packages/arb-ts/src/lib/abi/RollupCoreFactory.ts
  packages/arb-ts/src/lib/abi/RollupCreatorFactory.ts
  packages/arb-ts/src/lib/abi/RollupCreatorNoProxyFactory.ts
  packages/arb-ts/src/lib/abi/RollupEventBridgeFactory.ts
  packages/arb-ts/src/lib/abi/RollupFactory.ts
  packages/arb-ts/src/lib/abi/StandardArbERC20Factory.ts
  packages/arb-ts/src/lib/abi/StandardArbERC777Factory.ts
Due: none

Update arbos and support new virtual send format
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-evm/evm/merkleRootResult.go
  packages/arb-evm/evm/sendResult.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/nodefactory.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet

Remove unnecessary realpath dependency
  packages/arb-node-core/ethbridgecontracts/abigen.sh
Due: none

Refactor arbos go code
  packages/arb-avm-cpp/cmachine/storage_test.go
  packages/arb-evm/arbos/arbaddresstable.go
  packages/arb-evm/arbos/arbbls.go
  packages/arb-evm/arbos/arbfunctiontable.go
  packages/arb-evm/arbos/arbinfo.go
  packages/arb-evm/arbos/arbos.go
  packages/arb-evm/arbos/arbowner.go
  packages/arb-evm/arbos/arbsys.go
  packages/arb-node-core/challenge/machine_test.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/test/helper.go
  packages/arb-node-core/utils/arboshash.go
  packages/arb-rpc-node/arbostest/arbos_test.go
  packages/arb-rpc-node/arbostest/arbsys_test.go
  packages/arb-rpc-node/arbostest/deposit_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostest/owner_test.go
  packages/arb-rpc-node/arbostest/storage_test.go
  packages/arb-rpc-node/arbostest/withdraw_test.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Test l2tol1 event correctness
  packages/arb-evm/arbos/arbsys.go
  packages/arb-evm/arboscontracts/arbsys.go
  packages/arb-evm/arboscontracts/nodeinterface.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/web3/ethclient.go
Due: go-vet

Minor improvements to peripherals
  packages/arb-bridge-peripherals/contracts/buddybridge/ethereum/L1Buddy.sol
  packages/arb-bridge-peripherals/package.json
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: prettier-soldity

Remove reference to old buddy system
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Update contract wrapper
  packages/arb-ts/src/lib/abi/Outbox.d.ts
Due: none

Reimplement findStakerConflict in a more efficient manner
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-node-core/ethbridge/validatorUtils.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/staker/staker.go
Due: prettier-soldity, go-vet

Only iterate over 100 stakers for conflicts in one call
  packages/arb-node-core/ethbridge/validatorUtils.go
Due: go-vet

EthBridge tests passing
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/scripts/deploy.ts
  packages/arb-bridge-eth/test/arbRollup.ts
  packages/arb-bridge-eth/test/challenge.ts
  packages/arb-bridge-eth/test/executionproof.ts
  packages/arb-bridge-eth/test/rolluplib.ts
Due: prettier-soldity

Go tests all passing
  package.json
  packages/arb-avm-cpp/cmachine/nodestorage_test.go
  packages/arb-evm/message/l2Message_test.go
Due: go-vet

Remove last protobuf usage and run tidy
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/evm/evm.pb.go
  packages/arb-evm/evm/evm.proto
  packages/arb-evm/evm/fullLog.go
  packages/arb-evm/evm/fullLog_test.go
  packages/arb-evm/evm/serialization.go
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: go-vet

Run go:generate
  packages/MACHINEHASH
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: go-vet

Cleanup CI config
  .circleci/config.yml
Due: none

Config fixes
  .circleci/config.yml
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

More config changes
  .circleci/config.yml
  packages/arb-bridge-eth/.solcover.js
Due: none

Config fix
  .circleci/config.yml
Due: none

Fix race and config
  .circleci/config.yml
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Fix unchecked error
  packages/arb-util/core/execution.go
Due: go-vet

More config changes
  .circleci/config.yml
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: none

More config changes and small bug fix
  .circleci/config.yml
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-peripherals/contracts/buddybridge/test/Mock.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ConfirmRoots.sol
  packages/arb-bridge-peripherals/package.json
  packages/arb-bridge-peripherals/test/buddyBridge.l1.ts
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/web3/eth.go
  yarn.lock
Due: prettier-soldity, go-vet

Get submodules in ethbridge test
  .circleci/config.yml
Due: none

Remove unused submodules
  .circleci/config.yml
  .gitmodules
  packages/arb-avm-cpp/external/CMakeLists.txt
Due: none

Add integration-base for test
  .circleci/config.yml
  .circleci/images/integration-base/Dockerfile
Due: none

Update config
  .circleci/config.yml
  .circleci/images/integration-base/Dockerfile
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

