Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Store inbox acc more efficiently
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/bridge/Bridge.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IBridge.sol
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet

Update to arbos version with reordered logs
  packages/arb-rpc-node/arbostest/arbos_test.go
  packages/arb-rpc-node/arbostest/buddy_test.go
  packages/arb-rpc-node/arbostest/withdraw_test.go
Due: go-vet

Expose inboxAcc to Go
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: go-vet

Fix unit test
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

logscursor draft
  packages/arb-avm-cpp/cavm/caggregator.cpp
  packages/arb-avm-cpp/cavm/caggregator.h
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/aggregator.go
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/aggregator.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/core/logreader.go
  packages/arb-util/core/lookup.go
Due: go-vet

Almost have logscursor tests passing
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Introduce TicketFactory
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/TicketFactory.sol
Due: prettier-soldity

Allow l2 token addresses to be calculated on L1
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Update monorepo for new arbos charging system
  packages/arb-avm-cpp/avm/include/avm/inboxmessage.hpp
  packages/arb-avm-cpp/avm/src/inboxmessage.cpp
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/bridge/Bridge.sol
  packages/arb-bridge-eth/contracts/bridge/Messages.sol
  packages/arb-bridge-eth/contracts/test_only/MessageTester.sol
  packages/arb-evm/evm/blockresult.go
  packages/arb-evm/evm/result.go
  packages/arb-evm/message/message.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/ethbridge/bridgeWatcher.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/arbostest/arbcore_sideload_test.go
  packages/arb-rpc-node/arbostest/arbos_test.go
  packages/arb-rpc-node/arbostest/arbsys_test.go
  packages/arb-rpc-node/arbostest/buddy_test.go
  packages/arb-rpc-node/arbostest/create2_test.go
  packages/arb-rpc-node/arbostest/evmOps_test.go
  packages/arb-rpc-node/arbostest/gas_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostest/l2_test.go
  packages/arb-rpc-node/arbostest/nested_send_test.go
  packages/arb-rpc-node/arbostest/owner_test.go
  packages/arb-rpc-node/arbostest/revert_test.go
  packages/arb-rpc-node/arbostest/storage_test.go
  packages/arb-rpc-node/arbostest/transfer_test.go
  packages/arb-rpc-node/arbostest/withdraw_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-util/inbox/inboxMessage.go
Due: prettier-soldity, go-vet

Workaround issues with constructor
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Update staking to be more reorg safe
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupLib.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/ethbridge/validatorUtils.go
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/nodefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/validator.go
  packages/arb-util/core/judgement.go
  packages/arb-util/core/lookup.go
  packages/arb-util/core/mock.go
Due: prettier-soldity, go-vet

Address code review comments
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cavm/ctypes.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/aggregator.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/core/logreader.go
Due: go-vet

Fix missing refactor
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Address code review comments
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Start setting back up the dev aggregator
  packages/arb-avm-cpp/cmachine/aggregator.go
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/test/helper.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/cmd/arb-dev-aggregator/arb-dev-aggregator.go
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-util/core/lookup.go
  packages/arb-util/core/outputLookup.go
  packages/arb-util/machine/aggregator.go
Due: go-vet

Resolve Harry's comments
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/validator.go
Due: prettier-soldity, go-vet

Support new block number system
  packages/arb-evm/evm/blockresult.go
  packages/arb-evm/evm/request.go
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/arbostest/arbos_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-util/inbox/inboxMessage.go
Due: go-vet

Fix merge issue
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Change single param Tuple constructors to factories
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
  packages/arb-avm-cpp/avm_values/src/tuple.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/datacursor.hpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-avm-cpp/tests/buffer.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
Due: none

Re-add expectedHasSibling parameter to stakeOnNewNode
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/validator.go
Due: prettier-soldity, go-vet

Test if create2 address calculated correctly
  packages/arb-bridge-peripherals/test/canonicalBridge.ts
Due: none

thinking about gas metering
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/buffer.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
Due: none

Begin fixing up staker.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

Rename utility function to make token standard explicit
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

Refactor bridge peripheral to use modifiers for validation
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

Update executeTransaction
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IOutbox.sol
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet

Continue working on dev aggregator and fixing bugs
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinethread.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinethread.cpp
  packages/arb-avm-cpp/cavm/caggregator.cpp
  packages/arb-avm-cpp/cmachine/aggregator.go
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/data_storage/include/data_storage/aggregator.hpp
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-evm/evm/request.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/arbostest/arbos_test.go
  packages/arb-rpc-node/cmd/arb-dev-aggregator/arb-dev-aggregator.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-util/core/logreader.go
  packages/arb-util/core/lookup.go
  packages/arb-util/machine/aggregator.go
Due: go-vet

Add test cases for minting tokens and migrating
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC777.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/DecimalConverter.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.ts
Due: prettier-soldity
