Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

remove "recommended" modifer for frontend integration, little fixes
  docs/Frontend_Integration.md
Due: none

add sequencer section to finality.md
  docs/Finality.md
Due: none

add terms / update glossary
  docs/Glossary.md
Due: none

add standard sendL2Message section to messaging between layers docs
  docs/L1_L2_Messages.md
Due: none

expand liquidity exists section in withdrawals
  docs/Withdrawals.md
Due: none

add special features docs page w/ Address table, byte serialization, BLS sigs
  docs/Special Features.md
Due: none

Refactor ping
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.sum
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/go.sum
Due: go-vet

Fix race conditions and enable verbose mode on unit test
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

CircleCI debugging
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

add sidebar labels
  docs/Bridging_Assets.md
  docs/L1_L2_Messages.md
  docs/Special Features.md
Due: none

Fix OE API change issue and add patch for Alchemy
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Integrate new healthcheck into arb-node
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Integrate Josh's changes to allow graceful shutdowns
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Add prometheus metrics and update configuration handler
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Improve comments
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Bug fixes
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Add self contained Openethereum healthcheck
  packages/arb-node-core/nodehealth/nodehealth.go
Due: go-vet

Add the option to disable healthcheck components on the command line
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Improve unit testing and add bug fixes
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Use a shared_ptr to HashPreImage for values
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuplestub.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/value.hpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-avm-cpp/tests/buffer.cpp
Due: none

Make buffers a pointer, with a new underlying RawBuffer
  packages/arb-avm-cpp/avm_values/include/avm_values/buffer.hpp
  packages/arb-avm-cpp/avm_values/src/buffer.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

fix typos, add precomiles section to special features
  docs/Bridging_Assets.md
  docs/L1_L2_Messages.md
  docs/Special Features.md
  docs/Withdrawals.md
Due: none

add blockhash to solidity support
  docs/Solidity_Support.md
Due: none

add block number to solidty support
  docs/Solidity_Support.md
Due: none

In theory implement validator sequencer batch node creation proof
  packages/MACHINEHASH
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/core/lookup.go
Due: prettier-soldity, go-vet

remove ethereum interoperabilty doc
  docs/Ethereum_Interoperability.md
Due: none

update time in arbitrum / add block number stuff
  docs/Time_in_Arbitrum.md
Due: none

add "Sequencer chain" to glossary
  docs/Glossary.md
Due: none

Fix bug in passing config to healthcheck
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

add links, fix typos, tweaks, etc
  docs/Arbsys.md
  docs/Bridging_Assets.md
  docs/Finality.md
  docs/Glossary.md
  docs/L1_L2_Messages.md
  docs/Time_in_Arbitrum.md
Due: none

fix link
  docs/Finality.md
Due: none

Get TestStakersCooperative working!
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

fix arbsys link
  docs/Special Features.md
Due: none

fix typo
  docs/L1_L2_Messages.md
Due: none

add notes on initial execution and arbgas refunding to L1_L2 messages
  docs/L1_L2_Messages.md
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

