Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Update go abis
  packages/MACHINEHASH
  packages/arb-node-core/ethbridge/inbox_test.go
  packages/arb-node-core/ethbridgecontracts/Bridge.go
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/Inbox.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/Validator.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
Due: go-vet

Add affordances to update sequencer address through rollup admin facet
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Fix token bridge deploy script
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/factories/EthERC20Bridge__factory.ts
Due: none

Emit event when sequencer upgraded
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

Add whitelist to token bridge
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Add rollup affordances to control whitelist and fix tests
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
Due: prettier-soldity

Add affordances for rollup admin to update whitelist entries
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Add whitelist contract to inbox
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/libraries/Whitelist.sol
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
Due: prettier-soldity

Fix unit tests for arbrollup
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/hardhat.config.ts
Due: prettier-soldity

Refactor rollup admin function names for clarity
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Add events to whitelist contract
  packages/arb-bridge-eth/contracts/libraries/Whitelist.sol
Due: prettier-soldity

Update go abis
  packages/arb-node-core/ethbridgecontracts/Bridge.go
  packages/arb-node-core/ethbridgecontracts/Outbox.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/NodeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: go-vet

Flush gas log line
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add affordances to upgrade beacons controlled by rollup
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Update abis
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/Validator.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
Due: go-vet

Remove deprecated clone factory
  packages/arb-bridge-eth/contracts/challenge/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/libraries/CloneFactory.sol
  packages/arb-bridge-eth/contracts/rollup/NodeFactory.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorWalletCreator.sol
Due: prettier-soldity

Add cloneable to protect from selfdestruct and add explicit visibility to state vars
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Add upgradeability to outbox entries
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Update deposit eth method
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
Due: prettier-soldity

Update ArbOS
  packages/MACHINEHASH
  packages/arb-evm/arboscontracts/ArbOwner.go
Due: go-vet

Add logs to track gas used
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix inbox deposit eth implementation
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
Due: prettier-soldity

Add sections with different metadata to sequencer inbox batches
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/inbox_proof_test.go
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/Validator.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_gas_usage_test.go
Due: prettier-soldity, go-vet

Min spacing on assertion
  packages/arb-node-core/staker/validator.go
Due: go-vet

Fixes
  packages/arb-node-core/staker/validator.go
Due: go-vet

Fix challenge/common_test.go inbox interaction
  packages/arb-node-core/challenge/common_test.go
Due: go-vet

Make spacing checking more efficient and configurable
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-util/core/lookup.go
Due: go-vet

Add getters to templates
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
Due: prettier-soldity

Simplify deposit eth method
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
Due: prettier-soldity

update deposit eth in arb-ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

update deposit eth in arbts
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

update inbox abis
  packages/arb-ts/src/lib/abi/IInbox.d.ts
  packages/arb-ts/src/lib/abi/Inbox.d.ts
  packages/arb-ts/src/lib/abi/factories/Inbox__factory.ts
Due: none

pass correct param into deposit eth
  packages/arb-ts/src/lib/l1Bridge.ts
Due: none

Fix tests
  packages/arb-rpc-node/arbostest/evmOps_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
Due: go-vet

Improve SequencerBatcher test and fix misc issues
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: prettier-soldity, go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

