Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Refactored gas script into a class
  packages/tools/package.json
  packages/tools/scripts/compare-gas-commits.sh
  packages/tools/scripts/compare-gas-reports.ts
Due: none

Remove stakers mapping from node struct
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupUserLogic.sol
Due: prettier-soldity

Added scripts for comparing gas
  packages/tools/package.json
  packages/tools/scripts/compare-gas-commits.sh
  packages/tools/scripts/compare-gas-reports.ts
Due: none

Added logging and paramaterised the input to gas comparison shell script
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Corrected variable access
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Incorrect folder name
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Added logging for current hash
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Added a hardhat clean step
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Added clean and compile steps
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Updated command line invocation of comparison node script
  .gitignore
  packages/tools/scripts/compare-gas-commits.sh
Due: none

Corrected merge error
  packages/arb-bridge-eth/contracts/rollup/RollupUserLogic.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Remove gas-report creation
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Merged node and nodeprops, added an extra staker mapping
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/IRollupCore.md
  docs/sol_contract_docs/md_docs/arb-bridge-eth/rollup/RollupCore.md
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupUserLogic.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-bridge-eth/test/common/rolluplib.ts
Due: prettier-soldity

Renamed prev to prevNum
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupUserLogic.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
Due: prettier-soldity

Restore cache earlier
  .circleci/config.yml
Due: none

Handle exceptions in arbcore thread
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Clear cache in docker images to fix CI
  .circleci/config.yml
  .circleci/images/backend-base/Dockerfile
  .circleci/images/integration-base/Dockerfile
  packages/arb-node.Dockerfile
  scripts/build-docker-local
Due: none

Expand tracing implementation
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-evm/evm/debugprint.go
  packages/arb-node-core/challenge/core_test_utils.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/web3/debug.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/launch.go
  packages/arb-rpc-node/web3/trace.go
  packages/arb-util/core/lookup.go
Due: go-vet

Fixup block tracing
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

Allow the dev node to have pretty logging for geth errors
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmdhelp/logging.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Fix concurrentcounter constructor
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Update documentation to use 1.1.2
  docs/Running_Node.md
Due: none

WIP
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Get rid of smart pointers for ConcurrentCounter
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

small code cleanups
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Update Useful_Addresses.md
  docs/Useful_Addresses.md
Due: none

Updated typo
  packages/arb-bridge-eth/contracts/rollup/Node.sol
Due: prettier-soldity

Update packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

File linting
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/test/arbRollup.spec.ts
  packages/arb-bridge-eth/test/common/rolluplib.ts
Due: prettier-soldity

Lint in deploy/RollupCreator
  packages/arb-bridge-eth/deploy/RollupCreator.ts
Due: none

Lint fixes
  packages/arb-bridge-eth/scripts/upgrade.ts
Due: none

Update all docker images
  docs/Running_Node.md
Due: none

fix OSP tests
  packages/MACHINEHASH
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
  packages/arb-node-core/staker/staker_test.go
Due: go-vet
