Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Use atomics for tuple deferred hashing
  packages/arb-avm-cpp/avm_values/include/avm_values/pool.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuplestub.hpp
  packages/arb-avm-cpp/avm_values/src/tuple.cpp
  packages/arb-avm-cpp/avm_values/src/tuplestub.cpp
Due: none

Don't write in memcpyAtomic if value is already written
  packages/arb-avm-cpp/avm_values/src/tuplestub.cpp
Due: none

Cleanup code
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Document atomic write strategy
  packages/arb-avm-cpp/avm_values/src/tuple.cpp
  packages/arb-avm-cpp/avm_values/src/tuplestub.cpp
Due: none

Remove default strategy, improve messaging on error
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Use a unique lock in RunningCode tryAddOperation
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
Due: none

Add ArbCore wild code segments test
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/wild-segments/builtin
  packages/arb-avm-cpp/tests/wild-segments/main.mexe
  packages/arb-avm-cpp/tests/wild-segments/rebuild.sh
  packages/arb-avm-cpp/tests/wild-segments/src/constants.json
  packages/arb-avm-cpp/tests/wild-segments/src/main.mini
Due: none

Fix typo in Nitro node docs latest docker image
  docs/Running_Nitro_Node.md
Due: none

Moved l1 custom gateway interface
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ICustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
Due: prettier-soldity

Fix nitro documentation
  docs/Running_Nitro_Node.md
Due: none

Cleanup documentation
  docs/Running_Nitro_Node.md
Due: none

Updated custom token to actually send the value
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
Due: prettier-soldity

Moved interface method to existing file
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ICustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
Due: prettier-soldity

Handle core machine thread errors
  packages/arb-avm-cpp/avm/src/machinethread.cpp
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Patch bump peripherals
  packages/arb-bridge-peripherals/package.json
Due: none

Add EphemeralBarrier Code that persists until the next commit
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/src/code.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
Due: none

Make EphemeralBarrier constructor explicit
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
Due: none

* Cleanup machinethread abort * reorg back if machine error is encountered * fix when next snapshot is saved after reorg back from invalid machine
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinethread.hpp
  packages/arb-avm-cpp/avm/src/machinethread.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Remove unused function
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix parameter to be reference
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Restore reorgToPenultimateCheckpoint
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Address code review comments
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Restore `isValid` check
  packages/arb-avm-cpp/gdb.txt
Due: none

Restore `isvalid` check
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/gdb.txt
Due: none

Print correct error string
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

