Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Use sideload based snapshots in arb-rpc-node
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/txdb/snapshotCache.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-tx-aggregator/txdb/txdb.go
  packages/arb-util/core/lookup.go
  packages/arb-util/core/mock.go
Due: go-vet

Avoid copying ecPairing argument tuple
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
Due: none

Fix ecPairing gas cost calculation and application
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/tests/machine-cases/opcodeecpairing.mexe
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProofCommon.sol
  packages/arb-bridge-eth/test/proofs/bufferopcodetest.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodeecpairing.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestarbgas.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestcode.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestdup.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestecops.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestethhash2.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetesthash.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestkeccakf.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestlogic.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestmath.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetestsha256f.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodeteststack.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/opcodetesttuple.mexe-proofs.json
  packages/arb-bridge-eth/test/proofs/sideloadtest.mexe-proofs.json
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/nodefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
Due: prettier-soldity, go-vet

If block has no sideload use last previous sideload
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Let sideload execution cursors go past inbox peeks
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/arbostest/arbcore_sideload_test.go
Due: go-vet

Clear sideloads on reorg
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Revert "Let sideload execution cursors go past inbox peeks"
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/arbostest/arbcore_sideload_test.go
Due: go-vet

Load sideload machine directly from cache or checkpoint
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/arbostest/arbcore_sideload_test.go
Due: go-vet

Handle restarting machine after sideload
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix deleting sideloads when reorganizing to the middle of a block
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpoint.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint.cpp
Due: none

Clear next_sideload_block_number in resetCheckpoint
  packages/arb-avm-cpp/data_storage/src/checkpoint.cpp
Due: none

Code review comments
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix arbostest tests for new snapshot impl
  packages/arb-rpc-node/arbostest/arbos_test.go
  packages/arb-rpc-node/arbostest/buddy_test.go
  packages/arb-rpc-node/arbostest/constructor_test.go
  packages/arb-rpc-node/arbostest/create2_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostest/l2_test.go
  packages/arb-rpc-node/arbostest/transfer_test.go
Due: go-vet

Test unreachable challenge
  packages/arb-avm-cpp/cmachine/executioncursor.go
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/execution.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/challenge/faulty_core_test.go
Due: go-vet

Add a bit more challenge test instrumentation around messages
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/challenge/faulty_core_test.go
Due: go-vet

changed getSize for Buffer
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
Due: none

Fix reorg
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Start implementing staker logic
  packages/arb-node-core/staker/staker.go
Due: go-vet

Test challenging a short unreachable assertion
  packages/arb-avm-cpp/tests/machine-cases/opcodehalt.mexe
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/challenge/faulty_core_test.go
Due: go-vet

Add hardhat typescript test harness to bridge peripherals
  packages/arb-bridge-peripherals/hardhat.config.js
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-bridge-peripherals/package.json
  packages/arb-bridge-peripherals/test/canonicalBridge.ts
  packages/arb-bridge-peripherals/tsconfig.json
  packages/arb-bridge-peripherals/yarn.lock
Due: none

Remove `const bool`
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add l2 bridge mock for testing
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/test/TestBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/DecimalConverter.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.ts
Due: prettier-soldity

Quasi random tx origin
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.ts
Due: prettier-soldity

Clean up
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.ts
Due: prettier-soldity

Fix token init bug
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC777.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.ts
Due: prettier-soldity

Fix rollup creator and staker test
  packages/arb-bridge-eth/contracts/rollup/RollupCreatorNoProxy.sol
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/abigen.sh
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/nodefactory.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/staker_test.go
Due: prettier-soldity, go-vet

Store inbox acc more efficiently
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/bridge/Bridge.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IBridge.sol
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet
