Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

remove oldstyle inits
  packages/arb-evm/message/init.go
  packages/arb-evm/message/message.go
  packages/arb-rpc-node/dev/arbsys_test.go
  packages/arb-rpc-node/dev/common_test.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/dev/upgrade_test.go
  packages/arb-rpc-node/dev/whitelist_test.go
Due: go-vet

Update 4_current_deployment.json
  packages/arb-bridge-eth/_deployments/4_current_deployment.json
Due: none

Wait for fireblocks confirmation of tx before exposing receipt
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-util/fireblocks/fireblocks.go
Due: go-vet

Cleanup fireblocks
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/fireblocks/fireblocks.go
  packages/arb-util/fireblocks/fireblocks_test.go
Due: go-vet

clearer instuctions in deployLogic
  packages/arb-upgrades/index.ts
Due: none

fixed arbostest flags
  packages/arb-rpc-node/arbostest/common_test.go
  packages/arb-rpc-node/arbostest/owner_test.go
Due: go-vet

packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-upgrades/index.ts
Due: none

Make TransactAuth an interface
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-node-core/ethbridge/bridge.go
  packages/arb-node-core/ethbridge/chain.go
  packages/arb-node-core/ethbridge/fireblocksauth.go
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-node-core/ethbridge/localauth.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/staker/staker.go
  packages/arb-rpc-node/batcher/batcher.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/rpc/launch.go
Due: go-vet

Don't check nonce for rbf confirmation if using fireblocks
  packages/arb-node-core/ethbridge/chain.go
Due: go-vet

Update 1_current_deployment.json
  packages/arb-bridge-eth/_deployments/1_current_deployment.json
Due: none

Fix fireblocks config issues
  packages/arb-util/configuration/configuration.go
  packages/arb-util/fireblocks/fireblocks.go
  packages/arb-util/fireblocks/fireblocks_test.go
Due: go-vet

apply code review comments
  packages/arb-util/configuration/configuration.go
  packages/arb-util/fireblocks/fireblocks.go
Due: go-vet

Handle having multiple sequencers and how they publish batches
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

direct to old/new outboxes in arb-ts outbox methods
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/src/lib/networks.ts
Due: none

Add comments
  packages/arb-util/fireblocks/fireblocks_test.go
Due: go-vet

Add mainnet token bridge deployment info
  packages/arb-bridge-peripherals/_deployments/1_current_deployment.json
  packages/arb-bridge-peripherals/_deployments/42161_current_deployment.json
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: none

add rinkarby deployements json
  packages/arb-bridge-peripherals/_deployments/421611_current_deployment.json
Due: none

add etherscan verification task
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: none

Fix fireblocks url queries
  packages/arb-util/fireblocks/fireblocks.go
Due: go-vet

Don't include question mark when no query
  packages/arb-util/fireblocks/fireblocks.go
Due: go-vet

add arbitrum logo svg
  docs/assets/arbitrum_logo.svg
Due: none

Add constructor to protect logic contracts in tokens used in gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeERC20.sol
  packages/arb-bridge-peripherals/test/wethBridge.l2.ts
  packages/arb-bridge-peripherals/test/wethGateway.e2e.ts
Due: prettier-soldity

Remove repeated code from gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/L2ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Refactor custom gateway and router so tokens cant reregister to a different val
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

Refactor gateways so only callable by router
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
Due: prettier-soldity

Disable self registration on router and custom gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: prettier-soldity

Replace the dev address with another one
  packages/arb-bridge-eth/Dockerfile
  packages/arb-bridge-eth/geth.Dockerfile
  packages/arb-bridge-eth/parity/config.toml
  packages/arb-bridge-eth/parity/poa.json
  packages/arb-bridge-eth/scripts/run-geth
  packages/arb-evm/message/data_test.go
Due: go-vet

Add refund address rewriting on inbox
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/libraries/AddressAliasHelper.sol
Due: prettier-soldity

On startup, perform RBF on any pending fireblocks transactions
  packages/arb-node-core/ethbridge/chain.go
  packages/arb-node-core/ethbridge/fireblocksauth.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/fireblocks/fireblocks.go
Due: go-vet

Improve function name in inbox and add comment
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

Add config flag to reorg rewriting sequencer address
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Use generic reorgAndModifySequencerMessages function
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet
