Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.3.2'
          - 'prettier-plugin-solidity@^1.0.0-beta.17'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "PATH=/usr/local/bin:$PATH  go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Improve logging on reorg
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Add timeout when updating prune point
  packages/arb-node-core/cmdhelp/database.go
  packages/arb-node-core/staker/staker.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Disable prune lookup timeout if set to zero
  packages/arb-node-core/cmdhelp/database.go
Due: go-vet

fix: add unsafeCreateRetryableTicket to IInbox
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
Due: prettier-soldity

chore: bump arb-bridge-eth to 0.7.8
  packages/arb-bridge-eth/package.json
Due: none

refactor: change interface pragma >=0.4.21 <0.9.0
  packages/arb-bridge-eth/contracts/arch/IOneStepProof.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IBridge.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IMessageProvider.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IOutbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-bridge-eth/contracts/challenge/IChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/IChallengeFactory.sol
  packages/arb-bridge-eth/contracts/interfaces/IERC20.sol
  packages/arb-bridge-eth/contracts/interfaces/IERC721.sol
  packages/arb-bridge-eth/contracts/libraries/ICloneable.sol
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/INodeFactory.sol
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/validator/IGasRefunder.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/ITransferAndCall.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IWETH9.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ICustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
Due: prettier-soldity

chore: bump arb-bridge-peripherals to 1.0.11
  packages/arb-bridge-peripherals/package.json
Due: none

revert: ITransferAndCall.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/ITransferAndCall.sol
Due: prettier-soldity

test: interface with solc8
  packages/arb-bridge-eth/.solhint-ignore-8
  packages/arb-bridge-eth/contracts/test_only/Solc8Tester.sol
Due: prettier-soldity

crossdb: fix L1BlockNum for history export
  packages/arb-rpc-node/nitroexport/crossdb.go
Due: go-vet

docs: fix AnyTrust doc formatting
  docs/AnyTrust.md
Due: none

Based on required condition, "This quantity will be 7/8 when G = 720S (the maximum gas pool size) and it will be 9/8 when G = 0", Then the formula should be "(3240S - G) / (2880S)".
  docs/Inside_Arbitrum.md
Due: none

minor changes after merge
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

fix: pragma solidity >=0.6.9 <0.9.0
  packages/arb-bridge-eth/contracts/arch/IOneStepProof.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IBridge.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IMessageProvider.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IOutbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-bridge-eth/contracts/challenge/IChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/IChallengeFactory.sol
  packages/arb-bridge-eth/contracts/interfaces/IERC20.sol
  packages/arb-bridge-eth/contracts/interfaces/IERC721.sol
  packages/arb-bridge-eth/contracts/libraries/ICloneable.sol
  packages/arb-bridge-eth/contracts/rollup/INode.sol
  packages/arb-bridge-eth/contracts/rollup/INodeFactory.sol
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/validator/IGasRefunder.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IWETH9.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ICustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
Due: prettier-soldity

use latest nitro package
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: prettier-soldity

refactor: rename to InterfaceCompatibilityTester
  packages/arb-bridge-eth/.solhint-ignore-8
  packages/arb-bridge-eth/contracts/test_only/InterfaceCompatibilityTester.sol
Due: prettier-soldity

ci: add interface compatibility test
  .circleci/config.yml
  packages/arb-bridge-eth/hardhat.base-config.json
  packages/arb-bridge-eth/hardhat.dev-config.ts
  packages/arb-bridge-eth/package.json
Due: none

fix: format
  packages/arb-bridge-eth/hardhat.dev-config.ts
Due: none

refactor: move interface test to peripherals
  .circleci/config.yml
  packages/arb-bridge-eth/contracts/test_only/InterfaceCompatibilityTester.sol
  packages/arb-bridge-eth/hardhat.base-config.json
  packages/arb-bridge-eth/hardhat.dev-config.ts
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/InterfaceCompatibilityTester.sol
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-bridge-peripherals/package.json
Due: prettier-soldity

fix typo in anytrust docs
  docs/AnyTrust.md
Due: none

fix: remove solhint ignore
  packages/arb-bridge-eth/.solhint-ignore-8
Due: none

style: prettier
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/InterfaceCompatibilityTester.sol
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: prettier-soldity

chore: bump arb-bridge-eth in peripherals package
  packages/arb-bridge-peripherals/package.json
Due: none

refactor: arb-bridge-peripherals/hardhat.config.ts
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: none

Disable WaitToCatchUp (don't merge)
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

address PR comments
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

update inbox comment
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: prettier-soldity

Migrator changes to get deployment configuration working
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-upgrades/ethBridgeTasks.ts
Due: prettier-soldity

Add NonDelegatingProxy to take over classic bridge
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/bridge/NonDelegatingProxy.sol
  packages/arb-upgrades/ethBridgeTasks.ts
Due: prettier-soldity

Close idle connections when reconnecting to L1 node
  packages/arb-rpc-node/cmd/arb-cli/arb-cli.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/ethutils/client.go
Due: go-vet

Fix inbox upgrade timing and automate old outbox discovery
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-upgrades/ethBridgeTasks.ts
  packages/arb-upgrades/types.ts
Due: prettier-soldity

Add migration steps 2 and 3 to ethBridgeTasks
  packages/arb-upgrades/ethBridgeTasks.ts
Due: none

Use delayed messages in getSequencerBlockNumberAt
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Revert "Use delayed messages in getSequencerBlockNumberAt"
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add debugging code to LookupBatchContaining
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
Due: go-vet

Fix ternary conditional in deadlineBlock for nitro shutdown
  packages/arb-bridge-eth/contracts/rollup/Node.sol
Due: prettier-soldity

Add CLIs to transfer ownership of contracts owned by migrator
  packages/arb-upgrades/ethBridgeTasks.ts
Due: none

Disable force include when shutting down for nitro
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-upgrades/ethBridgeTasks.ts
Due: prettier-soldity

Add NitroMigrator addArbosOwner shadow fork only function
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-upgrades/ethBridgeTasks.ts
Due: prettier-soldity
