Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Fix test
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
Due: none

Skip nil blocks when deleting
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Remove extra print
  packages/arb-avm-cpp/cmachine/arbcore.go
Due: go-vet

Remove extra logging
  packages/arb-node-core/ethbridge/auth.go
Due: go-vet

Fix mock
  packages/arb-bridge-peripherals/contracts/buddybridge/test/Mock.sol
Due: prettier-soldity

Add createRetryableTicket support
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/InboxHelper.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IInbox.sol
  packages/arb-bridge-eth/contracts/test_only/InboxHelperTester.sol
  packages/arb-evm/message/message.go
  packages/arb-evm/message/retryable.go
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-node-core/ethbridge/bridge.go
  packages/arb-node-core/ethbridge/bridgeWatcher.go
  packages/arb-node-core/ethbridge/builderbackend.go
  packages/arb-node-core/ethbridge/challenge.go
  packages/arb-node-core/ethbridge/challengeWatcher.go
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-node-core/ethbridge/inbox_test.go
  packages/arb-node-core/ethbridge/node.go
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/ethbridge/validatorUtils.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgetestcontracts/abigen.sh
  packages/arb-node-core/ethbridgetestcontracts/inboxhelpertester.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-ts/src/lib/abi/Inbox.d.ts
Due: prettier-soldity, go-vet

Clean up logging
  packages/arb-rpc-node/batcher/batcher.go
Due: go-vet

Handle node store inconsistencies better
  packages/arb-avm-cpp/cmachine/nodestorage.go
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-util/core/lookup.go
  packages/arb-util/machine/nodestorage.go
Due: go-vet

Remove GetSendAcc and GetLogAcc
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/core/lookup.go
Due: go-vet

Port fix from next
  packages/arb-rpc-node/batcher/queue.go
Due: go-vet

addMessages cleanup
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Set machine config outside of run function
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinethread.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/machinethread.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: none

Refactor inbox state
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
Due: none

Consolidate and simplify reorg detection
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinethread.hpp
  packages/arb-avm-cpp/avm/src/machinethread.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Remove getting machine from ArbStorage interface
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/cmachine_test.go
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/speedtest/speed_test.go
  packages/arb-util/machine/checkpoint.go
Due: go-vet

Update hardhat.config.ts
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Update MACHINEHASH
  packages/MACHINEHASH
Due: none

Transaction updates
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

More transaction updates
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix execution cursor gas check
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fixes from PR comments
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none
