Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

rink deploy on weth 9 w/ post init hook
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
  packages/arb-ts/scripts/upgrade_weth.ts
Due: prettier-soldity

include total supply in balances json
  packages/arb-ts/scripts/tokenRecovery/getTokenBalances.ts
  packages/arb-ts/scripts/tokenRecovery/getWETHBalances.ts
Due: none

withdraw weth fail script
  packages/arb-ts/scripts/scrap.ts
Due: none

use right address
  packages/arb-ts/scripts/scrap.ts
Due: none

Fix RandomMessageGenerator duplicate accumulators
  packages/arb-util/broadcaster/testutils.go
Due: go-vet

forward gas in aeWETH for bridgeBurn and withdrawTo
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
  packages/arb-ts/src/lib/abi/factories/AeWETH__factory.ts
Due: prettier-soldity

Add unit test for l2 weth deposit and withdrawal
  packages/arb-bridge-peripherals/test/wethBridge.l2.ts
Due: none

allow empty wallet passwords
  packages/arb-node-core/cmdhelp/wallet.go
Due: go-vet

take configuration params from ARBITRUM_* environment variables
  packages/arb-util/configuration/configuration.go
Due: go-vet

Use `--node.type` and other config cleanups
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-rpc-node/rpc/lockout.go
  packages/arb-rpc-node/rpc/redis.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/go.sum
Due: go-vet

Incorporate changes from master
  packages/arb-util/configuration/configuration.go
Due: go-vet

Apply code review comments
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Align parameter names
  packages/arb-util/configuration/configuration.go
Due: go-vet

fix usage string
  packages/arb-util/configuration/configuration.go
Due: go-vet

Simplify batch submission given errors or incomplete batches
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Small printing changes
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/fuzz_target/utils.hpp
Due: none

Update AVM_Specification.md
  docs/AVM_Specification.md
Due: none

Update deps
  .github/dependabot.yml
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: none

Add missing default config
  packages/arb-util/configuration/configuration.go
Due: go-vet

Set correct option
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add feed output settings for sequencer
  packages/arb-util/configuration/configuration.go
Due: go-vet

Tweak config options
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

increase default block interval
  packages/arb-util/configuration/configuration.go
Due: go-vet

Remove bridge burn from gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/L2GatewayToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestArbCustomToken.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
  packages/arb-bridge-peripherals/test/wethBridge.l2.ts
Due: prettier-soldity

Add trusted router validation
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
Due: prettier-soldity

Add postupgrade init to gateway router
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/scripts/token_bridge_upgrade.ts
Due: prettier-soldity

Revert "Remove bridge burn from gateways"
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/L2GatewayToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestArbCustomToken.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
  packages/arb-bridge-peripherals/test/wethBridge.l2.ts
Due: prettier-soldity

Add whitelist and post upgrade init to fix storage layout
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
Due: prettier-soldity

Add missing whitelist variable to initialise
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
Due: prettier-soldity

Add whitelist modifier check
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
Due: prettier-soldity

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

