Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Remove admin facet from rollup postupgradeinit
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Remove unnecessary require check on rollup one time use function
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Remove outdated comment
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Remove underscores from struct elements in outbox
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Fix proving the first message of a sequencer batch
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

Add increaseWithdrawableFunds to functions in rollup core
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Fix docstring comment
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Add post upgrade init hook to sequencer bridge and simplify setting max delay
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Allow multiple sequencers
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-evm/arboscontracts/ArbAggregator.go
  packages/arb-evm/arboscontracts/ArbGasInfo.go
  packages/arb-evm/arboscontracts/ArbSys.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/ethbridgecontracts/BridgeUtils.go
  packages/arb-util/ethbridgecontracts/Challenge.go
  packages/arb-util/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/RollupUserFacet.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgecontracts/Validator.go
  packages/arb-util/ethbridgecontracts/ValidatorUtils.go
  packages/arb-util/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-util/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-util/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-util/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-util/ethbridgetestcontracts/RollupEventBridge.go
Due: prettier-soldity, go-vet

Use docstrings for deprecated notices
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-util/ethbridgecontracts/BridgeUtils.go
  packages/arb-util/ethbridgecontracts/Challenge.go
  packages/arb-util/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/RollupUserFacet.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgecontracts/Validator.go
  packages/arb-util/ethbridgecontracts/ValidatorUtils.go
  packages/arb-util/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-util/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-util/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-util/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-util/ethbridgetestcontracts/RollupEventBridge.go
Due: prettier-soldity, go-vet

Loudly log if a challenge has been lost
  packages/arb-node-core/challenge/challenger.go
Due: go-vet

Update ABIs and fix merge issue
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/inbox_proof_test.go
  packages/arb-rpc-node/batcher/sequencer_gas_usage_test.go
  packages/arb-util/ethbridgecontracts/Bridge.go
  packages/arb-util/ethbridgecontracts/BridgeUtils.go
  packages/arb-util/ethbridgecontracts/Challenge.go
  packages/arb-util/ethbridgecontracts/Outbox.go
  packages/arb-util/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/RollupUserFacet.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgecontracts/Validator.go
  packages/arb-util/ethbridgecontracts/ValidatorUtils.go
  packages/arb-util/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-util/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-util/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-util/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-util/ethbridgetestcontracts/RollupEventBridge.go
Due: go-vet

fix withdraw event queries in arb-ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

bump arb-ts
  packages/arb-ts/package.json
Due: none

add tests
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
Due: none
