Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Disable manual flushing, adjust DB parameters
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add config updates missing from last commit
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Workaround weird typechain bug
  packages/arb-ts/src/lib/bridge.ts
Due: none

Refactor function order
  packages/arb-ts/src/lib/bridge.ts
Due: none

Reproduce weird failure
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: prettier-soldity

Adjust database setting to decrease startup time
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Update Solidity_Support.md
  docs/Solidity_Support.md
Due: none

Validator should continually retry
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-rpc-node/batcher/batcher.go
Due: go-vet

Update NodeInterface location
  packages/arb-bridge-peripherals/contracts/rpc-utils/NodeInterface.sol
  packages/arb-evm/arboscontracts/abigen.sh
Due: prettier-soldity

Fix issue with closing already closed database
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Fix constructor and tests
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: prettier-soldity

Print exception on arbstore load failure
  packages/arb-avm-cpp/cavm/carbstorage.cpp
Due: none

Beginning of ArbStore analysis utility
  packages/arb-avm-cpp/app/CMakeLists.txt
  packages/arb-avm-cpp/app/arbcorerunner.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Disable custom rocksdb options until rocksdb upgraded
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Fail early when the validator is still catching up
  packages/arb-node-core/staker/validator.go
Due: go-vet

Improve validator logging
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

Allow passing extra data in the ERC777 data field
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Fix contracts
  packages/arb-bridge-peripherals/contracts/buddybridge/ethereum/L1Buddy.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
Due: prettier-soldity

Refactor flow and decouple utility methods from main logic
  packages/arb-bridge-peripherals/contracts/buddybridge/arbitrum/BuddyDeployer.sol
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-ts/src/lib/bridge.ts
Due: prettier-soldity

Inbox reader efficiency
  packages/arb-node-core/ethbridge/bridgeWatcher.go
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-node-core/ethutils/client.go
  packages/arb-node-core/staker/inboxReader.go
Due: go-vet

Add run loop to arbcore runner
  packages/arb-avm-cpp/app/arbcorerunner.cpp
Due: none

Serialize one layer of immediate inline with codepoint
  packages/arb-avm-cpp/avm_values/include/avm_values/bigint.hpp
  packages/arb-avm-cpp/avm_values/src/bigint.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Add utility method in bridge to find inbox sequence number
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-ts/src/lib/bridge.ts
Due: none

Fix test cases
  packages/arb-bridge-peripherals/test/buddyBridge.l2.ts
Due: none

Log when initial machine hash doesn't match chain
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

update-abi: nuke old arb-ts interfaces before generating; copy all interfaces/factories
  packages/arb-ts/scripts/update-abi
Due: none

add update:abi as arb-ts post install script
  packages/arb-ts/package.json
Due: none

import use __factory interfaces everywhere
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
  packages/tools/scripts/setup_validators_demo.ts
Due: none

remove unused imports post-rebase
  packages/arb-ts/src/lib/bridge.ts
Due: none
