Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Update MACHINEHASH
  packages/MACHINEHASH
Due: none

Update ArbOS and add test
  packages/MACHINEHASH
  packages/arb-evm/arbos/arbos.go
  packages/arb-evm/arbos/arbretryable.go
  packages/arb-evm/arboscontracts/abigen.sh
  packages/arb-evm/arboscontracts/arbretryable.go
  packages/arb-evm/message/message.go
  packages/arb-evm/message/retryable.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/web3/ethclient.go
Due: go-vet

Update arbos and test
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Update arbos and continue adding tests
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Expand testing
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Update arbos
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Update arbos and fail on all errors in dev agg
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Improve bounds of staker challenge tests again
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Enhance rollup events
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupLib.sol
  packages/arb-bridge-eth/test/arbRollup.ts
  packages/arb-bridge-eth/test/rolluplib.ts
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/validator.go
  packages/arb-ts/src/lib/abi/ArbSys.d.ts
  packages/arb-ts/src/lib/abi/BridgeCore.d.ts
  packages/arb-ts/src/lib/abi/BridgeFactory.d.ts
  packages/arb-ts/src/lib/abi/BridgeProxy.d.ts
  packages/arb-ts/src/lib/abi/OutboxEntryFactory.d.ts
  packages/arb-ts/src/lib/abi/factories/ArbSys__factory.ts
Due: prettier-soldity, go-vet

Regenerate ABIs
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ConfirmRoots.sol
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet

Split transactions into appropriate segments
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

ERC677 & ERC2612
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
Due: prettier-soldity

Refactor arbcore initialization
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Fix previous PR
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: go-vet

Update arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Log transaction timing information
  packages/arb-node-core/ethbridge/bridgeWatcher.go
  packages/arb-rpc-node/batcher/batcher.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/monitor/monitor.go
Due: go-vet

Fix unitialized field
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Fix latest block race condition
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

make balance methods idiomatic-er
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

various updates r.e. contract state management, balances, etc
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

fix import casing, connect via right l1/l2 addresses
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/bridge.ts
Due: none

Log when message delivery taking too long instead of timing out
  packages/arb-util/core/logreader.go
  packages/arb-util/core/lookup.go
Due: go-vet

Add missing commit
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix test
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
Due: none

make sure saveCheckpoint is always handled inside main ArbCore thread
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

