Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Fix index increment in block tracing
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

Fix block tracing error message
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

Add arbitrary call affordance
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

fix nitro migrator arbitrary call
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

Add functionality to prepare for nitro transition
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cavm/cexecutioncursor.cpp
  packages/arb-avm-cpp/cavm/cexecutioncursor.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/cmachine/executioncursor.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/core/lookup.go
  packages/arb-util/machine/machine.go
Due: go-vet

Suggest node provider on Running Node pages for users who don't need to run a node themselves
  docs/Running_Nitro_Node.md
  docs/Running_Node.md
Due: none

Updating Alchemy's node provider documentation
  docs/Node_Providers.md
Due: none

Added more useful tutorials from Alchemy / Web3 University to the Tutorials page.
  docs/Tutorials.md
Due: none

onemore tutorial
  docs/Tutorials.md
Due: none

Cleanup core thread error handling
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/staker/staker.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/common/errors.go
  packages/arb-util/core/lookup.go
Due: go-vet

track rollup shutdown mode with block number and respond to pr comments
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Add assertion period change to migrator and events on rollup shutdown
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Update to add note that Arbitrum = Ethereum
  docs/Tutorials.md
Due: none

Update to add arb-mainnet and arb-rinkeby
  docs/Tutorials.md
Due: none

Suggest node provider on Running Node pages for users who don't need to run a node themselves (#2271)
  docs/Running_Nitro_Node.md
  docs/Running_Node.md
Due: none

address code review comments
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/common/errors.go
Due: go-vet

Properly exit when inboxReader thread finishes
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Create .clabot
  .clabot
Due: none

Create .clabot (#2279)
  .clabot
Due: none

Added more useful tutorials from Alchemy / Web3 University to the Tut… (#2273)
  docs/Tutorials.md
Due: none

nitro-export updates
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/nitroexport/crossdb.go
  packages/arb-rpc-node/nitroexport/rpcserver.go
Due: go-vet

Nitro migration init
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-eth/scripts/genAbi.js
  packages/arb-bridge-eth/test/nitro-upgrade.fork.ts
  packages/arb-bridge-eth/test/nitroMigrationManager.ts
  yarn.lock
Due: prettier-soldity

Added step 1
  packages/arb-bridge-eth/test/nitro-upgrade.fork.ts
Due: none

replace geth version in more places
  packages/arb-avm-cpp/go.mod
  packages/arb-evm/go.mod
  packages/arb-node-core/go.mod
  packages/arb-util/go.mod
Due: none

circleci: pull geth submodule
  .circleci/config.yml
Due: none

arb-export update binary to new API
  packages/arb-rpc-node/cmd/arb-export/arb-export.go
Due: go-vet

update go modules
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-node-core/go.sum
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: none

error format fixes
  packages/arb-rpc-node/cmd/arb-export/arb-export.go
  packages/arb-rpc-node/nitroexport/crossdb.go
Due: go-vet

Added step2 and 3
  packages/arb-bridge-eth/test/nitro-upgrade.fork.ts
  packages/arb-bridge-eth/test/nitroMigrationManager.ts
Due: none

Added waits to internal steps
  packages/arb-bridge-eth/test/nitro-upgrade.fork.ts
  packages/arb-bridge-eth/test/nitroMigrationManager.ts
Due: none

fix: separate getting all stakers loop from delete stakers loop
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Now running step 1 correctly
  packages/arb-bridge-eth/test/nitro-upgrade.fork.ts
  packages/arb-bridge-eth/test/nitroMigrationManager.ts
Due: none

export-state only once per block
  packages/arb-rpc-node/nitroexport/exportstate.go
Due: go-vet

DTidying
  packages/arb-bridge-eth/test/nitro-upgrade.fork.ts
  packages/arb-bridge-eth/test/nitroMigrationManager.ts
Due: none

Added intermediary steps
  packages/arb-bridge-eth/test/nitro-upgrade.fork.ts
  packages/arb-bridge-eth/test/nitroMigrationManager.ts
Due: none

Properly set L1 block height for metrics
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

