Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Fix early return in out-of-balance case
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-util/ethbridgecontracts/GasRefunder.go
Due: prettier-soldity, go-vet

add transferProxyAdminOwner task for arb-bridge-eth and arb-bridge-peripherals
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-upgrades/index.ts
Due: none

include transferBeaconOwner task in arb-bridge-peripherals
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: none

add some sanity checks / logs to transferBeaconOwner
  packages/arb-upgrades/index.ts
Due: none

name param beaconaddress for transfer-beacon-owner tasks
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: none

Update ArbOS to 6.5 and add more retryable remapping tests
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
  packages/arb-rpc-node/dev/retryable_test.go
Due: prettier-soldity, go-vet

seperate transferMainProxyAdminOwner from transferProxyAdminOwner
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-upgrades/index.ts
Due: none

Add more retryable tests, specifically autoredeem
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

fix transferBeaconOwner param
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: none

Fix owner deploy test
  packages/arb-rpc-node/arbostest/owner_deploy_test.go
Due: go-vet

fix typos / update with PR suggetions
  docs/Bridging_Assets.md
  docs/L1_L2_Messages.md
  docs/Solidity_Support.md
Due: none

fix broken link
  docs/Time_in_Arbitrum.md
Due: none

add precompiles stuff to docs
  docs/Differences_Ethereum_Overview.md
  docs/Security_Considerations.md
Due: none

Add gas refunder without funds to TestSequencerBatcher
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Improve safety of sequencerBatcher gas refunder usage
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Use gwei keyword in Solidity
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-util/ethbridgecontracts/GasRefunder.go
Due: prettier-soldity, go-vet

Remove post init hook
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: prettier-soldity, go-vet

Update rinkeby sequencer inbox
  packages/arb-bridge-eth/_deployments/4_current_deployment.json
Due: none

Update deployment to include sequencer inbox
  packages/arb-bridge-eth/_deployments/4_current_deployment.json
Due: none

Fix rbf resulting in null receipt crashing sequencer
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/transactauth/chain.go
Due: go-vet

Add configurable gas limit increase to sequencer batches
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Update sequencer bridge and gas refunder
  packages/arb-bridge-eth/_deployments/1_current_deployment.json
Due: none

allows getting rollup.from-block from cli parameters
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add register custom token script
  packages/arb-ts/scripts/registerCustomToken.ts
Due: none

Fix arb bridge eth tests
  packages/arb-bridge-eth/test/arbRollup.spec.ts
  packages/arb-bridge-eth/test/executionproof.spec.ts
Due: none

fix broken links
  docs/L1_L2_Messages.md
  docs/Security_Considerations.md
Due: none

Script fixes
  packages/arb-ts/package.json
  packages/arb-ts/scripts/getCLargs.ts
  packages/arb-ts/scripts/registerCustomToken.ts
Due: none

redeem retryable on l2 for registerCustomToken
  packages/arb-ts/scripts/registerCustomToken.ts
Due: none

forward maxSubmission cost value
  packages/arb-ts/scripts/registerCustomToken.ts
Due: none

Script fixes
  packages/arb-ts/scripts/getCLargs.ts
  packages/arb-ts/scripts/registerCustomToken.ts
Due: none

Update Inside_Arbitrum.md
  docs/Inside_Arbitrum.md
Due: none

finish first draft
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/src/lib/bridge_monitor.ts
Due: none

remove outbox and bridge from networks config; update getBridgeContract to getBridgAddress
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_monitor.ts
  packages/arb-ts/src/lib/networks.ts
Due: none

Add OneStepProof test for blake2bf
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/tests/machine-cases/blake2bf.mexe
  packages/arb-bridge-eth/test/proofs/blake2bf.mexe-proofs.json
  packages/arb-util/ethbridgetestcontracts/OneStepProof.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-util/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-util/proofmachine/proofmachine.go
Due: go-vet

remove another bridge address thing
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

increase maxGas estimate; bump arb-ts
  packages/arb-ts/package.json
  packages/arb-ts/src/lib/bridge.ts
Due: none

add setowner to L1CustomGateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
Due: prettier-soldity

Automatically set sequencer aggregator base fee
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/basefee.go
Due: go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

