Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Release execution cursor clone
  packages/arb-avm-cpp/cmachine/executioncursor.go
Due: go-vet

Add sequencer batches from origin and sequencer inbox events
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
Due: prettier-soldity

Fix inbox osp
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
Due: prettier-soldity

update tests (including failing update token info test)
  packages/arb-ts/integration_test/arb-bridge.test.ts
Due: none

more helper methods in arb-ts (bridge-related)
  packages/arb-ts/integration_test/config.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Adjust rocksdb settings to better manage memory
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Start implementing sequencer inbox
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
Due: prettier-soldity

Disable rocksdb bloom filter
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Reduce write buffer size
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Add more L1 tests for getting token info
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/InboxMock.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TesterERC20Token.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Add extra test case and fix bytes parser
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/BytesParser.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TesterERC20Token.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

running program worked
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/tests/wasm.cpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof2.sol
Due: prettier-soldity

Add bridge logic upgrade script
  packages/arb-bridge-peripherals/scripts/upgrade_bridge_logic.ts
Due: none

next have to figure how this is handled on go side
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

move setup to before, update config, cleanup
  packages/arb-bridge-peripherals/contracts/buddybridge/test/TestERC20.sol
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/integration_test/config.ts
Due: prettier-soldity

Remove bad code from merge
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

arb core for wasm program
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbstorage.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

Fix fast withdrawal logic
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Remove dead code from merge
  packages/arb-rpc-node/batcher/batcher.go
Due: go-vet

Remove failing test checks
  packages/arb-avm-cpp/cmachine/executioncursor_test.go
  packages/arb-evm/evm/log.go
Due: go-vet

Update zerolog and cleanup logging
  packages/arb-avm-cpp/cmachine/cmachine_test.go
  packages/arb-avm-cpp/cmachine/executioncursor_test.go
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/cmachine/nodestorage_test.go
  packages/arb-avm-cpp/cmachine/storage_test.go
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-avm-cpp/speedtest/speed_test.go
  packages/arb-evm/arbos/arbos.go
  packages/arb-evm/evm/log.go
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-evm/message/main_test.go
  packages/arb-evm/message/message.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-node-core/ethbridge/chain.go
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-node-core/staker/monitor.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/test/helper.go
  packages/arb-rpc-node/arbosmachine/arbosmachine.go
  packages/arb-rpc-node/arbostest/arbostest.go
  packages/arb-rpc-node/batcher/batcher.go
  packages/arb-rpc-node/batcher/statelessBatch.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/utils/rpc.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-util/core/logreader.go
  packages/arb-util/go.mod
  packages/arb-util/go.sum
  packages/arb-util/monitor/monitor.go
Due: go-vet

phrasing tweaks, fix typoes
  docs/Inside_Arbitrum/Rollup_Protocol.md
Due: none

Add Inside Arbitrum content
  docs/Inside_Arbitrum/AVM.md
  docs/Inside_Arbitrum/Above_or_Below_the_Line.md
  docs/Inside_Arbitrum/ArbGas_and_Fees.md
  docs/Inside_Arbitrum/ArbOS.md
  docs/Inside_Arbitrum/Arbitrum_Architecture.md
  docs/Inside_Arbitrum/Bridging.md
  docs/Inside_Arbitrum/Deposit_Withdraw.md
  docs/Inside_Arbitrum/EVM_Compatibility.md
  docs/Inside_Arbitrum/EthBridge.md
  docs/Inside_Arbitrum/Full_Nodes.md
  docs/Inside_Arbitrum/Optimistic_Rollup.md
  docs/Inside_Arbitrum/Rollup_Protocol.md
  docs/Inside_Arbitrum/Validators.md
Due: none

detail on outbox
  docs/Inside_Arbitrum/EthBridge.md
Due: none

Bug fixes and minor edits
  docs/Inside_Arbitrum/AVM.md
  docs/Inside_Arbitrum/ArbGas_and_Fees.md
  docs/Inside_Arbitrum/Arbitrum_Architecture.md
  docs/Inside_Arbitrum/EVM_Compatibility.md
  docs/Inside_Arbitrum/EthBridge.md
  docs/Inside_Arbitrum/Full_Nodes.md
  docs/Inside_Arbitrum/Interactive_Proving.md
  docs/Inside_Arbitrum/Optimistic_Rollup.md
  docs/Inside_Arbitrum/Rollup_Protocol.md
  docs/Inside_Arbitrum/Validators.md
Due: none

Combine Inside Arbitrum into single file and cleanup
  docs/Inside_Arbitrum.md
  docs/Inside_Arbitrum/AVM.md
  docs/Inside_Arbitrum/Above_or_Below_the_Line.md
  docs/Inside_Arbitrum/ArbGas_and_Fees.md
  docs/Inside_Arbitrum/ArbOS.md
  docs/Inside_Arbitrum/Arbitrum_Architecture.md
  docs/Inside_Arbitrum/Bridging.md
  docs/Inside_Arbitrum/Deposit_Withdraw.md
  docs/Inside_Arbitrum/EVM_Compatibility.md
  docs/Inside_Arbitrum/EthBridge.md
  docs/Inside_Arbitrum/Full_Nodes.md
  docs/Inside_Arbitrum/Interactive_Proving.md
  docs/Inside_Arbitrum/Optimistic_Rollup.md
  docs/Inside_Arbitrum/Rollup_Protocol.md
  docs/Inside_Arbitrum/The_Big_Picture.md
  docs/Inside_Arbitrum/Validators.md
Due: none

Package Inside Arbitrum as a single file
  docs/Inside_Arbitrum.md
Due: none

Add interactive proving page to Inside Arbitrum
  docs/Inside_Arbitrum/Interactive_Proving.md
  docs/Inside_Arbitrum/Optimistic_Rollup.md
Due: none

Add sequencer description to Inside Arbitrum
  docs/Inside_Arbitrum.md
Due: none

Start adding Inside Arbitrum content
  docs/InsideArbitrum/TheBigPicture.md
Due: none

Add first Inside Arbitrum page
  docs/Inside_Arbitrum/The_Big_Picture.md
Due: none

Update
  docs/Inside_Arbitrum/The_Big_Picture.md
Due: none

Add header info
  docs/InsideArbitrum/TheBigPicture.md
  docs/Inside_Arbitrum/The_Big_Picture.md
Due: none

fix typo
  docs/Inside_Arbitrum/AVM.md
Due: none

clarifications on interactive benefits
  docs/Inside_Arbitrum/Interactive_Proving.md
Due: none
