Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Keystore should be replaced, too
  packages/arb-bridge-eth/geth/keystore/UTC--2019-12-17T03-15-59.992315000Z--81183c9c61bdf79db7330bbcda47be30c0a85064
  packages/arb-bridge-eth/geth/keystore/UTC--2021-08-16T17-36-23.187154380Z--4f5fd0ea6724dfbf825714c2742a37e0c0d6d7d9
Due: none

Revert "Disable inbound Escrow And Call logic from gateways"
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/EscrowAndCallGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Disable inbound Escrow And Call logic from gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/EscrowAndCallGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Update documentation in gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
Due: prettier-soldity

Fix most compiler warnings for bridge contracts
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayMessageHandler.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/InboxMock.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestPostDepositCall.sol
Due: prettier-soldity

Add new GasRefunder contract and integrate it into SequencerInbox
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-bridge-eth/contracts/validator/IGasRefunder.sol
  packages/arb-bridge-eth/deploy/GasRefunder.ts
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: prettier-soldity

Rename spenderBalance to refundeeBalance in GasRefunder
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
Due: prettier-soldity

add new security considerations doc
  docs/Security_Considerations.md
Due: none

retryable ticket docs: include address aliasing stuff, document redeem and cancel
  docs/L1_L2_Messages.md
Due: none

remove "not used in production" from readme 🥳
  README.md
Due: none

include address aliasing in solidty support section
  docs/Solidity_Support.md
Due: none

token bridge docs: remove domain agnosticism; update assumptions about l1 token
  docs/Bridging_Assets.md
Due: none

update arbos formats (use version in arbos repo)
  docs/ArbOS_Formats.md
Due: none

Update rinkeby deployments
  packages/arb-bridge-peripherals/_deployments/421611_current_deployment.json
  packages/arb-bridge-peripherals/_deployments/4_current_deployment.json
Due: none

Add parameters to GasRefunder and use in sequencer gas usage test
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-bridge-eth/contracts/validator/IGasRefunder.sol
  packages/arb-rpc-node/batcher/sequencer_gas_usage_test.go
  packages/arb-util/ethbridgecontracts/GasRefunder.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgecontracts/gen.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: prettier-soldity, go-vet

Update mainnet deployment
  packages/arb-bridge-peripherals/_deployments/1_current_deployment.json
  packages/arb-bridge-peripherals/_deployments/42161_current_deployment.json
Due: none

Split up maxSingleRefund into maxGasCost and maxSingleGasUsage
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-util/ethbridgecontracts/GasRefunder.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: prettier-soldity, go-vet

Fix upgrade verification check to avoid node getStorageAt bug
  packages/arb-upgrades/index.ts
Due: none

Fix eth_getStorageAt
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Add refundee whitelist
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-bridge-eth/contracts/validator/IGasRefunder.sol
  packages/arb-rpc-node/batcher/sequencer_gas_usage_test.go
  packages/arb-util/ethbridgecontracts/GasRefunder.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: prettier-soldity, go-vet

Use .call instead of .send or .transfer
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-util/ethbridgecontracts/GasRefunder.go
Due: prettier-soldity, go-vet

Use enums and structs
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-rpc-node/batcher/sequencer_gas_usage_test.go
  packages/arb-util/ethbridgecontracts/GasRefunder.go
Due: prettier-soldity, go-vet

Clarify intentions around arbitrary addresses
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-util/ethbridgecontracts/GasRefunder.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: prettier-soldity, go-vet

Add gas refunder address config option to sequencer
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix eth_call ArbOS address remapping
  packages/arb-evm/message/message.go
  packages/arb-rpc-node/snapshot/snapshot.go
Due: go-vet

Remove outdated test case in gateway
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: none

INITIAL blake2f marshalBufferProof
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
Due: none

blake2bF: node implementation
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
Due: none

INITIAL blake2F OneStepProof
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProofCommon.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProofHash.sol
Due: prettier-soldity

blake2b helper functions
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/machinestate/blake2b.hpp
  packages/arb-avm-cpp/avm/src/machinestate/blake2b.cpp
Due: none

blake2bf: opcode definitions
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
Due: none

blake2bF: opcode tests
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: none

arb-avm-cpp: require Boost 1.71
  packages/arb-avm-cpp/CMakeLists.txt
Due: none

machineoperation: add const assumeBuffer implementation
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
Due: none

Test IsAllowedSender call from owner in whitelist test
  packages/arb-rpc-node/dev/whitelist_test.go
Due: go-vet

Improve out of funds handling and get rid of try-catch
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
  packages/arb-util/ethbridgecontracts/GasRefunder.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: prettier-soldity, go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

