Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.3.2'
          - 'prettier-plugin-solidity@^1.0.0-beta.17'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "PATH=/usr/local/bin:$PATH  go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Fix `--node.forwarder.rpc-mode='non-mutating'`
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/ethforwarder.go
  packages/arb-rpc-node/web3/launch.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Node should request correct messages on startup, fix unit test
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Add missing changes to last commit
  packages/arb-util/broadcastclient/broadcastclient.go
Due: go-vet

Shutdown cleanly when fatal feed error
  packages/arb-util/broadcastclient/broadcastclient.go
Due: go-vet

Requiring `--l2.chain-id` for arb-relay allows for code simplification
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/wsbroadcastserver/wsbroadcastserver.go
Due: go-vet

address code review comments
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcaster/confirmedaccumulatorcatchupbuffer.go
Due: go-vet

add html wrappers to tables, various tweaks
  docs/AnyTrust.md
  docs/Public_Chains.md
  docs/Useful_Addresses.md
Due: none

Address code review
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcaster/confirmedaccumulatorcatchupbuffer.go
Due: go-vet

Refactor to improve variable naming and code clarity
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
Due: go-vet

Ensure index cannot go past end of array
  packages/arb-util/broadcaster/confirmedaccumulatorcatchupbuffer.go
Due: go-vet

export to nitro: fix offbyone
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-rpc-node/cmd/arb-export/arb-export.go
  packages/arb-rpc-node/nitroexport/crossdb.go
Due: go-vet

exportState: dirname when exporting latest
  packages/arb-rpc-node/nitroexport/rpcserver.go
Due: go-vet

Add unit test for feed cache buffer
  packages/arb-util/broadcaster/confirmedaccumulatorcatchupbuffer.go
  packages/arb-util/broadcaster/confirmedaccumulatorcatchupbuffer_test.go
Due: go-vet

refactor: inherit ERC165 in L1 impl contracts
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
Due: prettier-soldity

fix L2 tests without erc165
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
  packages/arb-bridge-peripherals/test/wethBridge.l2.ts
Due: none

feat: implement ERC165 on L1 token bridge (#2362)
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/ERC165.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IERC165.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
  packages/arb-bridge-peripherals/test/gatewayRouter.l1.ts
  packages/arb-bridge-peripherals/test/wethBridge.l1.ts
Due: prettier-soldity

refactor custom refund entrypoint only available in L1
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/IL1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/IL1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
Due: prettier-soldity

cleanup interface
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/IL1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

Init test with helper to reduce code duplication
  packages/arb-util/broadcaster/confirmedaccumulatorcatchupbuffer_test.go
Due: go-vet

Update running nitro node docs to use beta.3
  docs/Running_Nitro_Node.md
Due: none

Add http headers to feed
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/broadcasterload_test.go
  packages/arb-util/broadcaster/confirmedaccumulatorcatchupbuffer.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/wsbroadcastserver/clientconnection.go
  packages/arb-util/wsbroadcastserver/clientmanager.go
  packages/arb-util/wsbroadcastserver/wsbroadcastserver.go
Due: go-vet

fix: remove IERC165 from IERC721.sol
  packages/arb-bridge-eth/contracts/interfaces/IERC721.sol
Due: prettier-soldity

test: new interfaces for compatibility
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/IL1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/IL1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/InterfaceCompatibilityTester.sol
Due: prettier-soldity

Subtract one from ExportHistoryStatus return value
  packages/arb-rpc-node/nitroexport/rpcserver.go
Due: go-vet

Update documentation with correct default urls
  docs/Running_Nitro_Node.md
Due: none

update feed URL
  docs/Running_Nitro_Node.md
Due: none
