Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Created version 2 support for server. Implemented Version 2 binary protocol for the broadcast client.
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Updated the client to send the last accumulator. Updated the server to only send messages from the last accumulator onwards. Client saves last accumulator on message ingestion.
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

add rinkeby / rinkarby token bridge addresses to docs
  docs/Public_Testnet.md
Due: none

Assorted minor log cleanups
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Additional log tweaks
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
Due: none

Log L1 node status on startup
  packages/arb-util/configuration/configuration.go
Due: go-vet

Implement ECALL in AVM accoring
  packages/MACHINEHASH
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
Due: none

Pin the submodle 'arb-os' with branch 'dev'
  .gitmodules
Due: none

Upgrade owner address
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

update bridging_Assets with suggestions, move "other flavors" section to the end
  docs/Bridging_Assets.md
Due: none

update working of exceptions case to generic custom tokens
  docs/Bridging_Assets.md
Due: none

ensure assertion is confirmed before attempting outbox execution in triggerL2ToL1Transaction
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

increase default retryable submission fee bump
  packages/arb-ts/src/lib/bridge.ts
Due: none

use creditback address for permissionless setgateway and registerTokenOnL2
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
Due: prettier-soldity

Update machinehash
  packages/MACHINEHASH
Due: none

reading and writing vectors from IO
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

added granular integrationt tests
  packages/arb-ts/integration_test/bridgeSpecific.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/package-lock.json
  packages/arb-ts/package.json
Due: none

Don't wait for broadcast feed connection before starting up
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Fix separate goroutine errors
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Refactor to ConnectInBackground method
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcastclient/broadcastclient.go
Due: go-vet

Check arbos.mexe hash in node, not just validator
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/monitor/monitor.go
Due: go-vet

address code review comments
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
Due: none

Pass JSON config string on command line or file in S3 bucket
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.sum
  packages/arb-util/configuration/configuration.go
  packages/arb-util/go.sum
Due: go-vet

Move Rollup.ChainId to Node.ChainId
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

ECALL now is changed into 'ecall(a, b, c ,d) -> (e, f, g, h)' while all the arguments are uint256'
  packages/MACHINEHASH
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
Due: none

added method to get finalize inbound transfer on l2
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

check that tx has already been redeemed on l2 side also in cancelRetryable
  packages/arb-ts/src/lib/abi/L1ERC20Gateway.d.ts
  packages/arb-ts/src/lib/bridge.ts
Due: none

remove instances of wrapped provider
  docs/Contract_Deployment.md
Due: none

Reduce commitment of code to long term memory storage
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/src/code.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: none

Optimize code storage
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: none

Add new running code type
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
Due: none
