Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

add tests
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

add Bridge level wrapper for getERC20L1Address
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/src/lib/bridge.ts
Due: none

Validator max execution gas should default to disabled (0)
  packages/arb-util/configuration/configuration.go
Due: go-vet

fix error catching in getERC20L1Address; bump beta version
  packages/arb-ts/package.json
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

ethcall testing: improve
  packages/arb-rpc-node/dev/ethcall_test.go
Due: go-vet

add unsuppoeted precompiles to solidity support docs
  docs/Solidity_Support.md
Due: none

update note on sequencer batches in txn lifecycle ("once we're on mainnet")
  docs/Tx_Lifecycle.md
Due: none

change instant finality to instant confirmation, fix typo
  docs/Inside_Arbitrum.md
Due: none

ethcall code improvements
  packages/arb-rpc-node/dev/ethcall_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
Due: go-vet

Add end to end test with minting in L2 custom gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestArbCustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: prettier-soldity

Add try catch to inbound escrow transfer
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
Due: prettier-soldity

Add interface inheritance to L1 mintable token
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
Due: prettier-soldity

Enable custom token self registration in gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: prettier-soldity

ethcall upgrade test
  .circleci/config.yml
  packages/arb-rpc-node/dev/ethcall_test.go
Due: go-vet

Add L1 signal registry
  packages/arb-bridge-peripherals/contracts/misc/Registry.sol
Due: prettier-soldity

Update signal interface
  packages/arb-bridge-peripherals/contracts/misc/Registry.sol
Due: prettier-soldity

update glossary
  docs/Glossary.md
Due: none

Bump dep versions
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-peripherals/package.json
  yarn.lock
Due: none

Force unlimited execution when db load enabled
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add test to gateway router self registration
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: prettier-soldity

Remove only flag in test
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: none

Add queued deployments
  packages/arb-bridge-peripherals/_deployments/1_queued-updates.json
Due: none

Remove solidity-docgen for now
  package.json
  yarn.lock
Due: none

Remove doc generation script
  package.json
Due: none

Upgrade 46 (#1685)
  .circleci/config.yml
  packages/MACHINEHASH
  packages/arb-evm/arbos/arbos.go
  packages/arb-evm/arbos/arbostest.go
  packages/arb-evm/arboscontracts/ArbSys.go
  packages/arb-evm/arboscontracts/ArbosTest.go
  packages/arb-evm/arboscontracts/gen.go
  packages/arb-rpc-node/arbostestcontracts/ethCallTester.go
  packages/arb-rpc-node/arbostestcontracts/ethCallTester.sol
  packages/arb-rpc-node/dev/ethcall_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/interface.go
Due: prettier-soldity, go-vet

Fix Markdown typo
  docs/Mainnet.md
Due: none

Typo in solidity example
  docs/L1_L2_Messages.md
Due: none

Implement a sort of compare operators
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
Due: none
