Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

ArbOS update and test updates
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostest/minimum_gas_test.go
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Test cleanups and update arbos
  packages/arb-rpc-node/arbostest/arbsys_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
Due: go-vet

Update arb-os
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
Due: go-vet

Use 1.1*price as the gas price
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Update arbos and output format
  packages/arb-evm/evm/request.go
Due: go-vet

Add an old machine cache to ArbCore (WIP)
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Increase old machine cache interval and max size
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add missing constants to fix arb-avm-cpp compilation
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add pure backwards reorg test
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Fix formatting
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Implement code to check if tx should be included
  packages/arb-node-core/challenge/common_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/dev/dev.go
Due: go-vet

Fix sequencer tx failure detection
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/core/lookup.go
Due: go-vet

WIP: reorg out bad txs in sequencer mode
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/monitor/test_helper.go
  packages/arb-rpc-node/arbostest/arbcore_sideload_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-util/core/lookup.go
Due: go-vet

Add more error strings for tx failure
  packages/arb-evm/evm/result.go
Due: go-vet

Improve bad transaction errors
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Update MACHINEHASH
  packages/MACHINEHASH
Due: none

Update arbos_test.go
  packages/arb-rpc-node/arbostest/arbos_test.go
Due: go-vet

Update gas bounds
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Fix reorg cache deleting checkpoints
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Update sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Update arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
Due: go-vet

Working to get dev sequencer working with local geth node
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/dev/dev.go
Due: go-vet

Add --rpc.allow-unprotected-txs
  packages/arb-bridge-eth/scripts/launch-geth
Due: none

Add sleep to dev sequencer boot
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/dev/dev.go
Due: go-vet

Fix owner
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
Due: go-vet

Fix owner auth
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
Due: go-vet

Fix deleting logs handling block receipts/reorgs
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

expose public createMintCallData function
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

fix ts-ignores
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

remove RetryableTxParams
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

make createMintCallData internal and return length, pass directly deployed bool
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
Due: prettier-soldity

Rename deposit utility method and fix deposit token escrowing
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
Due: prettier-soldity

Remove unused struct
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity
