Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

wallet config cleanup
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Update Installation.md for linux
  docs/Installation.md
Due: none

Update RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

remove unused dependency / require
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: none

dry up error throwing for now file on getdeployments
  packages/arb-upgrades/index.ts
Due: none

use ES2017 for arb-upgrades
  packages/arb-upgrades/tsconfig.json
Due: none

don't mark package.json as private
  packages/arb-upgrades/package.json
Due: none

remove redudant isBeacon property
  packages/arb-upgrades/types.ts
Due: none

update yarn.lock
  packages/arb-upgrades/yarn.lock
  yarn.lock
Due: none

prompt before overriding a queued up deployment
  packages/arb-upgrades/index.ts
  packages/arb-upgrades/package.json
  yarn.lock
Due: none

remove commented code / add todo r.e. storage layout clashes
  packages/arb-upgrades/index.ts
Due: none

right-layer sanity check
  packages/arb-upgrades/index.ts
  packages/arb-upgrades/types.ts
Due: none

use tmp file for deployment
  packages/arb-upgrades/index.ts
Due: none

Run fee test with upgrade
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

update w/ upgradAndCall with postUpgradeInit
  packages/arb-upgrades/index.ts
Due: none

add log back in
  packages/arb-upgrades/index.ts
Due: none

Refactor gateway events to use clear names
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
Due: prettier-soldity

Move gateway events to respective L1 or L2 abstract contract
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
Due: prettier-soldity

update arb-ts w/ new deposit / withdraw events
  packages/arb-ts/package.json
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Update L2 gateway to handle old and new arb-os L1 to L2 address scheme
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
Due: prettier-soldity

Add post upgrade init functions that validate msg sender to all gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
Due: prettier-soldity

Add postUpgradeInit to gateway routers
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
Due: prettier-soldity

Add new address scheme handling to gateway router
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/L2ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2GatewayRouter.sol
Due: prettier-soldity

make _sequenceNumber bignumber
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

include txhash in WithdrawalInitiated event
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Fix typo
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
Due: prettier-soldity

Add unit test to L1/L2 address mapping
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: prettier-soldity

fix getBuildInfoString
  packages/arb-upgrades/index.ts
Due: none

check beacon and proxy admin share same owner
  packages/arb-upgrades/index.ts
Due: none

update hardhat version
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-bridge-peripherals/package.json
  packages/arb-upgrades/package.json
Due: none

add forkchain to hardhat config
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Add mainnet fork setup to bridge
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-bridge-peripherals/package.json
  packages/arb-upgrades/index.ts
Due: none

add transfer admin task
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-upgrades/index.ts
Due: none

fix casing in args
  packages/arb-bridge-peripherals/hardhat.config.ts
Due: none

Add a machine.BlockInfo LRU cache to TxDB
  packages/arb-avm-cpp/cmachine/nodestorage.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/machine/nodestorage.go
Due: go-vet

chill w/ the logging
  packages/arb-upgrades/index.ts
Due: none

Change default node.cache.lru-size from 20 to 1000
  packages/arb-util/configuration/configuration.go
Due: go-vet
