Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Fix unit test framework
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Enabled multiple client connections in the tests. Refactored MessageGenerator used by the test.
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Cleaning up what was code left over from test. Pulling the types from the broadcaster package. Cleaned up the broadcaster BroadcastMessage type.
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/types.go
Due: go-vet

Skip expensive gas estimation in upgrade test
  packages/arb-rpc-node/dev/upgrade_test.go
Due: go-vet

Generate address locally for constructor test
  packages/arb-rpc-node/arbostest/constructor_test.go
Due: go-vet

Theoretically add CLI sequencer support (untested)
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/launch.go
Due: prettier-soldity, go-vet

Simplify upgrade test and split out arb-rpc-node tests from arb-node-core tests
  .circleci/config.yml
  packages/arb-rpc-node/dev/upgrade_test.go
Due: go-vet

Go generate
  packages/arb-evm/arboscontracts/abigen.sh
  packages/arb-evm/arboscontracts/arbaggregator.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Add check for fee paid
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
Due: go-vet

Update arbos and fee test for new and old version
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Added in the code to send a new connection all of the cached messages.
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Fix pre-commit-config with proper flake8
  .pre-commit-config.yaml
Due: none

Update natspec documentation and simplify L2 bridge getBeacon
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Update withdrawal natspec
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Update arbos
  packages/MACHINEHASH
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Refactor interfaces used for L2 token contracts and add bridgeBurn
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbCustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbStandardToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/TokenAddressHandler.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestArbCustomToken.sol
Due: prettier-soldity

Update natspec documentation
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
Due: prettier-soldity

Update L1 bridge init params in scripts
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: none

update devnet bridge deployment / integration tests config
  packages/arb-bridge-peripherals/deployment.json
  packages/arb-ts/integration_test/config.ts
Due: none

...properly update contract addresses
  packages/arb-bridge-peripherals/deployment.json
  packages/arb-ts/integration_test/config.ts
Due: none

Update hardhat create-chain command
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

Update retryable test to include log emitting tx
  packages/arb-rpc-node/arbostestcontracts/transfer.go
  packages/arb-rpc-node/arbostestcontracts/transfer.sol
  packages/arb-rpc-node/dev/retryable_test.go
Due: prettier-soldity, go-vet

include inbox address in bridge deployment.json, remove default
  packages/arb-bridge-peripherals/deployment.json
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
Due: none

update abi
  packages/arb-ts/src/lib/abi/ArbTokenBridge.d.ts
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/IArbStandardToken.d.ts
  packages/arb-ts/src/lib/abi/IArbTokenBridge.d.ts
  packages/arb-ts/src/lib/abi/StandardArbERC20.d.ts
  packages/arb-ts/src/lib/abi/TestArbCustomToken.d.ts
  packages/arb-ts/src/lib/abi/factories/ArbBatchTokenMover__factory.ts
  packages/arb-ts/src/lib/abi/factories/ArbTokenBridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthBatchTokenReceiver__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthERC20Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/IArbStandardToken__factory.ts
  packages/arb-ts/src/lib/abi/factories/IArbTokenBridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2Called__factory.ts
  packages/arb-ts/src/lib/abi/factories/StandardArbERC20__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestArbCustomToken__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestCustomTokenL1__factory.ts
  packages/arb-ts/src/lib/abi/index.ts
Due: none

Set actual inbox sequence number for end-of-block message
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: prettier-soldity, go-vet

Fix connectedContracts usage in Rollup constructor
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet

Expand out testing (currently failing)
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
  packages/arb-rpc-node/dev/retryable_test.go
Due: prettier-soldity, go-vet

Update arbos and test
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Fix various sequencer issues
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-evm/message/message.go
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/inbox/sequencerBatchItem.go
Due: prettier-soldity, go-vet

Sequencer message delivery fixes
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/core/lookup.go
Due: go-vet

Ignore sequencer batch gas price to allow for sequencing
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: prettier-soldity, go-vet

Update nodehealth test
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet
