Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Add note about permissions
  docs/Running_Node.md
Due: none

Remove `tmp` from example directories
  docs/Running_Node.md
Due: none

Add `mkdir` to ensure directory exists before changing permissions
  docs/Running_Node.md
Due: none

Update doc metadata
  docs/Running_Node.md
Due: none

Fix race condition in unit test
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Apply clang-tidy suggestion
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Properly fix race condition in unit test
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Fix memory leaks in unit tests
  packages/arb-avm-cpp/app/arbcorerunner.cpp
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/tests/aggregator.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/buffer.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/machine.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: none

Fix syntax error and merge mistake
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

DRY up code and fix dependency
  packages/arb-ts/package.json
  packages/arb-ts/scripts/genAbi.ts
Due: none

Update custom token interface
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: prettier-soldity

Test and fix inactive staker modes
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
  packages/arb-bridge-eth/test/proofs/dupsegments.mexe-proofs.json
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

Add rollup fund withdrawing support
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/staker/staker.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

bump arb-ts beta version
  packages/arb-ts/package.json
Due: none

Fix advanceCoreToTarget running past target when reorging
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Include `procps` in docker image
  .circleci/images/dist-base/Dockerfile
  packages/arb-node.Dockerfile
Due: none

Add module resolution to bump up transitive dependency version
  package.json
  yarn.lock
Due: none

Update interfaces but hitting solidity compiler bug
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: prettier-soldity

Add option to enable lazy loading of initialization
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Collect debugprints
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-node-core/challenge/core_test_utils.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-util/core/lookup.go
Due: go-vet

Fix debug_traceTransaction command name
  packages/arb-rpc-node/web3/debug.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/launch.go
Due: go-vet

Tweak tracing to get correct debugprints
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/web3/debug.go
Due: go-vet

Fix unit test
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Declare valueloader move constructors
  packages/arb-avm-cpp/avm/include/avm/valueloader.hpp
Due: none

Fix compile error
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix coreConfig test reorg to l2 block
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Rename `GetExecutionCursorAtBlock`
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/debug.go
  packages/arb-util/core/outputLookup.go
Due: go-vet

add runtime.KeepAlive to trace command
  packages/arb-rpc-node/web3/debug.go
Due: go-vet

Fix location of keepalive
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-rpc-node/web3/debug.go
Due: go-vet

Ensure Go doesn't garbage collect cursor
  packages/arb-avm-cpp/cmachine/cmachine_test.go
  packages/arb-avm-cpp/cmachine/executioncursor_test.go
  packages/arb-avm-cpp/speedtest/speed_test.go
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/challenge/inbox_proof_test.go
  packages/arb-node-core/challenge/proofmachine_test.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/web3/debug.go
Due: go-vet
