Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Update arbos and update node to support new chainid
  packages/arb-evm/arbos/arbsys.go
  packages/arb-evm/arboscontracts/ArbOwner.go
  packages/arb-evm/arboscontracts/ArbSys.go
  packages/arb-evm/message/init.go
  packages/arb-evm/message/l2Message.go
  packages/arb-evm/message/l2Message_test.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/arbostest/common_test.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostest/l2_test.go
  packages/arb-rpc-node/arbostest/owner_deploy_test.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-cli/arb-cli.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/dev/common_test.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/dev/upgrade_test.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/launch.go
Due: go-vet

Fix TestSequencerBatcher
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Regenerate abis
  packages/MACHINEHASH
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
Due: go-vet

Enable ZSTD and remove optimizeforpointlookup
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

compression type needs to be set at column level
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Add jemalloc
  .circleci/images/backend-base/Dockerfile
  .circleci/images/cpp-base/Dockerfile
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
  packages/arb-validator.Dockerfile
Due: none

Reduce checkpoint frequency
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Small optimization to runOne
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
Due: none

Make CodeSegment growth more efficient
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/codepoint.hpp
Due: none

Remove tuple pool
  packages/arb-avm-cpp/avm_values/include/avm_values/pool.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
  packages/arb-avm-cpp/avm_values/src/pool.cpp
Due: none

Delete RawTuple copy constructor and copy assignment
  packages/arb-avm-cpp/avm_values/include/avm_values/pool.hpp
Due: none

Fix cherry-pick issue
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add logs to track gas used
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add whitelist contract to inbox
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/libraries/Whitelist.sol
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
Due: prettier-soldity

Minor refactor and fix tests
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Add whitelist to token bridge
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: prettier-soldity

Fix token bridge deploy script
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/factories/EthERC20Bridge__factory.ts
Due: none

Add rollup affordances to control whitelist and fix tests
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
Due: prettier-soldity

Fix unit tests for arbrollup
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/hardhat.config.ts
Due: prettier-soldity

Prevent sequencer transactions data overrun
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
Due: prettier-soldity, go-vet

Add affordances to update sequencer address through rollup admin facet
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Emit event when sequencer upgraded
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

Add events to whitelist contract
  packages/arb-bridge-eth/contracts/libraries/Whitelist.sol
Due: prettier-soldity

Add upgradeability to outbox entries
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Remove deprecated clone factory
  packages/arb-bridge-eth/contracts/challenge/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/libraries/CloneFactory.sol
  packages/arb-bridge-eth/contracts/rollup/NodeFactory.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorWalletCreator.sol
Due: prettier-soldity

Add affordances for rollup admin to update whitelist entries
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Refactor rollup admin function names for clarity
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

Add cloneable to protect from selfdestruct and add explicit visibility to state vars
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Bump up block gas limit in hardhat for testing
  packages/arb-bridge-eth/hardhat.config.ts
Due: none
