Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

userOpts for TestFees
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Improve safety check in parsing
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Add more error printing around code segments
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add specific code segment check
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

More testing
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Update arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add more error logging
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: none

Remove extra check code
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix deserialization of buffers in code point immediates
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Added type inference and mandatory filters to event-fetcher
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/standarderc20.test.ts
  packages/arb-ts/integration_test/weth.test.ts
  packages/arb-ts/src/lib/assetBridger/tokenBridger.ts
  packages/arb-ts/src/lib/inbox/inbox.ts
  packages/arb-ts/src/lib/message/L2ToL1Message.ts
  packages/arb-ts/src/lib/utils/arbProvider.ts
  packages/arb-ts/src/lib/utils/eventFetcher.ts
  packages/arb-ts/src/lib/utils/networkState.ts
Due: none

Updates from misc review comments
  packages/arb-ts/src/lib/dataEntities/arbTransaction.ts
  packages/arb-ts/src/lib/message/L1Transaction.ts
  packages/arb-ts/src/lib/message/L2Transaction.ts
  packages/arb-ts/src/lib/utils/arbProvider.ts
Due: none

Tidied some imports
  packages/arb-ts/src/lib/assetBridger/tokenBridger.ts
  packages/arb-ts/src/lib/inbox/inbox.ts
  packages/arb-ts/src/lib/message/L1Transaction.ts
  packages/arb-ts/src/lib/message/L2ToL1Message.ts
  packages/arb-ts/src/lib/utils/arbProvider.ts
  packages/arb-ts/src/lib/utils/multicall.ts
Due: none

Re-ordered wait params
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/src/lib/message/L1ToL2Message.ts
Due: none

Add missing check for last_machine cach
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fixed typo when checking last cache
  packages/arb-avm-cpp/data_storage/src/combinedmachinecache.cpp
  packages/arb-avm-cpp/tests/combinedmachinecache.cpp
Due: none

Change "Taylor-made" to "tailor-made"
  docs/L1_L2_Messages.md
Due: none

Updated lib scripts
  packages/arb-ts/scripts/lib.ts
Due: none

Stop machine thread before any reorg
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix successful contract deploy tx init and code
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

Fix constructor tracing
  .pre-commit-config.yaml
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/dev/arbsys_test.go
  packages/arb-rpc-node/dev/common_test.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/ethcall_test.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/out_of_gas_test.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/dev/trace_test.go
  packages/arb-rpc-node/dev/transfer_test.go
  packages/arb-rpc-node/dev/upgrade_test.go
  packages/arb-rpc-node/dev/whitelist_test.go
  packages/arb-rpc-node/web3/trace.go
  packages/arb-util/test/helper.go
Due: go-vet

Split 'wait' into two functions
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/eth.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/scripts/deployStandard.ts
  packages/arb-ts/scripts/lib.ts
  packages/arb-ts/src/lib/message/L1ToL2Message.ts
Due: none

split out non-gas stuff from upgrade-55
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
Due: none

Close http.Get response bodies once we're done with them
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

fix fee math in tests with owner ops
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
  packages/arb-rpc-node/dev/arbsys_test.go
  packages/arb-rpc-node/dev/common_test.go
  packages/arb-rpc-node/dev/ethcall_test.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/out_of_gas_test.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/dev/transfer_test.go
  packages/arb-rpc-node/dev/upgrade_test.go
  packages/arb-rpc-node/dev/whitelist_test.go
Due: go-vet

Updated the arb-rs/README.md to checkout the lastest tag
  packages/arb-ts/README.md
Due: none

Reconnect ethclient on repeated error
  packages/arb-util/ethutils/client.go
Due: go-vet

Remove unused arg of aggregator.NewServer
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/dev/common_test.go
Due: go-vet

tweak NonAgg
  packages/MACHINEHASH
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
  packages/arb-rpc-node/dev/fees_test.go
Due: prettier-soldity, go-vet

Working on setting up fork node
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
  packages/arb-avm-cpp/avm_values/include/avm_values/value.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/valueloader.hpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/utils.hpp
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbstorage.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/corevalueloader.hpp
  packages/arb-avm-cpp/tests/value.cpp
  packages/arb-evm/arbos/arbowner.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-node-core/monitor/test_helper.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-fork-node/arb-fork-node.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/fork.go
  packages/arb-util/machine/checkpoint.go
Due: go-vet

Fix deposits and reorgs
  packages/arb-rpc-node/cmd/arb-fork-node/arb-fork-node.go
  packages/arb-rpc-node/dev/fork.go
Due: go-vet

Support pretty printing logs
  packages/arb-evm/evm/log.go
  packages/arb-evm/message/message.go
  packages/arb-node-core/challenge/challenger.go
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-node-core/ethbridge/bridge.go
  packages/arb-node-core/metrics/metrics.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-node-core/staker/staker.go
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/arbosmachine/arbosmachine.go
  packages/arb-rpc-node/batcher/batcher.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-fork-node/arb-fork-node.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/rpc/lockout.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/utils/rpc.go
  packages/arb-util/arblog/arblog.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/core/logreader.go
  packages/arb-util/fireblocks/fireblocks.go
  packages/arb-util/monitor/monitor.go
  packages/arb-util/transactauth/transactauth.go
  packages/arb-util/wsbroadcastserver/wsbroadcastserver.go
Due: go-vet

Fork node cleanups
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-fork-node/arb-fork-node.go
  packages/arb-rpc-node/cmd/internal/dev.go
Due: go-vet

pin & nonagg currentAggregator
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Fix multiple reconnect issue
  packages/arb-util/ethutils/client.go
Due: go-vet

Fix atomicity
  packages/arb-util/ethutils/client.go
Due: go-vet
