Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.3.2'
          - 'prettier-plugin-solidity@^1.0.0-beta.17'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "PATH=/usr/local/bin:$PATH  go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

update arbos
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
Due: none

arbos pin & import fstream
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
Due: none

Add events to nitro migrator
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

Add ShutdownForNitroSet event to sequencer inbox
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
Due: prettier-soldity

Fix chain id option to use classic option style instead of nitro
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Add `--node.chain-id` option to relay
  docs/Running_Node.md
Due: none

Split deployment and verification of logic contracts
  packages/arb-bridge-eth/.eslintrc.js
  packages/arb-bridge-eth/scripts/deployClassicLogic.ts
  packages/arb-bridge-eth/scripts/verifyClassicLogic.ts
Due: none

doc update 1.4.4
  docs/Running_Node.md
Due: none

Batch validator confirmations when nitro migration begins
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/staker/validator.go
  packages/arb-util/ethbridgecontracts/Bridge.go
  packages/arb-util/ethbridgecontracts/BridgeUtils.go
  packages/arb-util/ethbridgecontracts/Challenge.go
  packages/arb-util/ethbridgecontracts/GasRefunder.go
  packages/arb-util/ethbridgecontracts/INode.go
  packages/arb-util/ethbridgecontracts/Inbox.go
  packages/arb-util/ethbridgecontracts/Outbox.go
  packages/arb-util/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-util/ethbridgecontracts/RollupCreator.go
  packages/arb-util/ethbridgecontracts/RollupUserFacet.go
  packages/arb-util/ethbridgecontracts/SequencerInbox.go
  packages/arb-util/ethbridgecontracts/Validator.go
  packages/arb-util/ethbridgecontracts/ValidatorUtils.go
  packages/arb-util/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-util/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-util/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-util/ethbridgetestcontracts/NodeFactory.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof.go
  packages/arb-util/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-util/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-util/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-util/ethbridgetestcontracts/RollupEventBridge.go
Due: go-vet

docs: nitro-node v2.0.0
  docs/Running_Nitro_Node.md
Due: none

Support optional block num arg for estimate gas
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
Due: go-vet

Update Useful_Addresses.md
  docs/Useful_Addresses.md
Due: none

docs: new outbox
  docs/Useful_Addresses.md
Due: none

Update reason for using relay
  docs/Running_Nitro_Node.md
  docs/Running_Node.md
Due: none

Disable classic sequencer feed and forwarding for mainnet post-Nitro
  packages/arb-util/configuration/configuration.go
Due: go-vet

Don't batch confirmations past a differing number of stakers
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/staker/validator.go
Due: go-vet

chore: bump typescript-eslint
  packages/arb-bridge-peripherals/package.json
  yarn.lock
Due: none

Fix retryable test
  packages/MACHINEHASH
  packages/arb-node-core/ethbridge/inbox_test.go
Due: go-vet

add optional sender override on tx export
  packages/arb-rpc-node/cmd/arb-export/arb-export.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/nitroexport/crossdb.go
  packages/arb-rpc-node/nitroexport/rpcserver.go
Due: go-vet

remove arb-export
  packages/arb-rpc-node/cmd/arb-export/arb-export.go
Due: go-vet

use Errorf from fmt
  packages/arb-rpc-node/nitroexport/crossdb.go
Due: go-vet

Fix tracing for block 1
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Better defaults when reached end of classic blocks
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/monitor/monitor.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Only update prune point when maybe pruning
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

chore: fix comment on outbound bridge router contract
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2GatewayRouter.sol
Due: prettier-soldity
