Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Add multicall casestudy to block number docs
  docs/Time_in_Arbitrum.md
Due: none

handle special case token name/ symbols; alert but don't throw if l1/l2 symbols don't match
  packages/arb-ts/token_lists/generate_json.ts
Due: none

Fix broadcast er receive data
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/utils.go
Due: go-vet

Use actual queue processing for the sequencer txQueue
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Fix sequencer batcher size check when queue is full
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Add seenOwnTx check
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Revert "Fix broadcast er receive data"
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/utils.go
Due: go-vet

Fix broadcaster receive data
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/utils.go
Due: go-vet

Fix issues with new broadcaster receive
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/utils.go
Due: go-vet

Fix newTxs event subscription to make it global
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/batcher/batcher.go
  packages/arb-rpc-node/batcher/forwardingBatcher.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/rpc/lockout.go
  packages/arb-rpc-node/txdb/txdb.go
Due: go-vet

Use new ArbOS functionality to batch end of block messages
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Add token name and symbol patch for maker token
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/hardhat.config.ts
  packages/arb-bridge-peripherals/package.json
Due: prettier-soldity

hot fix: only set token data to bridge state if data is in fact found / it survives the error checks
  packages/arb-ts/package.json
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

arb-ts bump
  packages/arb-ts/package.json
Due: none

hot fix: only set token data to bridge state if data is in fact found / it survives the error checks
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

storage revert semantics
  packages/arb-rpc-node/arbostest/fee_test.go
Due: go-vet

Fix base fee adjustment with lockout enabled
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

new upgrade test
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSP.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToOSPWithMessage.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachable.json
  packages/arb-bridge-eth/test/challenges/TestChallengeToUnreachableSmall.json
  packages/arb-rpc-node/dev/transfer_test.go
Due: go-vet

Fix eth_getStorageAt
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

re-enable sender check for TestOwnerDeployCorrectDeploy
  packages/arb-rpc-node/arbostest/owner_deploy_test.go
Due: go-vet

Add info on Docker setup
  docs/Installation.md
Due: none

Set resource_class for backend-rpc ci job
  .circleci/config.yml
Due: none

gitignore issues file
  .gitignore
  packages/arb-rpc-node/dev/issues
Due: none

Simplify logic to reinit maker token
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
Due: prettier-soldity

Cleanup code
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
Due: prettier-soldity

Add validation to amount of eth sent along with a token deposit
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
  packages/arb-bridge-peripherals/test/wethGateway.e2e.ts
Due: prettier-soldity

Respond to PR review
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.e2e.ts
Due: prettier-soldity

Add queued updates
  packages/arb-bridge-peripherals/_deployments/1_queued-updates.json
  packages/arb-bridge-peripherals/_deployments/4_queued-updates.json
Due: none

Add a test case for out of gas behavior
  packages/MACHINEHASH
  packages/arb-rpc-node/arbostestcontracts/transfer.go
  packages/arb-rpc-node/arbostestcontracts/transfer.sol
  packages/arb-rpc-node/dev/out_of_gas_test.go
Due: prettier-soldity, go-vet

Add sequencer dangerous config system
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Upgrade rinkeby gateway router
  packages/arb-bridge-peripherals/_deployments/4_current_deployment.json
  packages/arb-bridge-peripherals/_deployments/4_queued-updates.json
Due: none

Update mainnet gateway router
  packages/arb-bridge-peripherals/_deployments/1_current_deployment.json
  packages/arb-bridge-peripherals/_deployments/1_queued-updates.json
Due: none

Log dangerous options on node startup instead of sequencer startup
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

WaitForMachineIdle after sequencing delayed messages
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

