Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

docs: fix missing _
  docs/L1_L2_Messages.md
Due: none

docs: Add BlockVision link
  docs/Node_Providers.md
Due: none

Remove MESSAGES_SUCCESS state as it is no longer needed
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-util/core/lookup.go
Due: go-vet

Fix message delivery context cancellation
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Remove unused code
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
Due: none

Update node providers (#2316)
  docs/L1_L2_Messages.md
  docs/Node_Providers.md
Due: none

fix docs typo
  docs/Bridging_Assets.md
Due: none

Typo in solidity example (#1719)
  docs/L1_L2_Messages.md
Due: none

fix docs typo (#2317)
  docs/Bridging_Assets.md
Due: none

Change "Taylor-made" to "tailor-made" (#2046)
  docs/L1_L2_Messages.md
Due: none

Update Installation.md (#2116)
  docs/Installation.md
Due: none

Address code review comments
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Address code review comments
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix error messages
  packages/arb-avm-cpp/cmachine/arbcore.go
Due: go-vet

Batch post use raw transaction creation without gas estimation
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/rpc/launch.go
Due: go-vet

Add max batches to publish in parallel
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Attempt to reduce gas charge when it's too high
  packages/arb-node-core/ethbridge/inbox.go
Due: go-vet

Break out of inner batch posting loop on error
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Move comment to correct location
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

geth update
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/go.sum
Due: go-vet

Fix creating second unnecessary batch if chain is too fast
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

If possible, batch the sequencer end of block message to reduce costs
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

add go.sum entries
  packages/arb-util/go.sum
Due: none

go.sum entries
  packages/arb-avm-cpp/go.sum
Due: none

style fixes
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/nitroexport/crossdb.go
  packages/arb-rpc-node/nitroexport/exportstate.go
  packages/arb-rpc-node/nitroexport/rpcserver.go
Due: go-vet

go.sum entries
  packages/arb-evm/go.sum
Due: none

Update go.sum
  packages/arb-rpc-node/go.sum
Due: none

Fix docker build
  packages/arb-bridge-eth/.dockerignore
  packages/arb-node.Dockerfile
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: none

Gas refunder: support multiple refunds per block
  packages/arb-bridge-eth/contracts/validator/GasRefunder.sol
Due: prettier-soldity

Revert "If possible, batch the sequencer end of block message to reduce costs"
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Add special deploy test
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Update Inbox contract deployment info
  packages/arb-bridge-eth/_deployments/1_current_deployment.json
  packages/arb-bridge-eth/_deployments/4_current_deployment.json
Due: none

Add configure-migration hardhat task
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/deploy/NitroMigrator.ts
  packages/arb-bridge-eth/hardhat.dev-config.ts
  packages/arb-upgrades/ethBridgeTasks.ts
Due: prettier-soldity

Handle inbox migration
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-upgrades/ethBridgeTasks.ts
Due: prettier-soldity

Update configure-migration script to get proxy admin
  packages/arb-upgrades/ethBridgeTasks.ts
  packages/arb-upgrades/index.ts
Due: none

Improve logging on reorg
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

