Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Get arb-relay connecting to sequencer
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-util/broadcastclient/broadcastclient.go
Due: go-vet

Continue integrating broadcaster
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/clientmanager.go
  packages/arb-util/broadcaster/testutils.go
  packages/arb-util/broadcaster/types.go
Due: go-vet

Michael: relay test working, simplified acc channel
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
Due: go-vet

Move client pings into separate thread
  packages/arb-node-core/monitor/monitor.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Continue integrating broadcaster
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/monitor/monitor.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: go-vet

Refactor ping
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
Due: go-vet

various cleanups
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/broadcastclient/broadcastclient.go
  packages/arb-util/broadcastclient/broadcastclient_test.go
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/broadcaster_web_client/index.html
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
  packages/arb-util/broadcaster/testutils.go
  packages/arb-util/broadcaster/types.go
Due: go-vet

Make sure to always stop poller
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/clientmanager.go
Due: go-vet

Reorg sequencer messages if max delay has passed
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Fix PR comments
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Update abi
  packages/MACHINEHASH
  packages/arb-node-core/utils/arboshash.go
Due: go-vet

Remove owner methods to force create and confirm nodes
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Fix arb-relay command line options
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
Due: go-vet

Update arb-validator.Dockerfile
  packages/arb-validator.Dockerfile
Due: none

Changes to support custom inboxes and outboxes
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-provider-ethers/package.json
  packages/arb-ts/package.json
Due: prettier-soldity

expose public createMintCallData function
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Fix a couple small sequencer feed issues
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-util/broadcaster/broadcaster.go
Due: go-vet

Further speed up sequencer feed inbox reading
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Fix tests
  packages/arb-bridge-eth/test/arbRollup.ts
  packages/arb-bridge-eth/test/rolluplib.ts
Due: none

Make ping interval and response timeout configurable
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Fix rollup currentRequiredStake
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet

Add function without implementation to abstract rollup contract
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Fix demo setup to use output from hardhat task
  packages/tools/scripts/setup_validators_demo.ts
Due: none

Update deployment process to use hardhat plugin for tests
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/deploy/BridgeCreator.ts
  packages/arb-bridge-eth/deploy/ChallengeFactory.ts
  packages/arb-bridge-eth/deploy/NodeFactory.ts
  packages/arb-bridge-eth/deploy/OneStepProof.ts
  packages/arb-bridge-eth/deploy/OneStepProof2.ts
  packages/arb-bridge-eth/deploy/OneStepProofHash.ts
  packages/arb-bridge-eth/deploy/Rollup.ts
  packages/arb-bridge-eth/deploy/RollupCreatorNoProxy.ts
  packages/arb-bridge-eth/deploy/ValidatorUtils.ts
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/package.json
  packages/arb-bridge-eth/scripts/deploy.ts
  packages/arb-bridge-eth/scripts/launch-geth
  packages/arb-bridge-eth/test/arbRollup.ts
  packages/arb-bridge-eth/test/node.ts
Due: prettier-soldity

Refactor contracts for new deployment/upgradeability flow
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/contracts/validator/Validator.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorWalletCreator.sol
Due: prettier-soldity

Add validator wallet creator
  packages/arb-bridge-eth/contracts/validator/ValidatorWalletCreator.sol
  packages/arb-bridge-eth/deploy/ValidatorWalletCreator.ts
  packages/arb-node-core/ethbridgecontracts/abigen.sh
  packages/arb-node-core/ethbridgecontracts/validatorwalletcreator.go
  packages/arb-node-core/ethbridgetestcontracts/abigen.sh
Due: prettier-soldity, go-vet

Fix TestSequencerBatcher for InboxReader update
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Refactor bridgecreator contract to return upgradeable proxies to contracts
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
  packages/arb-bridge-eth/contracts/rollup/IRollup.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/rollup/RollupEventBridge.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorWalletCreator.sol
Due: prettier-soldity

Add proxy admin address to emitted events
  packages/arb-bridge-eth/contracts/rollup/BridgeCreator.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCreator.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorWalletCreator.sol
Due: prettier-soldity

Remove old comment and add initial upgrade script
  packages/arb-bridge-eth/scripts/upgrade.ts
  packages/arb-bridge-eth/test/arbRollup.ts
Due: none

Remove unnecessary function to upgrade dependencies
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Update validator wallet creation and abi gen
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/proofmachine_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/inbox_test.go
  packages/arb-node-core/ethbridgecontracts/abigen.sh
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgecontracts/validatorwalletcreator.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
Due: go-vet

More ABI updates
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: go-vet

update hasTriedDeploy
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

