Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Update Local_Blockchain.md
  docs/Local_Blockchain.md
Due: none

Integrate code review feedback from Harry
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Fix nil pointer dereference
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Update ecops.cpp
  packages/arb-avm-cpp/tests/ecops.cpp
Due: none

Update package.json
  package.json
Due: none

basics
  docs/Installation.md
  docs/Local_Blockchain.md
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-provider-ethers/src/lib/client.ts
  yarn.lock
Due: none

Update CMakeLists.txt
  packages/arb-avm-cpp/CMakeLists.txt
Due: none

Remove inbox peek and implement ArbCore::readNextMessages
  packages/arb-avm-cpp/avm/include/avm/inboxmessage.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/status.hpp
  packages/arb-avm-cpp/avm/include/avm/machinethread.hpp
  packages/arb-avm-cpp/avm/src/inboxmessage.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinethread.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/messageentry.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readtransaction.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/data_storage/src/messageentry.cpp
  packages/arb-avm-cpp/data_storage/src/readtransaction.cpp
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProofCommon.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgetestcontracts/machineTester.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet

Fix ArbCore::readNextMessages starting in the middle of a delayed batch
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Begin refactoring rest of ArbCore
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readsnapshottransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readtransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readwritetransaction.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/readwritetransaction.cpp
Due: none

Continue refactoring
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add and use helper functions to get messages
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix various compilation issues
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/messageentry.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readwritetransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/utils.hpp
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
  packages/arb-avm-cpp/data_storage/src/messageentry.cpp
  packages/arb-avm-cpp/data_storage/src/readtransaction.cpp
  packages/arb-avm-cpp/data_storage/src/readwritetransaction.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Refactor token bridge to handle token deploys more explicitly
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC777.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Only allow deposit after token deployed
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Fix L2 test cases
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: none

Skip L1 tests that aren't relevant anymore
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: none

Create token bridge interface for L1 and L2 contracts
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
Due: prettier-soldity

Remove ERC777 support from bridge
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC777.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/open-zeppelin/OZERC777.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestERC777.sol
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: prettier-soldity

Add new message delivery APIs to C layer
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix layer 1 unit test
  packages/arb-bridge-peripherals/test/canonicalBridge.l1.ts
Due: none

Properly initialize nonce
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/rpc/launch.go
Due: go-vet

Add ability to get last saved machine from ArbCore
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-node-core/challenge/core_test_utils.go
  packages/arb-util/core/lookup.go
Due: go-vet

Make sure last_machine is always initialized
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix deploy script
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l2.ts
  packages/arb-ts/src/lib/abi/ArbTokenBridge.d.ts
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/StandardArbERC20.d.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: prettier-soldity

Update standard erc20 used by bridge to follow eip 1363 & 2612
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/open-zeppelin/OZERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IERC1363.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestArbCustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestERC20.sol
  packages/arb-bridge-peripherals/package.json
  yarn.lock
Due: prettier-soldity

Update offchain components
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/scripts/deploy_token_bridge_l1.ts
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/src/lib/abi/AeERC20.d.ts
  packages/arb-ts/src/lib/abi/ArbToken.d.ts
  packages/arb-ts/src/lib/abi/OZERC777.d.ts
  packages/arb-ts/src/lib/abi/StandardArbERC777.d.ts
  packages/arb-ts/src/lib/abi/factories/AeERC20__factory.ts
  packages/arb-ts/src/lib/abi/factories/OZERC20__factory.ts
  packages/arb-ts/src/lib/abi/factories/OZERC777__factory.ts
  packages/arb-ts/src/lib/abi/factories/StandardArbERC20__factory.ts
  packages/arb-ts/src/lib/abi/factories/StandardArbERC777__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestERC777__factory.ts
  packages/arb-ts/src/lib/abi/index.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: prettier-soldity

Simplify bridge logic
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbCustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestArbCustomToken.sol
Due: prettier-soldity

Remove token types enum from token bridge
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
Due: prettier-soldity

Fix test cases
  packages/arb-bridge-peripherals/test/canonicalBridge.l2.ts
Due: none

Set WAL to a non-zero value so that old logs can be cleaned up
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Apply code review comments
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/CMakeLists.txt
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
Due: go-vet

Remove core reorg mutex
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
Due: none

Make sure manual checkpoint save happens even if machine doesn't run
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Cleanup old checkpoints
  packages/arb-avm-cpp/app/arbcorerunner.cpp
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/cmachine/cmachine_test.go
  packages/arb-avm-cpp/cmachine/executioncursor_test.go
  packages/arb-avm-cpp/cmachine/nodestorage_test.go
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/cmachine/storage_test.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbstorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readwritetransaction.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/data_storage/src/readwritetransaction.cpp
  packages/arb-avm-cpp/speedtest/speed_test.go
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/buffer.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/checkpointedmachine.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/machine.cpp
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/staker/monitor.go
  packages/arb-node-core/test/helper.go
Due: go-vet

Address code review comments
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

