Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Remove repeated title
  docs/Differences_Ethereum_Overview.md
Due: none

bump arb-ts vresion
  packages/arb-ts/package.json
Due: none

cleanup
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/integration_test/config.ts
Due: none

Make sequencer batch creation block interval configurable
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/launch.go
Due: go-vet

Update constructor test
  packages/arb-evm/evm/debugprint.go
  packages/arb-rpc-node/arbostest/constructor_test.go
  packages/arb-rpc-node/arbostestcontracts/ConstructorCallback.go
  packages/arb-rpc-node/arbostestcontracts/ConstructorCallback.sol
Due: prettier-soldity, go-vet

use bignum eq
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

fix event filter for WithdrawToken
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Add trace test
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostest/trace_test.go
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/simple.sol
Due: prettier-soldity, go-vet

fix getOutboxEntry inputs (use batchnumber); check outbox length in getOutboxEntry
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Add ArbCore log message if delayed message is missing
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

added wasm codepoint to value
  packages/arb-bridge-eth/contracts/arch/Hashing.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProof2.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProofCommon.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: prettier-soldity

added wasm codepoint to value
  packages/arb-bridge-eth/contracts/arch/Marshaling.sol
Due: prettier-soldity

first version of wasm one step proofs
  packages/arb-bridge-eth/contracts/arch/Marshaling.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProof2.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: prettier-soldity

first version of wasm one step proofs
  packages/arb-bridge-eth/contracts/arch/OneStepProof2.sol
Due: prettier-soldity

hashing wasm codepoint
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/src/tuple.cpp
Due: none

serialization working
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

marshalling should work
  packages/arb-avm-cpp/avm_values/src/tuple.cpp
  packages/arb-bridge-eth/contracts/arch/Hashing.sol
  packages/arb-bridge-eth/contracts/arch/Marshaling.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: prettier-soldity

Work on fixing gas used
  packages/arb-evm/evm/debugprint.go
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
Due: go-vet

calculate eth deposit amount in token deposit; update tests to use calced amount, move eth tests to end so this gets tested; start outbox execution tests
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/integration_test/config.ts
  packages/arb-ts/src/lib/bridge.ts
Due: none

return full array for getInboxSequenceNumber
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

fix natspec docs for index param
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-peripherals/contracts/rpc-utils/NodeInterface.sol
Due: prettier-soldity

add quickstart and a bit more to readme
  packages/arb-ts/README.md
Due: none

Report 110% for gas estimate
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Fix fee test
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Update MACHINEHASH
  packages/MACHINEHASH
Due: none

Clean up gas estimation logic
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

Uncomment out test
  packages/arb-rpc-node/dev/fees_test.go
Due: go-vet

Properly fix help message
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

adjust help message
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Make rpc/ws bind address configurable
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-rpc-node/utils/rpc.go
Due: go-vet
