Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.24.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Clarify comment about batch being too large with tx added
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Fix batching hitting max tx size without startTx
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Disable reorging out huge messages for now
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Add extra log line for reorging out huge batch item
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Add inbox address to configured chains
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix reorgOutHugeMsg sequence numbers
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Add node.sequencer.reorg-out-huge-messages to config
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Properly handle configuration overrides
  packages/arb-util/configuration/configuration.go
Due: go-vet

Allow configuring sequencer continue batch posting interval
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Produce dynamic fee (EIP-1559) L1 transactions when applicable
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-node-core/ethbridge/chain.go
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Use new validator rbf method in sequencer batch posting
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Provide guarantee that on startup delayed messages are sequenced first
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/rpc/lockout.go
Due: go-vet

Before sequencing delayed messages, confirm they still exist
  packages/arb-node-core/ethbridge/delayedBridgeWatcher.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Describe purpose of atomics and mutexes in SequencerBatcher
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

ecmul doc correction
  docs/AVM_Specification.md
Due: none

update monorepo link
  docs/Arbsys.md
  docs/Bridging_Assets.md
  docs/Contract_Deployment.md
  docs/L1_L2_Messages.md
  docs/Special_Features.md
  docs/Tutorials.md
Due: none

Publish sequencer batches when full
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Fix pending gas estimate when publishing partial batch
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

bridge monitor: confirmEthSupply
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
  packages/arb-ts/src/lib/bridge_monitor.ts
Due: none

Fix pending gas estimate in continuation case
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Use EVM BASEFEE instruction in inbox in place of tx.gasprice
  packages/arb-bridge-eth/contracts/bridge/Bridge.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IBridge.sol
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/inbox_proof_test.go
  packages/arb-node-core/ethbridge/delayedBridgeWatcher.go
  packages/arb-node-core/ethbridgecontracts/Bridge.go
  packages/arb-node-core/ethbridgecontracts/BridgeUtils.go
  packages/arb-node-core/ethbridgecontracts/Challenge.go
  packages/arb-node-core/ethbridgecontracts/Inbox.go
  packages/arb-node-core/ethbridgecontracts/Outbox.go
  packages/arb-node-core/ethbridgecontracts/RollupAdminFacet.go
  packages/arb-node-core/ethbridgecontracts/RollupCreator.go
  packages/arb-node-core/ethbridgecontracts/RollupUserFacet.go
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/Validator.go
  packages/arb-node-core/ethbridgecontracts/ValidatorUtils.go
  packages/arb-node-core/ethbridgecontracts/ValidatorWalletCreator.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupEventBridge.go
Due: prettier-soldity, go-vet

bump arb-ts
  packages/arb-ts/package.json
Due: none

Remove unnecessary internal method for gateway address oracle
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Simplify inheritance in counterpart gateway validation logic
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
Due: prettier-soldity

Remove old external isRouter method from gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ICustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/IGatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
Due: prettier-soldity

Refactor ArbitrumMessenger into separate L1 and L2 files
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/L2ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/L1ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Document reason for virtual init and refactor inboundEscrowAndCall inheritance
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/EscrowAndCallGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/TokenGateway.sol
Due: prettier-soldity

Simplify messenger inheritance on L1 contracts
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/L1ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

Simplify messenger inheritance on L2 contracts
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
Due: prettier-soldity

Refactor parameter names and use return value to save on stack
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
Due: prettier-soldity

Add comments and remove virtual where not necessary in gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
Due: prettier-soldity

Constrain LookupCreation filter query
  packages/arb-node-core/ethbridge/rollupWatcher.go
Due: go-vet

Fix unit tests by using actual starting block
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet
