Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.3.2' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.32.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.32.0'
          - 'typescript@4.3.5'
          - '@typescript-eslint/parser@4.29.0'
          - '@typescript-eslint/eslint-plugin@4.29.0'
          - eslint-config-prettier@8.3.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

feat: add callvalue check to depositEth
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
Due: prettier-soldity

feat: initial nitro migratoooor implementation
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

feat: force inclusion without delay by admin to be used in nitro migration
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

feat: allow validators to withdraw funds when rollup is paused
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

refactor: shutdown message name and id
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

docs: add clarifications on expectations
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

add force confirm step to migrator
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

Refactor seq inbox for nitro shutdown cleanup
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

refactor to cleanup diff
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

respond to pr comments
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

Add comment of intermediate action needed
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

Add existence checks to nitro contracts
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
Due: prettier-soldity

Add consistency checks to ensure contracts are ready for the nitro upgrade
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/libraries/NitroReadyQuery.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

fix: remove assembly usage (#2259)
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

Improve error handling in broadcaster server
  packages/arb-util/wsbroadcastserver/clientconnection.go
  packages/arb-util/wsbroadcastserver/wsbroadcastserver.go
Due: go-vet

Fail if trying to start validator without smart contract wallet
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Fix parameter name in error message
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

docs: add more aliasing rule explaination
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

go dependency update
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
Due: none

update geth arb-legacy tx
  packages/arb-rpc-node/cmd/arb-block/crossdb.go
Due: go-vet

Bump go-ethereum, bump broken deps, and fix api changes
  packages/MACHINEHASH
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/arbostestcontracts/ConstructorCallback.go
  packages/arb-rpc-node/arbostestcontracts/ConstructorCallback.sol
  packages/arb-rpc-node/arbostestcontracts/Fibonacci.go
  packages/arb-rpc-node/arbostestcontracts/Fibonacci.sol
  packages/arb-rpc-node/arbostestcontracts/TopLevel.go
  packages/arb-rpc-node/arbostestcontracts/TopLevel.sol
  packages/arb-rpc-node/arbostestcontracts/create2.go
  packages/arb-rpc-node/arbostestcontracts/create2.sol
  packages/arb-rpc-node/arbostestcontracts/ethCallTester.go
  packages/arb-rpc-node/arbostestcontracts/ethCallTester.sol
  packages/arb-rpc-node/arbostestcontracts/failedsend.go
  packages/arb-rpc-node/arbostestcontracts/failedsend.sol
  packages/arb-rpc-node/arbostestcontracts/gasused.go
  packages/arb-rpc-node/arbostestcontracts/gasused.sol
  packages/arb-rpc-node/arbostestcontracts/opcodes.go
  packages/arb-rpc-node/arbostestcontracts/opcodes.sol
  packages/arb-rpc-node/arbostestcontracts/receiver.go
  packages/arb-rpc-node/arbostestcontracts/receiver.sol
  packages/arb-rpc-node/arbostestcontracts/simple.go
  packages/arb-rpc-node/arbostestcontracts/storage.go
  packages/arb-rpc-node/arbostestcontracts/storage.sol
  packages/arb-rpc-node/arbostestcontracts/token.go
  packages/arb-rpc-node/arbostestcontracts/token.sol
  packages/arb-rpc-node/arbostestcontracts/transfer.go
  packages/arb-rpc-node/arbostestcontracts/transfer.sol
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-util/binding/binding.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: prettier-soldity, go-vet

Fix go.mod
  packages/arb-util/go.mod
Due: none

Run tidy
  packages/arb-avm-cpp/go.sum
  packages/arb-node-core/go.sum
  packages/arb-util/go.sum
Due: none

respond to PR comments
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

Refactor isNitroReady hook to expect magic value
  packages/arb-bridge-eth/contracts/bridge/Inbox.sol
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/libraries/NitroReadyQuery.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Add shutdownForNitro rollup admin functionality
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

arb-export sort
  packages/arb-rpc-node/cmd/arb-export/arb-export.go
  packages/arb-rpc-node/nitroexport/crossdb.go
  packages/arb-rpc-node/nitroexport/exportstate.go
Due: go-vet

Update migration flow to allow for validators to confirm sequentially after final assertion
  packages/arb-bridge-eth/contracts/bridge/NitroMigrator.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Add ownership transfer to rollup admin
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
Due: prettier-soldity

arb-node export rpc initial
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/nitroexport/rpcserver.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix block tracing error message
  packages/arb-rpc-node/web3/trace.go
Due: go-vet

go.mod fixes
  packages/arb-rpc-node/go.mod
Due: none

arbcore fix
  packages/arb-avm-cpp/cmachine/arbcore.go
Due: go-vet

Fix index increment in block tracing
  packages/arb-rpc-node/web3/trace.go
Due: go-vet
