Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Refactor for more intuitive variable names
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
Due: prettier-soldity

Update sequencer inbox and add end of block messages
  packages/MACHINEHASH
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: prettier-soldity, go-vet

wip: custom L1 token with no L2 yet fallback case e2e test
  packages/arb-ts/integration_test/arb-bridge.test.ts
Due: none

Update typechain interfaces
  packages/arb-ts/src/lib/abi/ERC165Upgradeable.d.ts
  packages/arb-ts/src/lib/abi/ERC20PermitUpgradeable.d.ts
  packages/arb-ts/src/lib/abi/ERC20Upgradeable.d.ts
  packages/arb-ts/src/lib/abi/IERC1363.d.ts
  packages/arb-ts/src/lib/abi/IERC1363Receiver.d.ts
  packages/arb-ts/src/lib/abi/IERC1363Spender.d.ts
  packages/arb-ts/src/lib/abi/IERC165Upgradeable.d.ts
  packages/arb-ts/src/lib/abi/IERC20PermitUpgradeable.d.ts
  packages/arb-ts/src/lib/abi/IERC20Upgradeable.d.ts
  packages/arb-ts/src/lib/abi/factories/Add__factory.ts
  packages/arb-ts/src/lib/abi/factories/ArbBatchTokenMover__factory.ts
  packages/arb-ts/src/lib/abi/factories/ArbTokenBridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/BuddyDeployer__factory.ts
  packages/arb-ts/src/lib/abi/factories/Callback__factory.ts
  packages/arb-ts/src/lib/abi/factories/ERC165Upgradeable__factory.ts
  packages/arb-ts/src/lib/abi/factories/ERC20PermitUpgradeable__factory.ts
  packages/arb-ts/src/lib/abi/factories/ERC20Upgradeable__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthBatchTokenReceiver__factory.ts
  packages/arb-ts/src/lib/abi/factories/Fibonacci__factory.ts
  packages/arb-ts/src/lib/abi/factories/IERC1363Receiver__factory.ts
  packages/arb-ts/src/lib/abi/factories/IERC1363Spender__factory.ts
  packages/arb-ts/src/lib/abi/factories/IERC1363__factory.ts
  packages/arb-ts/src/lib/abi/factories/IERC165Upgradeable__factory.ts
  packages/arb-ts/src/lib/abi/factories/IERC20PermitUpgradeable__factory.ts
  packages/arb-ts/src/lib/abi/factories/IERC20Upgradeable__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2Called__factory.ts
  packages/arb-ts/src/lib/abi/factories/PaymentChannel__factory.ts
  packages/arb-ts/src/lib/abi/factories/StandardArbERC20__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestArbCustomToken__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestBuddy__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestConstructorBuddy__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestCustomTokenL1__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestERC20__factory.ts
  packages/arb-ts/src/lib/abi/index.ts
Due: none

Remove storage placeholders and unnecessary function scope
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Move custom token logic to shared super class in bridges
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/TokenAddressHandler.sol
Due: prettier-soldity

Refactor creation of temporary tokens when custom token not deployed
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

Allow erc20 tokens deployed to be withdrawn, even if custom token is set
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

Fix data used in bridge mint event
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

adding JIT
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/machinestate/runwasm.hpp
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof2.sol
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
Due: prettier-soldity, go-vet

Minor improvements
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

Remove unnecessary internal function
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

Fix integration tests
  packages/arb-bridge-peripherals/package.json
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/integration_test/config.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

working better
  packages/arb-avm-cpp/avm/include/avm/machinestate/runwasm.hpp
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
Due: none

update yarn.lock to develop
  yarn.lock
Due: none

Add check before migrate to ensure custom token is deployed
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

Add try/catch statements around external token.bridgeMint calls
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

Fix token migration
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
Due: prettier-soldity

Start setting up fee testing
  packages/arb-evm/arboscontracts/abigen.sh
  packages/arb-evm/arboscontracts/arbgasinfo.go
  packages/arb-evm/evm/result.go
  packages/arb-evm/message/init.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Expand fee tests
  packages/arb-evm/arbos/arbowner.go
  packages/arb-evm/evm/request.go
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/arbostest/arbos_test.go
  packages/arb-rpc-node/arbostest/arbsys_test.go
  packages/arb-rpc-node/arbostest/create2_test.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostest/owner_test.go
  packages/arb-rpc-node/arbostest/storage_test.go
Due: go-vet

More testing
  packages/arb-evm/evm/result.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/arbostest/gas_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostestcontracts/gasused.go
  packages/arb-rpc-node/arbostestcontracts/gasused.sol
Due: prettier-soldity, go-vet

Expand testing and update arbos
  packages/arb-rpc-node/arbostest/fee_test.go
Due: go-vet

Handle both arbos versions
  packages/arb-evm/evm/request.go
  packages/arb-evm/message/l2Message.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
Due: go-vet

Support multiple arbos versions
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/dev/common_test.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/retryable_test.go
Due: go-vet

Go mod tidy
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
Due: none

Theoretically implement inbox reader (minus origin sequencer txs)
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readtransaction.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/readtransaction.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/ISequencerInbox.sol
  packages/arb-node-core/ethbridge/bridge.go
  packages/arb-node-core/ethbridge/delayedBridgeWatcher.go
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-node-core/staker/monitor.go
  packages/arb-node-core/staker/staker.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-util/core/lookup.go
  packages/arb-util/inbox/sequencerBatchItem.go
Due: prettier-soldity, go-vet

add balance check for tmt
  packages/arb-ts/integration_test/arb-bridge.test.ts
Due: none

Implement sequencer inbox origin tx decoding
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
Due: go-vet

update typechain abis
  packages/arb-ts/src/lib/abi/ArbTokenBridge.d.ts
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/IArbTokenBridge.d.ts
  packages/arb-ts/src/lib/abi/IEthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/StandardArbERC20.d.ts
  packages/arb-ts/src/lib/abi/TokenAddressHandler.d.ts
  packages/arb-ts/src/lib/abi/commons.ts
  packages/arb-ts/src/lib/abi/factories/ArbBatchTokenMover__factory.ts
  packages/arb-ts/src/lib/abi/factories/ArbTokenBridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthBatchTokenReceiver__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthERC20Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/IArbTokenBridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/IEthERC20Bridge__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2Called__factory.ts
  packages/arb-ts/src/lib/abi/factories/StandardArbERC20__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestArbCustomToken__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestCustomTokenL1__factory.ts
  packages/arb-ts/src/lib/abi/factories/TokenAddressHandler__factory.ts
  packages/arb-ts/src/lib/abi/index.ts
Due: none

Initial work in broadcaster
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/clients.go
  packages/arb-util/broadcaster/types.go
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: go-vet

Real initial work on broadcaster
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.sum
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/go.sum
  packages/arb-util/broadcaster/broadcaster.go
  packages/arb-util/broadcaster/broadcaster_test.go
  packages/arb-util/broadcaster/broadcaster_web_client/index.html
  packages/arb-util/broadcaster/clientconnection.go
  packages/arb-util/broadcaster/clientmanager.go
  packages/arb-util/broadcaster/clients.go
  packages/arb-util/broadcaster/gopool/pool.go
  packages/arb-util/broadcaster/testmessagebroadcaster.go
Due: go-vet

Update fee estimation
  packages/arb-evm/message/message.go
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/batcher/batcher.go
  packages/arb-rpc-node/batcher/batcher_test.go
  packages/arb-rpc-node/batcher/forwardingBatcher.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/go.sum
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/web3/arb.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/launch.go
Due: go-vet

Node healthcheck bug fixes and validator integration
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-node-core/staker/monitor.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Remove messages from healthchan in staker unit test
  packages/arb-node-core/staker/staker_test.go
Due: go-vet

Update arbos and remove use of old eth deposits in tests
  packages/arb-evm/message/message.go
  packages/arb-evm/message/transfer.go
  packages/arb-rpc-node/arbostest/arbos_test.go
  packages/arb-rpc-node/arbostest/arbsys_test.go
  packages/arb-rpc-node/arbostest/constructor_test.go
  packages/arb-rpc-node/arbostest/gas_test.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/arbostest/l2_test.go
  packages/arb-rpc-node/arbostest/nested_send_test.go
  packages/arb-rpc-node/arbostest/transfer_test.go
Due: go-vet

Fix fee estimation backwards compatibility
  packages/arb-evm/arbos/arbsys.go
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet
