Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Theoretically implement addMessages
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/include/avm/inboxmessage.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/inboxmessage.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/messageentry.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readwritetransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/machine.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/messageentry.cpp
  packages/arb-avm-cpp/data_storage/src/readwritetransaction.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: none

Add logging for healthcheck errors
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Set WAL to a non-zero value so that old logs can be cleaned up
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Fix nil pointer dereference
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Add simple healthcheck for RPC node
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/healthcheck/nodeHealth.go
Due: go-vet

Rework unit tests Fix style issues raised by static check
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Rework unit tests Fix style issues raised by static check
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Include static healthcheck recommendations Fix nil channel issue in InboxReader
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
  packages/arb-node-core/staker/inboxReader.go
Due: go-vet

Change unit test name
  packages/arb-rpc-node/nodehealth/nodehealth_test.go
Due: go-vet

Bug fixes
  packages/arb-rpc-node/nodehealth/nodehealth.go
Due: go-vet

Move healthcheck directory to fix CI build
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Change healthcheck directory name
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/nodehealth/nodehealth.go
Due: go-vet

Integrate code review feedback from Harry
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Temporarily remove prometheus
  packages/arb-rpc-node/healthcheck/nodehealth.go
Due: go-vet

Add unit test
  packages/arb-rpc-node/nodehealth/nodehealthTest.go
Due: go-vet

Correct unit test function prototype
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Fix static check issues
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Bug fixes recommended by Josh
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/healthcheck/nodeHealth.go
Due: go-vet

Integrate code review feedback from Harry
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Integrate static analysis feedback
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
Due: go-vet

Add command line flags for setting log levels
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/logging.go
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/go.sum
Due: go-vet

Set default to info
  packages/arb-node-core/cmdhelp/logging.go
Due: go-vet

Make sure inboxreader healthChan properly set
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/go.sum
Due: go-vet

one step proof working, cannot yet continue
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof2.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProofCommon.sol
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/execution.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/ethbridge/challenge.go
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/nodefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
  packages/arb-node-core/test/helper.go
Due: prettier-soldity, go-vet

added events to figure out challenge state
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-node-core/challenge/challenger.go
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/execution.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
Due: prettier-soldity, go-vet

Get dev aggregator launching (not working)
  packages/arb-avm-cpp/cavm/carbcore.cpp
  packages/arb-avm-cpp/cavm/carbcore.h
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/cmachine/utils.go
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/messageentry.cpp
  packages/arb-avm-cpp/speedtest/speed_test.go
  packages/arb-avm-cpp/tests/arbcore.cpp
  packages/arb-node-core/challenge/proofmachine_test.go
  packages/arb-node-core/ethbridge/challenge.go
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/rollupWatcher.go
  packages/arb-node-core/staker/inboxReader.go
  packages/arb-node-core/staker/monitor.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/arbosmachine/arbosmachine.go
  packages/arb-rpc-node/arbostest/helper_test.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/snapshot/snapshot.go
  packages/arb-util/core/execution.go
  packages/arb-util/core/judgement.go
  packages/arb-util/core/lookup.go
  packages/arb-util/inbox/delayedMessage.go
  packages/arb-util/inbox/sequencerBatchItem.go
  packages/arb-util/machine/machine.go
Due: go-vet

Fix dev aggregator sequencer support
  .gitignore
  packages/arb-rpc-node/dev/dev.go
Due: go-vet

Simplify L1 bridge interface
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
Due: prettier-soldity

Refactor require statements in L2 to asserts and handle fail conditions gracefully
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

Refactor deploy encoding to be explicit
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

basic path is working
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof2.sol
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-node-core/challenge/challenger.go
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/core_test_utils.go
  packages/arb-node-core/challenge/execution.go
  packages/arb-node-core/challenge/execution_test.go
  packages/arb-node-core/ethbridge/challengeWatcher.go
  packages/arb-node-core/ethbridgecontracts/challenge.go
  packages/arb-node-core/ethbridgetestcontracts/challengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/test/helper.go
  packages/arb-util/core/lookup.go
Due: prettier-soldity, go-vet

Use superclass in test token and simplify aeERC20
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
Due: prettier-soldity

Add comments to explain intended callers and use of L2 bridge interface
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbTokenBridge.sol
Due: prettier-soldity

Update bridge mintAndCall to follow erc1363
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestPostDepositCall.sol
Due: prettier-soldity

Improve token withdrawal flow
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/IEthERC20Bridge.sol
Due: prettier-soldity
