Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Update inbox_proof_test.go
  packages/arb-node-core/challenge/inbox_proof_test.go
Due: go-vet

Add failing inbox proof test [WIP]
  packages/arb-avm-cpp/cmachine/executioncursor.go
  packages/arb-avm-cpp/gotest/gotest.go
  packages/arb-node-core/challenge/core_test_utils.go
  packages/arb-node-core/challenge/inbox_proof_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/monitor/test_helper.go
  packages/arb-node-core/staker/validator.go
  packages/arb-util/core/lookup.go
Due: go-vet

Fixup test
  packages/arb-node-core/challenge/inbox_proof_test.go
Due: go-vet

update bridge deployments / config
  packages/arb-bridge-peripherals/deployment.json
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/integration_test/config.ts
Due: none

update l2tx hash calculation, update arb-ts
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/package.json
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

Update docs
  docs/Installation.md
  docs/Public_Testnet.md
Due: none

Capitalization
  docs/Public_Testnet.md
Due: none

Update after rebase
  packages/arb-node-core/ethbridgecontracts/SequencerInbox.go
  packages/arb-node-core/ethbridgecontracts/abigen.sh
  packages/arb-node-core/ethbridgecontracts/gen.go
  packages/arb-node-core/ethbridgetestcontracts/BridgeCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/ChallengeTester.go
  packages/arb-node-core/ethbridgetestcontracts/IOneStepProof.go
  packages/arb-node-core/ethbridgetestcontracts/MachineTester.go
  packages/arb-node-core/ethbridgetestcontracts/NodeFactory.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProof2.go
  packages/arb-node-core/ethbridgetestcontracts/OneStepProofHash.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/abigen.sh
  packages/arb-node-core/ethbridgetestcontracts/createBindings.go
  packages/arb-node-core/ethbridgetestcontracts/gen.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproof2.go
  packages/arb-node-core/ethbridgetestcontracts/onestepproofhash.go
  packages/arb-node-core/ethbridgetestcontracts/rollupcreatornoproxy.go
Due: go-vet

Fix capitalization
  packages/arb-evm/arboscontracts/RetryableTicketCreator.go
  packages/arb-evm/arboscontracts/abigen.sh
  packages/arb-evm/arboscontracts/gen.go
  packages/arb-node-core/ethbridgecontracts/rollupcreator.go
  packages/arb-node-core/ethbridgecontracts/validatorutils.go
  packages/arb-node-core/ethbridgetestcontracts/challengefactory.go
Due: go-vet

Fix compilation on golang 1.15.12
  packages/arb-rpc-node/arbostestcontracts/gen.go
  packages/arb-util/go.sum
Due: go-vet

Remove BridgeCreatorNoProxy to fix size limit
  packages/arb-bridge-eth/contracts/test_only/BridgeCreatorNoProxy.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/deploy/BridgeCreatorNoProxy.ts
  packages/arb-bridge-eth/deploy/RollupCreatorNoProxy.ts
  packages/arb-node-core/ethbridgetestcontracts/BridgeCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/RollupCreatorNoProxy.go
  packages/arb-node-core/ethbridgetestcontracts/gen.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-ts/src/lib/abi/BridgeCreatorNoProxy.d.ts
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/IEthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/RollupCreatorNoProxy.d.ts
  packages/arb-ts/src/lib/abi/factories/BridgeCreatorNoProxy__factory.ts
  packages/arb-ts/src/lib/abi/factories/RollupCreatorNoProxy__factory.ts
Due: prettier-soldity, go-vet

Fix ethbridge tests
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/test/arbRollup.ts
Due: none

run wasm instruction
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/runwasm.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

first version of run wasm instruction
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/runwasm.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm/src/machinestate/runwasm.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-avm-cpp/tests/wasm.cpp
Due: none

Move intermediate file
  packages/arb-avm-cpp/CMakeLists.txt
Due: none

Fix multi-target build
  packages/arb-avm-cpp/CMakeLists.txt
Due: none

Fix docker/linux build
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-bridge-eth/.dockerignore
  packages/arb-validator.Dockerfile
Due: none

Remove old rinkeby docs
  docs/Developer_Quickstart.md
  docs/Rinkeby.md
Due: none

Fix sequencer reorg due to max delay exceeded
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Have ArbCore dictate reorg accumulators
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Fix saving recomputed accumulator in database
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix small misc seq batch creation issues
  packages/arb-node-core/ethbridge/inbox.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

