Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

.pre-commit-config.yaml:

exclude: |
  (?x)(
      ^packages/arb-avm-cpp/external/keccak/|
      ^packages/arb-bridge-eth/installed_contracts/
  )
repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/doublify/pre-commit-clang-format
    rev: master
    hooks:
      - id: clang-format
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1' # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.3.1' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [--fix]
        types: [text]
        # ignore prettier config
        files: \.[jt]sx?$
        additional_dependencies:
          - 'eslint@7.3.1'
          - 'typescript@3.8.3'
          - '@typescript-eslint/parser@3.4.0'
          - '@typescript-eslint/eslint-plugin@3.4.0'
          - eslint-config-prettier@6.11.0
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.16
    hooks:
      - id: circleci-config-validate
  - repo: local
    hooks:
      - id: prettier-soldity
        name: prettier-soldity
        language: node
        entry: ./node_modules/.bin/prettier --write --list-different
        files: \.sol$
        additional_dependencies:
          - 'prettier@2.0.5'
          - 'prettier-plugin-solidity@^1.0.0-alpha.54'
      - id: go-vet
        name: Go Vet
        entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
        language: script
        files: \.go$

Fix test
  packages/arb-avm-cpp/tests/arbcore.cpp
Due: none

Update arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

More fixes
  packages/arb-avm-cpp/cmachine/arbcore.go
  packages/arb-avm-cpp/cmachine/executioncursor.go
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-node-core/challenge/core_test_utils.go
  packages/arb-util/core/execution.go
  packages/arb-util/core/lookup.go
Due: go-vet

Fix datastack tuple representation
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
Due: none

Fix machine deserialization
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
Due: none

Fix tests
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
Due: none

cleanup
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/buffer.hpp
  packages/arb-avm-cpp/avm_values/src/buffer.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-avm-cpp/tests/buffer.cpp
  packages/arb-bridge-eth/contracts/arch/Hashing.sol
Due: prettier-soldity

Remove unused mock
  packages/arb-node-core/challenge/proofmachine_test.go
  packages/arb-util/core/mock.go
Due: go-vet

Small fixes
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/datastorage.cpp
Due: none

Remove out of date function definitions
  packages/arb-avm-cpp/cavm/carbstorage.h
Due: none

Rename ReadOnlyTransaction to ReadTransaction
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/include/data_storage/aggregator.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbstorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/datastorage.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readtransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/readwritetransaction.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/machine.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/arbstorage.cpp
  packages/arb-avm-cpp/data_storage/src/readtransaction.cpp
  packages/arb-avm-cpp/data_storage/src/readwritetransaction.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/referencecount.cpp
  packages/arb-avm-cpp/data_storage/src/value/referencecount.hpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
Due: none

make depositAsCustomToken external payable; check token exists before depositing
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
Due: prettier-soldity

use apache license
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/StandardTokenType.sol
Due: prettier-soldity

fix var; add overrides to withdraw for inheriters of IArbtoken; update abi
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC20.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/StandardArbERC777.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-ts/src/lib/abi/EthERC20Bridge.d.ts
  packages/arb-ts/src/lib/abi/IArbToken.d.ts
Due: prettier-soldity

clean up token contract code, handle custom tokens
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/EthERC20Bridge.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/StandardTokenType.sol
  packages/arb-ts/src/lib/l1Bridge.ts
Due: prettier-soldity

handle custom token data / withdrawals
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/IArbToken.sol
  packages/arb-ts/scripts/update-abi
  packages/arb-ts/src/lib/abi/IArbToken.d.ts
  packages/arb-ts/src/lib/abi/IArbTokenFactory.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: prettier-soldity

update comment
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/ArbTokenBridge.sol
Due: prettier-soldity

update abi
  packages/arb-ts/src/lib/abi/ArbTokenBridge.d.ts
  packages/arb-ts/src/lib/abi/ArbTokenBridgeFactory.ts
  packages/arb-ts/src/lib/abi/BridgeFactory.ts
  packages/arb-ts/src/lib/abi/EthERC20BridgeFactory.ts
  packages/arb-ts/src/lib/abi/InboxFactory.ts
  packages/arb-ts/src/lib/abi/RollupCoreFactory.ts
  packages/arb-ts/src/lib/abi/RollupCreatorFactory.ts
  packages/arb-ts/src/lib/abi/RollupCreatorNoProxyFactory.ts
  packages/arb-ts/src/lib/abi/RollupEventBridgeFactory.ts
  packages/arb-ts/src/lib/abi/RollupFactory.ts
  packages/arb-ts/src/lib/abi/StandardArbERC20Factory.ts
  packages/arb-ts/src/lib/abi/StandardArbERC777Factory.ts
Due: none

Remove first_message_sequence_number
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Remove `inbox_accumulators`
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Remove messages_to_skip from execution cursor
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Eliminate `messages_to_skip`
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
Due: none

Add accidentally removed line
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix execution cursor adding messages and log when it goes wrong
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Remove messages from execution cursor
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/executioncursor.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Small fixes
  packages/arb-avm-cpp/data_storage/src/aggregator.cpp
  packages/arb-node-core/staker/staker.go
  packages/arb-rpc-node/web3/eth.go
Due: go-vet

remove unused typechain interfaces, fix paths for arb-ts build
  packages/arb-ts/scripts/update-abi
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/abi/ArbSys.d.ts
  packages/arb-ts/src/lib/abi/ArbSys__factory.ts
  packages/arb-ts/src/lib/abi/BridgeCore.d.ts
  packages/arb-ts/src/lib/abi/BridgeFactory.d.ts
  packages/arb-ts/src/lib/abi/BridgeProxy.d.ts
  packages/arb-ts/src/lib/abi/InboxCore.d.ts
  packages/arb-ts/src/lib/abi/InboxTopChallenge.d.ts
  packages/arb-ts/src/lib/abi/InboxTopChallengeFactory.ts
  packages/arb-ts/src/lib/abi/OutboxEntryFactory.d.ts
  packages/arb-ts/src/lib/abi/Rollup.d.ts
  packages/arb-ts/src/lib/abi/RollupCore.d.ts
  packages/arb-ts/src/lib/abi/RollupCoreFactory.ts
  packages/arb-ts/src/lib/abi/RollupCreator.d.ts
  packages/arb-ts/src/lib/abi/RollupCreatorFactory.ts
  packages/arb-ts/src/lib/abi/RollupCreatorNoProxy.d.ts
  packages/arb-ts/src/lib/abi/RollupCreatorNoProxyFactory.ts
  packages/arb-ts/src/lib/abi/RollupEventBridge.d.ts
  packages/arb-ts/src/lib/abi/RollupEventBridgeFactory.ts
  packages/arb-ts/src/lib/abi/RollupEventInbox.d.ts
  packages/arb-ts/src/lib/abi/RollupFactory.ts
  packages/arb-ts/src/lib/abi/RollupLib.d.ts
  packages/arb-ts/src/lib/abi/RollupTester.d.ts
  packages/arb-ts/src/lib/abi/RollupTesterFactory.ts
  packages/arb-ts/src/lib/abi/factories/ArbSys__factory.ts
  packages/arb-ts/src/lib/l1Bridge.ts
  packages/arb-ts/src/lib/l2Bridge.ts
Due: none

Log information when receiving logs from logscursor
  packages/arb-util/core/logreader.go
Due: go-vet

Fix logging
  packages/arb-util/core/logreader.go
Due: go-vet

Wait for logs collected to be nonzero
  packages/arb-util/core/logreader.go
Due: go-vet

Fix assorted issues with logscursor
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/core/logreader.go
Due: go-vet

minor fixup
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Restore nil checks
  packages/arb-util/core/logreader.go
Due: go-vet

Fix logs reorg check
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none
