Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Add log messages to lockout manager
  packages/arb-rpc-node/rpc/lockout.go
Due: go-vet

Add notion of acceptable sequence number gap
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/lockout.go
  packages/arb-rpc-node/rpc/redis.go
Due: go-vet

Specify sequencer RPC url instead of sequencer hostname
  packages/arb-rpc-node/rpc/lockout.go
  packages/arb-rpc-node/rpc/redis.go
Due: go-vet

Allow relay to listen to multiple sequencer feeds
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Improve lockout handling of duplicate RPC URLs
  packages/arb-rpc-node/rpc/lockout.go
Due: go-vet

Fix go.sum
  packages/arb-rpc-node/go.sum
Due: none

Fix feed URLs configuration
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/cmd/arb-relay/arb-relay_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Fix sequencer feed channel creation
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Fix duplicate broadcast messages for inbox reader and relay
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/monitor/inboxReader.go
Due: go-vet

use block number in token gen json, change storage location
  packages/arb-ts/.gitignore
  packages/arb-ts/scripts/tokenRecovery/distributeToken.ts
  packages/arb-ts/scripts/tokenRecovery/distributeWeth.ts
  packages/arb-ts/scripts/tokenRecovery/getTokenBalances.ts
  packages/arb-ts/scripts/tokenRecovery/getWETHBalances.ts
  packages/arb-ts/src/lib/networks.ts
Due: none

use @uniswap/token-lists
  packages/arb-ts/token_lists/generate_json.ts
  packages/arb-ts/token_lists/tokenListTypes.ts
  yarn.lock
Due: none

add comment in setGatewayss
  packages/arb-ts/src/lib/bridge.ts
Due: none

update package.json
  packages/arb-ts/package.json
Due: none

throw error if pk and MNEMONIC both set
  packages/arb-ts/scripts/instantiate_bridge.ts
Due: none

use process codes for checkRetryableStatus
  packages/arb-ts/scripts/checkRetryableStatus.ts
Due: none

add upgrade weth script
  packages/arb-ts/scripts/upgrade_weth.ts
Due: none

include init weth in upgrade weth script
  packages/arb-ts/scripts/upgrade_weth.ts
Due: none

add l1 weth to networks
  packages/arb-ts/src/lib/networks.ts
Due: none

handle callbvalue in deposit for weth; add weth integration test
  packages/arb-ts/integration_test/arb-bridge.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/src/lib/bridge.ts
Due: none

activate weth test
  packages/arb-ts/integration_test/arb-bridge.test.ts
Due: none

fix timeout for wait for autoredeem
  packages/arb-ts/integration_test/testHelpers.ts
Due: none

add scrap-script
  packages/arb-ts/scripts/scrap.ts
Due: none

Fix eth sent in retryable ticket when depositing weth
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/GatewayTest.sol
Due: prettier-soldity

moar weth tests
  packages/arb-ts/integration_test/arb-bridge.test.ts
Due: none

update retryable docs
  docs/L1_L2_Messages.md
Due: none

small edits to retryables docs
  docs/L1_L2_Messages.md
Due: none

fix markdown table on docusuarus build (maybe)
  docs/L1_L2_Messages.md
Due: none

Fix code review comments
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/lockout.go
  packages/arb-rpc-node/rpc/redis.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

update rinkarby weth gateway addresses
  packages/arb-ts/src/lib/networks.ts
Due: none

trusted transferToGateway method on aeWeth
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/IaeWETH.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
Due: prettier-soldity

Simplify batch submission given errors or incomplete batches
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Address remaining PR comments
  packages/arb-node-core/cmd/arb-relay/arb-relay.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/lockout.go
  packages/arb-rpc-node/rpc/redis.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Rename feed.input.urls to feed.input.url
  packages/arb-util/configuration/configuration.go
Due: go-vet

Implement ECALL in AVM, relocate 'arb-os' to our own repo
  .gitmodules
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/go.sum
  packages/arb-ts/scripts/builder
  packages/arb-validator.Dockerfile
  packages/tools/scripts/setup_validators_demo.ts
  scripts/arb_deploy.py
  scripts/install-validator
Due: go-vet

Add bridge burn functionality to weth gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2WethGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/aeWETH.sol
Due: prettier-soldity

properly name iweth9L1
  packages/arb-bridge-peripherals/contracts/tokenbridge/misc/IWETH9L1.sol
  packages/arb-ts/scripts/tokenRecovery/distributeWeth.ts
  packages/arb-ts/scripts/tokenRecovery/getWETHBalances.ts
Due: prettier-soldity

update abi
  packages/arb-ts/src/lib/abi/Add.d.ts
  packages/arb-ts/src/lib/abi/ArbOwner.d.ts
  packages/arb-ts/src/lib/abi/ArbSys.d.ts
  packages/arb-ts/src/lib/abi/ArbosTest.d.ts
  packages/arb-ts/src/lib/abi/IWETH9L1.d.ts
  packages/arb-ts/src/lib/abi/IaeWETH.d.ts
  packages/arb-ts/src/lib/abi/factories/Add__factory.ts
  packages/arb-ts/src/lib/abi/factories/AeWETH__factory.ts
  packages/arb-ts/src/lib/abi/factories/ArbBatchTokenMover__factory.ts
  packages/arb-ts/src/lib/abi/factories/ArbOwner__factory.ts
  packages/arb-ts/src/lib/abi/factories/ArbSys__factory.ts
  packages/arb-ts/src/lib/abi/factories/BuddyDeployer__factory.ts
  packages/arb-ts/src/lib/abi/factories/Callback__factory.ts
  packages/arb-ts/src/lib/abi/factories/EthBatchTokenReceiver__factory.ts
  packages/arb-ts/src/lib/abi/factories/FastExitMock__factory.ts
  packages/arb-ts/src/lib/abi/factories/Fibonacci__factory.ts
  packages/arb-ts/src/lib/abi/factories/IWETH9L1__factory.ts
  packages/arb-ts/src/lib/abi/factories/IaeWETH__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1CustomGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1CustomGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1ERC20Gateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1GatewayRouter__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1GatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1PassiveFastExitManager__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1SignedLiquidityProvider__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1WethGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L1WethGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2CustomGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2CustomGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2ERC20Gateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2GatewayRouter__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2GatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2WethGatewayTester__factory.ts
  packages/arb-ts/src/lib/abi/factories/L2WethGateway__factory.ts
  packages/arb-ts/src/lib/abi/factories/PaymentChannel__factory.ts
  packages/arb-ts/src/lib/abi/factories/StakedLiquidityProvider__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestBuddy__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestConstructorBuddy__factory.ts
  packages/arb-ts/src/lib/abi/factories/TestCustomTokenL1__factory.ts
  packages/arb-ts/src/lib/abi/index.ts
Due: none

make WETH_TO_DEPOSIT a var in distribute WETH script
  packages/arb-ts/scripts/tokenRecovery/distributeWeth.ts
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

