Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Fix unit tests by using actual starting block
  packages/arb-node-core/staker/staker_test.go
  packages/arb-node-core/staker/validator.go
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Refactor outbox to surface batch number and index
  packages/arb-bridge-eth/contracts/bridge/Old_Outbox/OldOutbox.sol
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IOutbox.sol
Due: prettier-soldity

Add comment for clarity on unused outbox value
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
Due: prettier-soldity

Fix fee tests
  packages/arb-evm/arbos/arbowner.go
Due: go-vet

Remove one time use logic from gateways
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

Initial implementation of fireblocks API
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.sum
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/cmdhelp/wallet.go
  packages/arb-node-core/ethbridge/auth.go
  packages/arb-node-core/ethbridge/delayedBridgeWatcher.go
  packages/arb-node-core/ethbridge/rollup.go
  packages/arb-node-core/ethbridge/validator.go
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/go.sum
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/configuration/configuration.go
  packages/arb-util/fireblocks/accounttype/accounttype.go
  packages/arb-util/fireblocks/fireblocks.go
  packages/arb-util/fireblocks/operationtype/operationtype.go
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: go-vet

Replace output path from outbox interface, instead surface output id
  packages/arb-bridge-eth/contracts/bridge/Old_Outbox/OldOutbox.sol
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/bridge/interfaces/IOutbox.sol
Due: prettier-soldity

Validate post upgrade init in rollup so its only callable by proxy admin
  packages/arb-bridge-eth/contracts/libraries/ProxyUtil.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/test/upgrade.fork.ts
Due: prettier-soldity

Revert "credit- back address param for registerTokenToL2 and setGateway"
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/ICustomToken.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/test/TestCustomTokenL1.sol
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: prettier-soldity

Use a channel instead of a mutex for waiting on delayed sequencing
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Comment places where waitingOnDelayedChannel is used
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Respect context cancellation in SendTransaction waiting on delayed
  packages/arb-rpc-node/batcher/sequencerBatcher.go
Due: go-vet

Add WaitOnDelayedSequencing to TestSequencerBatcher
  packages/arb-rpc-node/batcher/sequencer_test.go
Due: go-vet

Synchronously sequence delayed messages on startup
  packages/arb-rpc-node/batcher/sequencerBatcher.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/lockout.go
Due: go-vet

Don't sequence user txs if we fail to sequence delayed messages
  packages/arb-rpc-node/rpc/lockout.go
Due: go-vet

Add lockout backoff if initializing sequencer fails
  packages/arb-rpc-node/rpc/lockout.go
Due: go-vet

WIP
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Address code review comments
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Switch to using go-ethereum metrics server
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/metrics/metrics.go
  packages/arb-node-core/monitor/inboxReader.go
  packages/arb-node-core/nodehealth/handler.go
  packages/arb-node-core/nodehealth/nodehealth.go
  packages/arb-node-core/nodehealth/nodehealth_test.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/dev/arbsys_test.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/dev/fees_test.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
  packages/arb-rpc-node/dev/retryable_test.go
  packages/arb-rpc-node/dev/upgrade_test.go
  packages/arb-rpc-node/dev/whitelist_test.go
  packages/arb-rpc-node/web3/accounts.go
  packages/arb-rpc-node/web3/arb.go
  packages/arb-rpc-node/web3/eth.go
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-rpc-node/web3/launch.go
  packages/arb-rpc-node/web3/net.go
  packages/arb-rpc-node/web3/web3.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Setup config
  packages/arb-node-core/cmd/arb-validator/arb-validator.go
  packages/arb-node-core/metrics/metrics.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Small fixes
  packages/arb-node-core/cmdhelp/logging.go
  packages/arb-node-core/nodehealth/handler.go
Due: go-vet

Add comments to arbitrum messenger contracts
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/L2ArbitrumMessenger.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/L1ArbitrumMessenger.sol
Due: prettier-soldity

Fix metricsHandler wrap
  packages/arb-node-core/nodehealth/handler.go
Due: go-vet

Refactor gateway messages to encode and decode using library
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayMessageHandler.sol
Due: prettier-soldity

add new tutorials to Developer_quickstart
  docs/Developer_Quickstart.md
Due: none

Reset next gas to save snapshot after reorg
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix typo
  packages/arb-util/configuration/configuration.go
Due: go-vet

Disable old api usage in upgrade script
  packages/arb-bridge-eth/scripts/upgrade.ts
Due: none

Use library method for parsing data in gateway router
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayMessageHandler.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
Due: prettier-soldity

Fix router outbound calldata utility function
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayRouter.sol
Due: prettier-soldity

Refactor exit number increment in L2 gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
Due: prettier-soldity

Remove gateway message versioning
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ERC20Gateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/GatewayMessageHandler.sol
Due: prettier-soldity

Cleanup tradeable exits handling of calldata in L1 gateway
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumExtendedGateway.sol
Due: prettier-soldity

Deprecate old gateway event signature
  packages/arb-bridge-peripherals/contracts/tokenbridge/arbitrum/gateway/L2ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1ArbitrumGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway/ITokenGateway.sol
Due: prettier-soldity

Add comment referencing admin storage slot
  packages/arb-bridge-eth/contracts/libraries/ProxyUtil.sol
Due: prettier-soldity

Update CI base images
  .circleci/config.yml
  .circleci/images/ethbridge-base/Dockerfile
  .circleci/images/frontend-base/Dockerfile
  .circleci/images/integration-base/Dockerfile
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

