Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Add virtual code interface
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/include/avm/machinethread.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/machine.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: none

Fix rebase error
  packages/arb-avm-cpp/tests/code.cpp
Due: none

Rename saveMachine to saveTestMachine
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/machine.hpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: none

Abstract out code behavior
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
Due: none

Rename arbcore member variables
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Make code db storage more efficient
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: none

When copying code segment, add segment to top layer code store
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
Due: none

Fix compilation
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/src/code.cpp
Due: none

Fix code reference counting
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/code.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/tests/arbos.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/code.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: none

Minor arb-avm-cpp optimizations
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: none

Remove copy from extractRawOperations
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: none

Rename op_count to next_segment_num
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: none

make new method for both registration methods to preserve backwards compatability
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

use percent increase bridge helper; increase to 400 percent
  packages/arb-ts/src/lib/bridge.ts
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

use credit back address in tests
  packages/arb-bridge-peripherals/test/customGateway.e2e.ts
Due: none

Add unit tests for admin node truncation
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/facets/IRollupFacets.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupAdmin.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
  packages/arb-bridge-eth/contracts/test_only/RollupCreatorNoProxy.sol
  packages/arb-bridge-eth/test/arbRollup.ts
  packages/arb-bridge-eth/test/rolluplib.ts
Due: prettier-soldity

Remove unnecessary script
  packages/arb-ts/scripts/triggerLogic.ts
Due: none

Remove outdated TODO
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Update comment on initialization assumption
  packages/arb-bridge-eth/contracts/bridge/SequencerInbox.sol
Due: prettier-soldity

use same pk for L1 and L2 wallet in integration tests
  packages/arb-ts/integration_test/testHelpers.ts
Due: none

include optional maxGas param in deposit
  packages/arb-ts/src/lib/bridge.ts
Due: none

use l2 provider for redemption sanity check in cancelRetryableTicket
  packages/arb-ts/src/lib/bridge.ts
Due: none

Support custom rpc and ws path
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-rpc-node/utils/rpc.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Support serving rpc and ws on same port
  packages/arb-rpc-node/rpc/launch.go
  packages/arb-rpc-node/utils/rpc.go
Due: go-vet

running through precommit hook - l1 router instances changed to l2router
  packages/arb-ts/src/lib/bridge_helpers.ts
Due: none

adding granular integration test here
  packages/arb-ts/integration_test/bridgeSpecific.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
Due: none

Default to allow reading machines from disk
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Restrict slow database reads
  packages/arb-rpc-node/cmd/arb-dev-sequencer/arb-dev-sequencer.go
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
  packages/arb-rpc-node/dev/dev.go
  packages/arb-rpc-node/txdb/txdb.go
  packages/arb-util/configuration/configuration.go
Due: go-vet

Update go-ethereum
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-cpp/go.sum
  packages/arb-evm/go.mod
  packages/arb-evm/go.sum
  packages/arb-node-core/ethbridge/builderbackend.go
  packages/arb-node-core/go.mod
  packages/arb-node-core/go.sum
  packages/arb-rpc-node/aggregator/aggregator.go
  packages/arb-rpc-node/go.mod
  packages/arb-rpc-node/go.sum
  packages/arb-rpc-node/web3/ethclient.go
  packages/arb-util/ethutils/client.go
  packages/arb-util/go.mod
  packages/arb-util/go.sum
Due: go-vet

Porting tests for eip1559 changes
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/machine_test.go
  packages/arb-node-core/ethbridge/inbox_test.go
  packages/arb-node-core/staker/staker_test.go
  packages/arb-rpc-node/arbostest/constructor_test.go
  packages/arb-rpc-node/arbostest/create2_test.go
  packages/arb-rpc-node/arbostest/fee_test.go
  packages/arb-rpc-node/batcher/sequencer_gas_usage_test.go
  packages/arb-rpc-node/batcher/sequencer_test.go
  packages/arb-rpc-node/dev/l2ToL1Tx_test.go
Due: go-vet

Properly override any chain specific defaults
  packages/arb-util/configuration/configuration.go
Due: go-vet

Remove unused variable
  packages/arb-util/configuration/configuration.go
Due: go-vet

add slither to installation / package.json script in arb-bridge-eth
  packages/arb-bridge-eth/package.json
  requirements-dev.txt
Due: none

Fix some of the tests and improve eip1559 handling
  packages/arb-node-core/challenge/common_test.go
  packages/arb-node-core/challenge/inbox_proof_test.go
  packages/arb-node-core/ethbridge/builderbackend.go
  packages/arb-node-core/ethbridge/chain.go
  packages/arb-node-core/ethbridge/challenge.go
  packages/arb-node-core/ethbridge/delayedBridgeWatcher.go
  packages/arb-node-core/test/helper.go
Due: go-vet

apply low-hanging slither suggestions (shadow declarations, external functions, unused vars/methods)
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-bridge-eth/contracts/arch/Marshaling.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProofCommon.sol
  packages/arb-bridge-eth/contracts/bridge/Outbox.sol
  packages/arb-bridge-eth/contracts/challenge/Challenge.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeLib.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupLib.sol
  packages/arb-bridge-eth/contracts/rollup/facets/RollupUser.sol
Due: prettier-soldity

Fix inbox watcher
  packages/arb-node-core/ethbridge/sequencerInboxWatcher.go
Due: go-vet

make methods with credit back param public
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1CustomGateway.sol
  packages/arb-bridge-peripherals/contracts/tokenbridge/ethereum/gateway/L1GatewayRouter.sol
Due: prettier-soldity

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

