Repository OffchainLabs/arbitrum-classic: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-soldity, go-vet

prettier-soldity:
  name: prettier-soldity
  language: node
  entry: ./node_modules/.bin/prettier --write --list-different
  additional_dependencies:
  - prettier@2.0.5
  - prettier-plugin-solidity@^1.0.0-alpha.54

go-vet:
  name: Go Vet
  entry: ./scripts/run-go-packages "go list ./... | grep -v 'arb-node-core/ethbridge[^/]*contracts' | xargs go vet"
  language: script

Clear messages when loading reorg machine
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix initial cache seeding
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

log message index as decimal instead of hex
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add extra logging around reorgs
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-rpc-node/cmd/arb-node/arb-node.go
Due: go-vet

Add debug timing to arbcore
  packages/arb-avm-cpp/cavm/carbstorage.cpp
  packages/arb-avm-cpp/cavm/carbstorage.h
  packages/arb-avm-cpp/cmachine/storage.go
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/util.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-util/configuration/configuration.go
Due: go-vet

Reduce default `core.idle-sleep`
  packages/arb-util/configuration/configuration.go
Due: go-vet

Default `--core.cache.seed-on-startup` to false
  packages/arb-util/configuration/configuration.go
Due: go-vet

Added test comment to trigger PR
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Added test comment
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Added codechecks to gas test branch
  .circleci/config.yml
  packages/arb-bridge-eth/codechecks.yml
  packages/arb-bridge-eth/hardhat.config.ts
  packages/arb-bridge-eth/package.json
Due: none

Pull audit fix
  package.json
Due: none

Should audit ci
  .circleci/config.yml
Due: none

Removed auditing
  .circleci/config.yml
Due: none

Added postinstall abi update
  packages/arb-ts/package.json
Due: none

Remove test comment
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Added missing hardhat config
  packages/arb-bridge-eth/package.json
  yarn.lock
Due: none

Removed depped tests
  packages/arb-bridge-eth/hardhat.config.ts
Due: none

getUserFacet method deprecated in rollup-v2
  packages/arb-upgrades/ethBridgeTasks.ts
Due: none

Added test comment
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
Due: prettier-soldity

Added first step of removing some node storage
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/IRollupLogic.sol
  packages/arb-bridge-eth/contracts/rollup/Node.sol
  packages/arb-bridge-eth/contracts/rollup/Rollup.sol
  packages/arb-bridge-eth/contracts/rollup/RollupAdminLogic.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupUserLogic.sol
  packages/arb-bridge-eth/contracts/validator/ValidatorUtils.sol
  packages/arb-bridge-eth/test/arbRollup.spec.ts
  packages/arb-bridge-eth/test/common/rolluplib.ts
Due: prettier-soldity

Updated tests
  packages/arb-bridge-eth/test/arbRollup.spec.ts
  packages/arb-bridge-eth/test/common/rolluplib.ts
Due: none

Should use a storage node rather than copying to mem
  packages/arb-bridge-eth/contracts/rollup/RollupUserLogic.sol
Due: prettier-soldity

Removed external caller comment
  packages/arb-bridge-eth/contracts/rollup/RollupUserLogic.sol
Due: prettier-soldity

Removed explicit isStaked struct var
  packages/arb-bridge-eth/contracts/rollup/IRollupCore.sol
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

Temporarily use amountStaked to determine isStaked
  packages/arb-bridge-eth/contracts/rollup/RollupCore.sol
Due: prettier-soldity

add comments
  packages/arb-ts/src/lib/message/L1ToL2Message.ts
Due: none

bump (and publish) beta version
  packages/arb-ts/package.json
Due: none

Theoretically fix code reorgs
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
Due: none

Properly use memory cache on reorg
  packages/arb-avm-cpp/data_storage/include/data_storage/arbcore.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/basicmachinecache.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/combinedmachinecache.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/lrumachinecache.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/timedmachinecache.hpp
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
  packages/arb-avm-cpp/data_storage/src/basicmachinecache.cpp
  packages/arb-avm-cpp/data_storage/src/combinedmachinecache.cpp
  packages/arb-avm-cpp/data_storage/src/lrumachinecache.cpp
  packages/arb-avm-cpp/data_storage/src/timedmachinecache.cpp
  packages/arb-avm-cpp/tests/basicmachinecache.cpp
  packages/arb-avm-cpp/tests/combinedmachinecache.cpp
  packages/arb-avm-cpp/tests/lrumachinecache.cpp
Due: none

Updates from token list requirements
  packages/arb-ts/package.json
  packages/arb-ts/src/index.ts
  packages/arb-ts/src/lib/utils/multicall.ts
Due: none

Fix unit test
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add logging when advanceCore target comparison fails
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Do not attempt to advance core machine if already at or past target
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Fix race condition
  packages/arb-avm-cpp/data_storage/src/arbcore.cpp
Due: none

Add tracing flags to dev node 
  packages/arb-rpc-node/cmd/arb-dev-node/arb-dev-node.go
Due: go-vet

Only lock once in RunningCode calls
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
Due: none

Added custom token registration to the admin token bridger
  packages/arb-ts/integration_test/customerc20.test.ts
  packages/arb-ts/integration_test/sanity.test.ts
  packages/arb-ts/integration_test/testHelpers.ts
  packages/arb-ts/package.json
  packages/arb-ts/scripts/instantiate_bridge.ts
  packages/arb-ts/src/lib/assetBridger/ethBridger.ts
  packages/arb-ts/src/lib/assetBridger/tokenBridger.ts
  packages/arb-ts/src/lib/constants.ts
  packages/arb-ts/src/lib/message/L1ToL2Message.ts
  packages/arb-ts/src/lib/message/L1ToL2MessageCreator.ts
  packages/arb-ts/src/lib/message/L1ToL2MessageGasEstimator.ts
  packages/arb-ts/src/lib/utils/signerOrProvider.ts
Due: none

Added yarn lock
  yarn.lock
Due: none

Path conditions:
  prettier-soldity: any of: \.sol$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

  go-vet: any of: \.go$, but not: (?x)(
    ^packages/arb-avm-cpp/external/keccak/|
    ^packages/arb-bridge-eth/installed_contracts/
)

