Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_compiler_evm, arb_provider_ethers, arb_provider_go, arb_provider_truffle, arb_provider_web3, arb_util, arb_validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      build:
        flags:
          [
            arb_avm_cpp,
            arb_avm_go,
            arb_bridge_eth,
            arb_compiler_evm,
            arb_provider_ethers,
            arb_provider_go,
            arb_provider_truffle,
            arb_provider_web3,
            arb_util,
            arb-validator,
          ]

flags:
  arb_avm_cpp:
    paths:
      - packages/arb-avm-cpp
  arb_avm-go:
    paths:
      - packages/arb-avm-go
  arb_bridge_eth:
    paths:
      - packages/arb-bridge-eth
  arb_compiler_evm:
    paths:
      - packages/arb-compiler-evm
  arb_provider_ethers:
    paths:
      - packages/arb-provider-ethers
  arb_provider_go:
    paths:
      - packages/arb-provider-go
  arb_provider_truffle:
    paths:
      - packages/arb-provider-truffle
  arb_provider_web3:
    paths:
      - packages/arb-provider-web3
  arb_util:
    paths:
      - packages/arb-util
  arb_validator:
    paths:
      - packages/arb-validator

ignore:
  - "packages/arb-validator/ethbridge/arbfactory/*"
  - "packages/arb-validator/ethbridge/challengefactory/*"
  - "packages/arb-validator/ethbridge/challengetester/*"
  - "packages/arb-validator/ethbridge/executionchallenge/*"
  - "packages/arb-validator/ethbridge/globalpendinginbox/*"
  - "packages/arb-validator/ethbridge/messageschallenge/*"
  - "packages/arb-validator/ethbridge/pendingtopchallenge/*"
  - "packages/arb-validator/ethbridge/messagetester/*"
  - "packages/arb-validator/ethbridge/rollup/*"
  - "packages/arb-provider-go/test/fibabi.go"
  - "packages/arb-provider-ethers/src/lib/ArbRollup.d.ts"
  - "packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts"
  - "**/*.pb.go"

test
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/ethbridgetest/message_test.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

test
  packages/arb-validator-core/ethbridgetest/message_test.go
Due: arb_validator

test
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

test
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-util/value/tuple.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
Due: arb_bridge_eth, arb_provider_ethers, arb_util, arb_validator

add install virtualenv to installation instructions
  docs/Installation.md
Due: none

edits
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-util/value/tuple.go
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
Due: arb_bridge_eth, arb_provider_ethers, arb_util, arb_validator

fix failures
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/message/data.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

edit
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/message/data.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

edits
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
Due: arb_avm_cpp, arb_bridge_eth

edits
  .pre-commit-config.yaml
  .prettierrc.js
  packages/arb-avm-go/vm/instructions.go
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbFactoryFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-provider-go/arbinfo.go
  packages/arb-validator-core/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator-core/ethbridge/challengefactory/challengefactory.go
  packages/arb-validator-core/ethbridge/challengetester/challengetester.go
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  tests/fibgo/go.mod
Due: arb_avm-go, arb_bridge_eth, arb_provider_ethers, arb_provider_go, arb_validator

regenerated ao files
  packages/arb-provider-ethers/jest.config.js
  packages/arb-provider-ethers/src/index.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC20.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbFactory.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfo.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSys.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSysFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInbox.d.ts
  packages/arb-provider-ethers/src/lib/abi/index.d.ts
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/contract.ts
  packages/arb-provider-ethers/src/lib/conversion.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/value.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
  packages/arb-provider-ethers/tests/arb-conversion.test.ts
  packages/arb-provider-ethers/tests/arb-value.test.ts
  packages/arb-validator/proofmachine/opcodetesthash.ao
  packages/arb-validator/proofmachine/opcodetestlogic.ao
  packages/arb-validator/proofmachine/opcodetesttuple.ao
Due: arb_provider_ethers, arb_validator

Partially implement register logic
  packages/arb-avm-cpp/avm/src/machine.cpp
  packages/arb-avm-cpp/tests/machine.cpp
Due: arb_avm_cpp

testMessagesChallenge fix
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/challenges/messagesChallenge_test.go
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/structures/vmInbox.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

Split part of MachineState into new CodeState class
  packages/arb-avm-cpp/avm/src/machine.cpp
Due: arb_avm_cpp

edit msgs challenege hashing values
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
  packages/arb-bridge-eth/contracts/test_only/MessageTester.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-util/value/hash.go
  packages/arb-validator-core/arbbridge/events.go
  packages/arb-validator-core/arbbridge/messagesChallenge.go
  packages/arb-validator-core/ethbridge/conversion.go
  packages/arb-validator-core/ethbridge/executionChallenge.go
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messagesChallenge.go
  packages/arb-validator-core/ethbridge/messagesChallengeWatcher.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
  packages/arb-validator-core/ethbridge/oneStepProof.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/challenges/messagesChallenge.go
  packages/arb-validator/challenges/messagesChallenge_test.go
  packages/arb-validator/contract.ao
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/structures/vmInbox.go
Due: arb_bridge_eth, arb_provider_ethers, arb_util, arb_validator

assetion changes
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/challenge/ExecutionChallenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/arbRollup.go
  packages/arb-validator-core/ethbridge/arbRollupWatcher.go
  packages/arb-validator-core/ethbridge/executionChallenge.go
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/mockbridge/messagesChallenge.go
  packages/arb-validator-core/valprotocol/nodeData.go
  packages/arb-validator-core/valprotocol/valprotocol.pb.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/rollup/node.go
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/rollup/rollup_test.go
  packages/arb-validator/rollup/testListeners.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

Try to add dummy ECDSA opcode and test executable
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-cpp/avm/CMakeLists.txt
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/cmake/FindGMP.cmake
  packages/arb-avm-cpp/tests/opcodes.cpp
  packages/arb-compiler-evm/arbitrum/basic_vm.py
  packages/arb-compiler-evm/arbitrum/compiler.py
  packages/arb-compiler-evm/arbitrum/instructions.py
  packages/arb-compiler-evm/precompiles.py
Due: arb_avm_cpp, arb_compiler_evm

Fix linking issue with GMP
  packages/arb-avm-cpp/avm/CMakeLists.txt
Due: arb_avm_cpp

edit SolidityOneStepProof()
  packages/arb-avm-cpp/avm/include/avm/machinestate/datastack.hpp
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/value.hpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-go/vm/machineValue.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-util/value/hash.go
  packages/arb-validator-core/ethbridge/executionChallenge.go
  packages/arb-validator-core/ethbridge/executionchallenge/calls.go
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/valprotocol/executionAssertionStub.go
  packages/arb-validator-core/valprotocol/precondition.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/challenges/executionChallenge_test.go
  packages/arb-validator/contract.ao
  packages/arb-validator/testmachine/machine.go
Due: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_util, arb_validator

codepoint marshalling edit
  packages/arb-avm-cpp/avm/include/avm/machinestate/datastack.hpp
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/value.hpp
  packages/arb-avm-cpp/avm_values/src/codepoint.cpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator/challenges/executionChallenge.go
  packages/arb-validator/proofmachine/opcodetest.ao
Due: arb_avm_cpp, arb_bridge_eth, arb_provider_ethers, arb_validator

stack edits
  packages/arb-avm-cpp/avm/include/avm/machinestate/datastack.hpp
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
  packages/arb-avm-cpp/avm_values/include/avm_values/hashonlyvalue.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/value.hpp
  packages/arb-avm-cpp/avm_values/src/hashonlyvalue.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/data_storage/src/checkpoint/checkpointutils.cpp
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-avm-go/vm/stack/flat.go
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/testmachine/machine.go
Due: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_validator

fix sol addToStack
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator/testmachine/machine.go
Due: arb_bridge_eth, arb_validator

fixed execution challenge
  packages/arb-avm-cpp/avm/include/avm/machinestate/datastack.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/hashonlyvalue.hpp
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-avm-go/vm/stack/flat.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/testmachine/machine.go
Due: arb_avm_cpp, arb_avm-go, arb_validator

all tests passing
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm_values/src/tuple.cpp
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
Due: arb_avm_cpp, arb_bridge_eth, arb_validator

edits
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
Due: arb_avm_cpp

Update test contracts
  packages/arb-validator/contract.ao
  tests/fibgo/contract.ao
Due: arb_validator

refactor edits
  packages/arb-avm-cpp/avm/include/avm/machinestate/datastack.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/hashonlyvalue.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/tuple.hpp
  packages/arb-avm-cpp/avm_values/src/hashonlyvalue.cpp
  packages/arb-avm-cpp/avm_values/src/tuple.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-go/vm/instructions.go
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/contracts/challenge/BisectionChallenge.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/messagetester/messagetester.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator/contract.ao
  packages/arb-validator/testmachine/machine.go
Due: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_provider_ethers, arb_validator

pr quality edits
  packages/arb-provider-ethers/src/lib/abi/ArbFactory.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSys.d.ts
  packages/arb-validator/testmachine/machine.go
Due: arb_provider_ethers, arb_validator

uncomment test
  packages/arb-validator/testmachine/machine.go
Due: arb_validator

attempt to complete implementation of ECDSA
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/tests/opcodes.cpp
  packages/arb-compiler-evm/arbitrum/instructions.py
  packages/arb-compiler-evm/precompiles.py
Due: arb_avm_cpp, arb_compiler_evm

update prettier + eslint usage, use only root deps, misc lint updates
  .pre-commit-config.yaml
  .prettierrc.js
  package.json
  packages/arb-provider-ethers/.prettierignore
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/tests/arb-value.test.ts
  packages/arb-provider-ethers/tsconfig.json
  yarn.lock
Due: arb_provider_ethers

clean up type exports, add abi index file, change how declarations are copied
  packages/arb-provider-ethers/scripts/builder
  packages/arb-provider-ethers/src/index.ts
  packages/arb-provider-ethers/src/lib/abi/index.ts
Due: arb_provider_ethers

rename ArbProvider.provider -> ArbProvider.ethProvider
  packages/arb-provider-ethers/src/lib/provider.ts
Due: arb_provider_ethers

depositERC721 consistent naming + remove unused
  packages/arb-provider-ethers/src/lib/wallet.ts
Due: arb_provider_ethers

match react files in eslint
  .pre-commit-config.yaml
Due: none

resolve some issues in ECDSA implementation
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: arb_avm_cpp

apt use root packages for script, remove unneeded
  packages/arb-provider-truffle/lib/index.js
  packages/arb-provider-truffle/package.json
Due: arb_provider_truffle

web3 provider update package json + format
  packages/arb-provider-web3/ethers-web3-bridge.js
  packages/arb-provider-web3/index.js
  packages/arb-provider-web3/package.json
Due: arb_provider_web3

continue to move toward a complete ECDSA opcode implementation
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: arb_avm_cpp

Bump ethers and web3 providers
  packages/arb-provider-ethers/package.json
  packages/arb-provider-web3/package.json
Due: arb_provider_ethers, arb_provider_web3
