Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_compiler_evm, arb_provider_ethers, arb_provider_go, arb_provider_truffle, arb_provider_web3, arb_util, arb_validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      build:
        flags:
          [
            arb_avm_cpp,
            arb_avm_go,
            arb_bridge_eth,
            arb_compiler_evm,
            arb_provider_ethers,
            arb_provider_go,
            arb_provider_truffle,
            arb_provider_web3,
            arb_util,
            arb-validator,
          ]

flags:
  arb_avm_cpp:
    paths:
      - packages/arb-avm-cpp
  arb_avm-go:
    paths:
      - packages/arb-avm-go
  arb_bridge_eth:
    paths:
      - packages/arb-bridge-eth
  arb_compiler_evm:
    paths:
      - packages/arb-compiler-evm
  arb_provider_ethers:
    paths:
      - packages/arb-provider-ethers
  arb_provider_go:
    paths:
      - packages/arb-provider-go
  arb_provider_truffle:
    paths:
      - packages/arb-provider-truffle
  arb_provider_web3:
    paths:
      - packages/arb-provider-web3
  arb_util:
    paths:
      - packages/arb-util
  arb_validator:
    paths:
      - packages/arb-validator

ignore:
  - "packages/arb-validator/ethbridge/arbfactory/*"
  - "packages/arb-validator/ethbridge/challengefactory/*"
  - "packages/arb-validator/ethbridge/challengetester/*"
  - "packages/arb-validator/ethbridge/executionchallenge/*"
  - "packages/arb-validator/ethbridge/globalpendinginbox/*"
  - "packages/arb-validator/ethbridge/messageschallenge/*"
  - "packages/arb-validator/ethbridge/pendingtopchallenge/*"
  - "packages/arb-validator/ethbridge/messagetester/*"
  - "packages/arb-validator/ethbridge/rollup/*"
  - "packages/arb-provider-go/test/fibabi.go"
  - "packages/arb-provider-ethers/src/lib/ArbRollup.d.ts"
  - "packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts"
  - "**/*.pb.go"

Remove ordering assumption from code serialization
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: arb_avm_cpp

Make code segment deleting work with cross references
  packages/arb-avm-cpp/data_storage/include/data_storage/value/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: arb_avm_cpp

Improve DRYness
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
Due: arb_avm_cpp

Use std::string instead of const char* for constants
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/data_storage/src/checkpointstorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: arb_avm_cpp

Make string constants const
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/data_storage/src/checkpointstorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: arb_avm_cpp

Refactor out serializeCodeSegment
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: arb_avm_cpp

Further simplify code serialization
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: arb_avm_cpp

Refactor out breathFirstSearch
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: arb_avm_cpp

Add avm code tests
  packages/arb-avm-cpp/tests/CMakeLists.txt
  packages/arb-avm-cpp/tests/code.cpp
Due: arb_avm_cpp

Fix typo
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
Due: arb_avm_cpp

Update docs for ArbSys change
  docs/Arbsys.md
  docs/Time_in_Arbitrum.md
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
Due: arb_compiler_evm

Fix test
  packages/arb-avm-cpp/tests/code.cpp
Due: arb_avm_cpp

Remove gettime from opcodetesttuple test vector
  packages/arb-avm-cpp/tests/machine-cases/opcodetesttuple.mexe
  packages/arb-compiler-evm/arb-test.py
Due: arb_avm_cpp, arb_compiler_evm

Fix ethbridge tests
  packages/arb-bridge-eth/test/arbRollup.ts
Due: arb_bridge_eth

Fix fibgo
  packages/arb-validator/go.mod
  packages/arb-validator/go.sum
  tests/fibgo/connection_test.go
Due: arb_validator

Clean up fibgo
  tests/fibgo/connection_test.go
  tests/fibgo/contract.mexe
  tests/fibgo/go.mod
Due: none

Fix inbox opcode
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
Due: arb_avm_cpp

Remove timebounds from the ethbridge
  packages/arb-bridge-eth/contracts/test_only/RollupTester.sol
  packages/arb-bridge-eth/contracts/vm/ArbFactory.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/IArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraphUtils.sol
  packages/arb-bridge-eth/contracts/vm/VM.sol
  packages/arb-provider-ethers/src/lib/abi/ArbFactory.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbFactoryFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-validator-core/ethbridge/arbFactory.go
  packages/arb-validator-core/ethbridge/arbRollup.go
  packages/arb-validator-core/ethbridge/arbRollupWatcher.go
  packages/arb-validator-core/ethbridge/arbfactory/arbfactory.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/ethbridge/rollup/calls.go
  packages/arb-validator-core/ethbridgetest/rolluptester/rolluptester.go
  packages/arb-validator-core/valprotocol/nodeData.go
  packages/arb-validator-core/valprotocol/params.go
  packages/arb-validator-core/valprotocol/valprotocol.pb.go
  packages/arb-validator-core/valprotocol/valprotocol.proto
  packages/arb-validator/nodegraph/nodegraph_test.go
  packages/arb-validator/nodegraph/stakednodegraph_test.go
  packages/arb-validator/rollup/chainParamsSetting.go
  packages/arb-validator/rollup/chainobserver/chainObserver.go
  packages/arb-validator/rollup/chainobserver/chainObserver_test.go
  packages/arb-validator/rollup/chainobserver/opinionThread.go
  packages/arb-validator/rollup/ethbridge_test.go
  packages/arb-validator/rollup/rollupEthBridge_test.go
  tests/fibgo/connection_test.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

Eliminate timebounds from arb-util
  packages/arb-util/protocol/protocol.pb.go
  packages/arb-util/protocol/protocol.proto
  packages/arb-util/protocol/timebounds.go
Due: arb_util

Fix ethbridge test
  packages/arb-bridge-eth/test/arbRollup.ts
Due: arb_bridge_eth

Switch to ArbOS message format
  packages/arb-bridge-eth/contracts/GlobalInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalInbox.sol
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/challenge/InboxTopChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
  packages/arb-bridge-eth/contracts/test_only/MessageTester.sol
  packages/arb-bridge-eth/contracts/vm/IArbRollup.sol
Due: arb_bridge_eth

Remove inbox proxy
  packages/arb-bridge-eth/contracts/GlobalInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalInbox.sol
  packages/arb-bridge-eth/contracts/vm/ArbContractProxy.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
Due: arb_bridge_eth

Working of fixing tests
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-avm-cpp/gotest/gotest.go
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/contracts/test_only/MessageTester.sol
  packages/arb-bridge-eth/contracts/test_only/ValueTester.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-tx-aggregator/txaggregator/server.go
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/ethbridgetest/message_test.go
  packages/arb-validator-core/ethbridgetest/messagetester/messagetester.go
  packages/arb-validator-core/ethbridgetest/onestepprooftester/onestepprooftester.go
  packages/arb-validator-core/ethbridgetest/protocoltester/protocoltester.go
  packages/arb-validator-core/ethbridgetest/rolluptester/rolluptester.go
  packages/arb-validator-core/ethbridgetest/value_test.go
  packages/arb-validator-core/ethbridgetest/valuetester/valuetester.go
  packages/arb-validator-core/message/inboxMessage.go
  packages/arb-validator-core/message/l2Message.go
  packages/arb-validator-core/message/l2Message_test.go
  packages/arb-validator-core/message/outMessage.go
  packages/arb-validator-core/message/transfer.go
  packages/arb-validator/cmd/avm-replay/avm-replay.go
  packages/arb-validator/proofmachine/machinetester/machinetester.go
  packages/arb-validator/rollup/ethbridge_test.go
  packages/arb-validator/rollup/rollupEthBridge_test.go
  packages/arb-validator/rollupvalidator/server.go
Due: arb_avm_cpp, arb_bridge_eth, arb_provider_ethers, arb_validator

Simplify bytestack format
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/ethbridgetest/message_test.go
  packages/arb-validator-core/ethbridgetest/messagetester/messagetester.go
  packages/arb-validator-core/ethbridgetest/onestepprooftester/onestepprooftester.go
  packages/arb-validator-core/ethbridgetest/protocoltester/protocoltester.go
  packages/arb-validator-core/ethbridgetest/rolluptester/rolluptester.go
  packages/arb-validator-core/ethbridgetest/value_test.go
  packages/arb-validator-core/ethbridgetest/valuetester/valuetester.go
  packages/arb-validator-core/message/data.go
  packages/arb-validator/proofmachine/machinetester/machinetester.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

Update outgoing message format
  packages/arb-bridge-eth/contracts/GlobalInbox.sol
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/contracts/test_only/MessageTester.sol
  packages/arb-bridge-eth/contracts/test_only/ValueTester.sol
Due: arb_bridge_eth

Remove sigutils
  packages/arb-bridge-eth/contracts/GlobalInbox.sol
  packages/arb-bridge-eth/contracts/libraries/SigUtils.sol
  packages/arb-bridge-eth/contracts/test_only/SigUtilsTester.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridgetest/main_test.go
  packages/arb-validator-core/ethbridgetest/sigutils_test.go
  packages/arb-validator-core/ethbridgetest/sigutilstester/sigutilstester.go
  packages/arb-validator-core/go.sum
  packages/arb-validator/rollup/ethbridge_test.go
  scripts/update-abi
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

Update ArbOS
  packages/arb-avm-cpp/tests/arbos-cases/evm_direct_deploy_add.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_direct_deploy_and_call_add.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_arbsys.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_create.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_using_batch.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_with_constructors.aoslog
  packages/arb-avm-cpp/tests/arbos.mexe
Due: arb_avm_cpp

Remove BytesLib slice
  packages/arb-bridge-eth/contracts/arch/Value.sol
  packages/arb-bridge-eth/contracts/libraries/BytesLib.sol
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/ethbridgetest/messagetester/messagetester.go
  packages/arb-validator-core/ethbridgetest/onestepprooftester/onestepprooftester.go
  packages/arb-validator-core/ethbridgetest/protocoltester/protocoltester.go
  packages/arb-validator-core/ethbridgetest/rolluptester/rolluptester.go
  packages/arb-validator-core/ethbridgetest/valuetester/valuetester.go
  packages/arb-validator/proofmachine/machinetester/machinetester.go
Due: arb_bridge_eth, arb_validator

Update arbos
  packages/arb-avm-cpp/tests/arbos-cases/evm_direct_deploy_add.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_direct_deploy_and_call_add.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_arbsys.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_create.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_using_batch.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_with_constructors.aoslog
  packages/arb-avm-cpp/tests/arbos.mexe
  packages/arb-provider-go/connection.go
  packages/arb-validator-core/ethbridge/globalInboxWatcher.go
  packages/arb-validator-core/message/l2Message.go
  tests/fibgo/connection_test.go
  tests/fibgo/go.mod
Due: arb_avm_cpp, arb_provider_go, arb_validator

Remove ArbSys from one step proof test
  packages/arb-validator/proofmachine/proofmachine_test.go
Due: arb_validator

Clean up tests
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-validator-core/evm/tx.go
  packages/arb-validator/proofmachine/arbos_test.go
  packages/arb-validator/rollupvalidator/server.go
  tests/fibgo/connection_test.go
Due: arb_avm_cpp, arb_validator

Add TestFib to proofmachine
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_create.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_using_batch.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_with_constructors.aoslog
  packages/arb-avm-cpp/tests/arbos.mexe
  packages/arb-provider-go/go.sum
  packages/arb-tx-aggregator/go.sum
  packages/arb-util/value/codePointStub.go
  packages/arb-util/value/hashPreImage.go
  packages/arb-util/value/values.go
  packages/arb-validator-core/evm/evm_advise.go
  packages/arb-validator-core/evm/log.go
  packages/arb-validator-core/go.mod
  packages/arb-validator-core/go.sum
  packages/arb-validator-core/message/data.go
  packages/arb-validator-core/message/data_test.go
  packages/arb-validator-core/message/inboxMessage.go
  packages/arb-validator/go.sum
  packages/arb-validator/proofmachine/arbos_test.go
  packages/arb-validator/proofmachine/fibabi.go
  tests/fibgo/connection_test.go
  tests/fibgo/go.mod
Due: arb_avm_cpp, arb_provider_go, arb_util, arb_validator

Fibgo working!
  packages/arb-avm-cpp/tests/arbos.mexe
  packages/arb-compiler-evm/contract-templates/contracts/ArbInfo.sol
  packages/arb-provider-go/connection.go
  packages/arb-validator/rollupvalidator/server.go
  tests/fibgo/connection_test.go
Due: arb_avm_cpp, arb_compiler_evm, arb_provider_go, arb_validator

Fix ethbridge tests and upgrade ethers provider to new formats
  packages/arb-bridge-eth/contracts/GlobalInbox.sol
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-bridge-eth/test/globalInbox.ts
  packages/arb-bridge-eth/test/message.ts
  packages/arb-bridge-eth/test/value.ts
  packages/arb-provider-ethers/src/lib/abi/txaggregator.server.d.ts
  packages/arb-provider-ethers/src/lib/aggregator.ts
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/message.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/value.ts
  packages/arb-provider-ethers/test/arb-value.test.ts
  packages/arb-tx-aggregator/txaggregator/serialization.go
  packages/arb-validator-core/evm/evm.pb.go
  packages/arb-validator-core/message/l2Message.go
  packages/arb-validator-core/validatorserver/server.pb.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

Update ArbOS
  packages/arb-avm-cpp/tests/arbos-cases/evm_direct_deploy_add.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_direct_deploy_and_call_add.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_arbsys.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_test_create.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_using_batch.aoslog
  packages/arb-avm-cpp/tests/arbos-cases/evm_xcontract_call_with_constructors.aoslog
  packages/arb-avm-cpp/tests/arbos.mexe
  packages/arb-validator/localhost.conf
  packages/arb-validator/server.crt
  packages/arb-validator/server.key
  tests/fibgo/contract.mexe
Due: arb_avm_cpp, arb_validator

Fix message test
  packages/arb-bridge-eth/test/message.ts
Due: arb_bridge_eth
