Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_compiler_evm, arb_provider_ethers, arb_provider_go, arb_provider_truffle, arb_provider_web3, arb_util, arb_validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      build:
        flags:
          [
            arb_avm_cpp,
            arb_avm_go,
            arb_bridge_eth,
            arb_compiler_evm,
            arb_provider_ethers,
            arb_provider_go,
            arb_provider_truffle,
            arb_provider_web3,
            arb_util,
            arb-validator,
          ]

flags:
  arb_avm_cpp:
    paths:
      - packages/arb-avm-cpp
  arb_avm-go:
    paths:
      - packages/arb-avm-go
  arb_bridge_eth:
    paths:
      - packages/arb-bridge-eth
  arb_compiler_evm:
    paths:
      - packages/arb-compiler-evm
  arb_provider_ethers:
    paths:
      - packages/arb-provider-ethers
  arb_provider_go:
    paths:
      - packages/arb-provider-go
  arb_provider_truffle:
    paths:
      - packages/arb-provider-truffle
  arb_provider_web3:
    paths:
      - packages/arb-provider-web3
  arb_util:
    paths:
      - packages/arb-util
  arb_validator:
    paths:
      - packages/arb-validator

ignore:
  - "packages/arb-validator/ethbridge/arbfactory/*"
  - "packages/arb-validator/ethbridge/challengefactory/*"
  - "packages/arb-validator/ethbridge/challengetester/*"
  - "packages/arb-validator/ethbridge/executionchallenge/*"
  - "packages/arb-validator/ethbridge/globalpendinginbox/*"
  - "packages/arb-validator/ethbridge/messageschallenge/*"
  - "packages/arb-validator/ethbridge/pendingtopchallenge/*"
  - "packages/arb-validator/ethbridge/messagetester/*"
  - "packages/arb-validator/ethbridge/rollup/*"
  - "packages/arb-provider-go/test/fibabi.go"
  - "packages/arb-provider-ethers/src/lib/ArbRollup.d.ts"
  - "packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts"
  - "packages/arb-avm-cpp/external/keccak/**/*"
  - "**/*.pb.go"

remove blocktag
  packages/arb-provider-ethers/src/lib/provider.ts
Due: arb_provider_ethers

get update-abi script generating files correctly, also generate blank js files
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/scripts/update-abi
  packages/arb-provider-ethers/src/lib/abi/ArbERC20.js
  packages/arb-provider-ethers/src/lib/abi/ArbERC721.js
  packages/arb-provider-ethers/src/lib/abi/ArbFactory.js
  packages/arb-provider-ethers/src/lib/abi/ArbInfo.js
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.js
  packages/arb-provider-ethers/src/lib/abi/ArbSys.js
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInbox.js
  packages/arb-provider-ethers/src/lib/abi/index.js
  packages/arb-provider-ethers/tsconfig.json
Due: arb_provider_ethers

fix exports (again) - remove blank js generation, copy over .d.ts in new build script
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/scripts/builder
  packages/arb-provider-ethers/scripts/update-abi
  packages/arb-provider-ethers/src/index.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC20.js
  packages/arb-provider-ethers/src/lib/abi/ArbERC721.js
  packages/arb-provider-ethers/src/lib/abi/ArbFactory.js
  packages/arb-provider-ethers/src/lib/abi/ArbInfo.js
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.js
  packages/arb-provider-ethers/src/lib/abi/ArbSys.js
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInbox.js
  packages/arb-provider-ethers/src/lib/abi/index.js
Due: arb_provider_ethers

Create Glossary.md
  docs/Glossary.md
Due: none

Make naming consistant
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/assertionListener.go
  packages/arb-validator/rollup/confirmThread.go
  packages/arb-validator/rollup/listener.go
Due: arb_validator

Removed unused code
  packages/arb-validator/rollup/node.go
Due: arb_validator

Small fixes from PR comments
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb_validator

Updated codecov fix
  .circleci/config.yml
Due: none

Fix merge bug
  packages/arb-util/common/timeticks.go
Due: arb_util

Merge fixes
  packages/arb-validator/rollup/confirmThread.go
  packages/arb-validator/rollup/listener.go
Due: arb_validator

Add truffle config
  packages/arb-bridge-eth/truffle-config.js
Due: arb_bridge_eth

Fix timebounds serialization
  packages/arb-validator/valprotocol/params.go
Due: arb_validator

Add ability to shutdown rollup chain
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-provider-ethers/src/lib/abi/ArbERC20.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfo.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSys.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbSysFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInbox.d.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalPendingInboxFactory.ts
  packages/arb-provider-ethers/src/lib/abi/index.d.ts
  packages/arb-provider-go/test/connection_test.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
Due: arb_bridge_eth, arb_provider_ethers, arb_provider_go

Add rinkeby support to interop
  demos/interop/migrations/2_deploy_eth.js
  demos/interop/truffle-config.js
Due: none

Fix evil rollup code for compatibility with checkpointing
  packages/arb-validator/rolluptest/evilMachine.go
  packages/arb-validator/rolluptest/evilRollupCheckpointer.go
Due: arb_validator

Update evilRollupServer.go
  packages/arb-validator/cmd/evilRollupServer/evilRollupServer.go
Due: arb_validator

Add error messages for makeAssertion
  packages/arb-validator/ethbridge/arbRollup.go
  packages/arb-validator/ethbridge/rollup/calls.go
Due: arb_validator

Fix inbox event filtering
  packages/arb-validator/ethbridge/arbRollupWatcher.go
Due: arb_validator

compiled successfully
  demos/augur/contracts/0x/extensions/contracts/src/OrderMatcher/MixinMatchOrders.sol
  demos/augur/contracts/0x/extensions/contracts/src/OrderMatcher/OrderMatcher.sol
  demos/augur/truffle-config.js
Due: none

Add ChallengeSet to track ongoing challenges
  packages/arb-util/common/blockId.go
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/assertionListener.go
  packages/arb-validator/rollup/challengeSet.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup.pb.go
  packages/arb-validator/rollup/rollup.proto
  packages/arb-validator/rollup/stakedNodeGraph.go
  packages/arb-validator/rollup/stakerSet.go
  packages/arb-validator/rollup/stakingKey.go
Due: arb_util, arb_validator

Resume existing challenges on startup
  packages/arb-validator/rollup/announcerListener.go
  packages/arb-validator/rollup/assertionListener.go
  packages/arb-validator/rollup/challengeSet.go
  packages/arb-validator/rollup/listener.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/rollup_test.go
Due: arb_validator

Make timeTicks printing more intuitive
  packages/arb-util/common/timeticks.go
Due: arb_util

Remove protobuf fields from constructor
  packages/arb-validator/rollup/challengeSet.go
Due: arb_validator

Fix challenge set initialization
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb_validator

Add check that validator has correct VM
  packages/arb-validator/arbbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb_validator

Add ethbridge version check
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollup.d.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-validator/arbbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/arbRollupWatcher.go
  packages/arb-validator/ethbridge/rollup/arbrollup.go
  packages/arb-validator/mockbridge/arbRollupWatcher.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

Make validator a "party" rather than a "program"
  docs/Glossary.md
Due: none

Change "pending inbox" to "inbox"
  docs/Glossary.md
Due: none

Rename pending inbox to inbox in ethbridge
  packages/arb-bridge-eth/contracts/GlobalInbox.sol
  packages/arb-bridge-eth/contracts/IGlobalInbox.sol
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeFactory.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeType.sol
  packages/arb-bridge-eth/contracts/challenge/ChallengeUtils.sol
  packages/arb-bridge-eth/contracts/challenge/InboxTopChallenge.sol
  packages/arb-bridge-eth/contracts/challenge/MessagesChallenge.sol
  packages/arb-bridge-eth/contracts/vm/ArbRollup.sol
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
  packages/arb-bridge-eth/contracts/vm/RollupUtils.sol
  packages/arb-bridge-eth/migrations/2_deploy_eth_bridge.js
  packages/arb-bridge-eth/test/arbRollup.js
  packages/arb-bridge-eth/test/challenge.js
Due: arb_bridge_eth

Fix getInbox function
  packages/arb-bridge-eth/contracts/GlobalInbox.sol
Due: arb_bridge_eth

Rename pending inbox to inbox in ethbridge
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/wallet.ts
Due: arb_provider_ethers

Fix ethers
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/src/lib/provider.ts
Due: arb_provider_ethers

Add "chain factory" to glossary
  docs/Glossary.md
Due: none

Make EthBridge reject far-future assertions
  packages/arb-bridge-eth/contracts/vm/NodeGraph.sol
Due: arb_bridge_eth

Denominate StakeRequirement in Wei
  packages/arb-validator/rollup/chainParamsSetting.go
  packages/arb-validator/valprotocol/params.go
Due: arb_validator

Change default stake requirement to 0.01 Eth
  packages/arb-validator/rollup/chainParamsSetting.go
Due: arb_validator

Update settings to increase speed limit for testnet
  packages/arb-validator/rollup/chainParamsSetting.go
Due: arb_validator

Change "node" to "chain state" and bugfix
  docs/Glossary.md
Due: none

Create EthBridge_version_support
  docs/EthBridge_version_support
Due: none
