Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_compiler_evm, arb_provider_ethers, arb_provider_go, arb_provider_truffle, arb_provider_web3, arb_util, arb_validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      build:
        flags:
          [
            arb_avm_cpp,
            arb_avm_go,
            arb_bridge_eth,
            arb_compiler_evm,
            arb_provider_ethers,
            arb_provider_go,
            arb_provider_truffle,
            arb_provider_web3,
            arb_util,
            arb-validator,
          ]

flags:
  arb_avm_cpp:
    paths:
      - packages/arb-avm-cpp
  arb_avm-go:
    paths:
      - packages/arb-avm-go
  arb_bridge_eth:
    paths:
      - packages/arb-bridge-eth
  arb_compiler_evm:
    paths:
      - packages/arb-compiler-evm
  arb_provider_ethers:
    paths:
      - packages/arb-provider-ethers
  arb_provider_go:
    paths:
      - packages/arb-provider-go
  arb_provider_truffle:
    paths:
      - packages/arb-provider-truffle
  arb_provider_web3:
    paths:
      - packages/arb-provider-web3
  arb_util:
    paths:
      - packages/arb-util
  arb_validator:
    paths:
      - packages/arb-validator

ignore:
  - "packages/arb-validator/ethbridge/arbfactory/*"
  - "packages/arb-validator/ethbridge/challengefactory/*"
  - "packages/arb-validator/ethbridge/challengetester/*"
  - "packages/arb-validator/ethbridge/executionchallenge/*"
  - "packages/arb-validator/ethbridge/globalpendinginbox/*"
  - "packages/arb-validator/ethbridge/messageschallenge/*"
  - "packages/arb-validator/ethbridge/pendingtopchallenge/*"
  - "packages/arb-validator/ethbridge/messagetester/*"
  - "packages/arb-validator/ethbridge/rollup/*"
  - "packages/arb-provider-go/test/fibabi.go"
  - "packages/arb-provider-ethers/src/lib/ArbRollup.d.ts"
  - "packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts"
  - "**/*.pb.go"

Allow initializing with a single validator
  scripts/initialize_validators.py
Due: none

Update go versions
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-go/go.mod
  packages/arb-avm-go/go.sum
  packages/arb-provider-go/go.mod
  packages/arb-provider-go/go.sum
  packages/arb-util/go.sum
  packages/arb-validator/go.mod
  packages/arb-validator/go.sum
Due: arb_avm_cpp, arb_avm-go, arb_provider_go, arb_util, arb_validator

Allow local rollup with single validator
  scripts/setup_local_rollup.py
Due: none

Bump versions
  docs/Installation.md
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-go/go.mod
  packages/arb-provider-go/go.mod
  packages/arb-validator/go.mod
Due: arb_avm_cpp, arb_avm-go, arb_provider_go, arb_validator

Version bump
  docs/Installation.md
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-go/go.mod
  packages/arb-provider-go/go.mod
  packages/arb-validator-core/go.mod
  packages/arb-validator/go.mod
  tests/fibgo/go.mod
Due: arb_avm_cpp, arb_avm-go, arb_provider_go, arb_validator

Remove bad requirement
  packages/arb-validator-core/go.mod
Due: arb_validator

Add missing test files
  tests/fibgo/bridge_eth_addresses.json
  tests/fibgo/contract.ao
Due: none

Merge fixes
  packages/arb-provider-go/connection.go
Due: arb_provider_go

Fix arb-deploy
  packages/arb-validator.Dockerfile
Due: arb_validator

Add missing circleci tests
  .circleci/config.yml
Due: none

Remove solidity-bytes-utils dep from ethers
  packages/arb-provider-ethers/package.json
  packages/arb-validator/go.sum
  yarn.lock
Due: arb_provider_ethers, arb_validator

Pin virtualenv requirement and fix API
  requirements.txt
  scripts/install-deps
Due: none

Change virtualenv argument based on installed version
  requirements.txt
  scripts/install-deps
Due: none

Temporarily disable db cleanup
  packages/arb-provider-go/go.mod
  packages/arb-provider-go/go.sum
  packages/arb-validator/checkpointing/indexedCheckpointer.go
Due: arb_provider_go, arb_validator

Add nil check
  packages/arb-validator/checkpointing/indexedCheckpointer.go
Due: arb_validator

Fix version comparison
  scripts/install-deps
Due: none

Only initialize local validators with 5 ETH instead of 100
  scripts/setup_states.py
Due: none

Cause local geth funded accounts to start with 1000 ETH
  packages/arb-bridge-eth/geth/ethbridge.json
Due: arb_bridge_eth

Have initalize_validators and setup_local_rollup scripts setup blocktime used by arb_deploy
  scripts/arb_deploy.py
  scripts/initialize_validators.py
  scripts/setup_local_rollup.py
Due: none

Add github link to Dev Quickstart doc preamble
  docs/Developer_Quickstart.md
Due: none

edits
  packages/arb-avm-cpp/cavm/ccheckpointstorage.cpp
  packages/arb-avm-cpp/cavm/ccheckpointstorage.h
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/cavm/cmachine.h
  packages/arb-avm-cpp/cmachine/checkpoint.go
  packages/arb-avm-cpp/cmachine/machine.go
  packages/arb-provider-ethers/src/lib/abi/ArbERC20Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbERC721Factory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbFactoryFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbInfoFactory.ts
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-provider-go/arbinfo.go
  packages/arb-util/machine/checkpoint.go
  packages/arb-util/machine/machine.go
  packages/arb-validator/go.sum
Due: arb_avm_cpp, arb_provider_ethers, arb_provider_go, arb_util, arb_validator

Integrate new machine checkpoint interface with golang checkpointer
  packages/arb-validator/checkpointing/checkpointing.go
  packages/arb-validator/checkpointing/indexedCheckpointer.go
Due: arb_validator

Hack to integrate testmachine with checkpointing change
  packages/arb-validator/testmachine/machine.go
Due: arb_validator

Fix test integration bug
  packages/arb-validator/proofmachine/proofmachine.go
Due: arb_validator

Fix checkpoint test
  packages/arb-avm-cpp/cmachine/checkpoint_test.go
Due: arb_avm_cpp

Remove unneeded RestoreCheckpoint impls
  packages/arb-avm-go/vm/machinestate.go
  packages/arb-provider-go/go.mod
  packages/arb-provider-go/go.sum
  packages/arb-validator/testmachine/machine.go
Due: arb_avm-go, arb_provider_go, arb_validator

gobridge WIP
  packages/arb-bridge-eth/contracts/Messages.sol
  packages/arb-validator/arbbridge/arbClient.go
  packages/arb-validator/challenges/challenges_test.go
  packages/arb-validator/challenges/messagesChallenge_test.go
  packages/arb-validator/challenges/testHelper.go
  packages/arb-validator/gobridge/arbClient.go
  packages/arb-validator/gobridge/arbRollup.go
  packages/arb-validator/gobridge/arbRollupWatcher.go
  packages/arb-validator/gobridge/bisectionChallenge.go
  packages/arb-validator/gobridge/challenge.go
  packages/arb-validator/gobridge/challengeFactory.go
  packages/arb-validator/gobridge/challengeTester.go
  packages/arb-validator/gobridge/executionChallenge.go
  packages/arb-validator/gobridge/executionChallengeWatcher.go
  packages/arb-validator/gobridge/goEth.go
  packages/arb-validator/gobridge/messagesChallenge.go
  packages/arb-validator/gobridge/messagesChallengeWatcher.go
  packages/arb-validator/gobridge/pendingTopChallenge.go
  packages/arb-validator/gobridge/pendingTopChallengeWatcher.go
  packages/arb-validator/proofmachine/proofmachine_test.go
  packages/arb-validator/structures/challenge.go
  packages/arb-validator/test/helper.go
Due: arb_bridge_eth, arb_validator

temporary logIndex fix
  packages/arb-provider-web3/ethers-web3-bridge.js
Due: arb_provider_web3

v0.4.0
  packages/arb-provider-ethers/package.json
Due: arb_provider_ethers

Bump versions
  demos/election/package.json
  demos/pet-shop/package.json
  packages/arb-avm-cpp/go.mod
  packages/arb-avm-go/go.mod
  packages/arb-provider-go/go.mod
  packages/arb-provider-web3/package.json
  packages/arb-validator-core/go.mod
  packages/arb-validator/go.mod
Due: arb_avm_cpp, arb_avm-go, arb_provider_go, arb_provider_web3, arb_validator

Version bump
  packages/arb-provider-ethers/package.json
  packages/arb-provider-web3/package.json
Due: arb_provider_ethers, arb_provider_web3

Fix pre-commit path resolution
  scripts/install-deps
Due: none

Fix virtualenv path resolution
  scripts/install-deps
Due: none

remove node-fetch dependency in arb-provider-ethers
  packages/arb-provider-ethers/package.json
  packages/arb-provider-ethers/src/lib/client.ts
  yarn.lock
Due: arb_provider_ethers

v0.4.4
  packages/arb-provider-ethers/package.json
Due: arb_provider_ethers

v0.4.5
  packages/arb-provider-ethers/package.json
Due: arb_provider_ethers

Fix virtualenv deps
  scripts/install-deps
Due: none
