Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_compiler_evm, arb_provider_ethers, arb_provider_go, arb_provider_truffle, arb_provider_web3, arb_util, arb_validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      build:
        flags:
          [
            arb_avm_cpp,
            arb_avm_go,
            arb_bridge_eth,
            arb_compiler_evm,
            arb_provider_ethers,
            arb_provider_go,
            arb_provider_truffle,
            arb_provider_web3,
            arb_util,
            arb-validator,
          ]

flags:
  arb_avm_cpp:
    paths:
      - packages/arb-avm-cpp
  arb_avm-go:
    paths:
      - packages/arb-avm-go
  arb_bridge_eth:
    paths:
      - packages/arb-bridge-eth
  arb_compiler_evm:
    paths:
      - packages/arb-compiler-evm
  arb_provider_ethers:
    paths:
      - packages/arb-provider-ethers
  arb_provider_go:
    paths:
      - packages/arb-provider-go
  arb_provider_truffle:
    paths:
      - packages/arb-provider-truffle
  arb_provider_web3:
    paths:
      - packages/arb-provider-web3
  arb_util:
    paths:
      - packages/arb-util
  arb_validator:
    paths:
      - packages/arb-validator

ignore:
  - "packages/arb-validator/ethbridge/arbfactory/*"
  - "packages/arb-validator/ethbridge/challengefactory/*"
  - "packages/arb-validator/ethbridge/challengetester/*"
  - "packages/arb-validator/ethbridge/executionchallenge/*"
  - "packages/arb-validator/ethbridge/globalpendinginbox/*"
  - "packages/arb-validator/ethbridge/messageschallenge/*"
  - "packages/arb-validator/ethbridge/pendingtopchallenge/*"
  - "packages/arb-validator/ethbridge/messagetester/*"
  - "packages/arb-validator/ethbridge/rollup/*"
  - "packages/arb-provider-go/test/fibabi.go"
  - "packages/arb-provider-ethers/src/lib/ArbRollup.d.ts"
  - "packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts"
  - "**/*.pb.go"

Fix tests
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/gotest/gotest.go
  packages/arb-compiler-evm/arb-test.py
  packages/arb-validator/proofmachine/opcodetestdup.ao
  packages/arb-validator/proofmachine/opcodetestdup.mexe
  packages/arb-validator/proofmachine/opcodetestecrecover.ao
  packages/arb-validator/proofmachine/opcodetestecrecover.mexe
  packages/arb-validator/proofmachine/opcodetestethhash2.ao
  packages/arb-validator/proofmachine/opcodetestethhash2.mexe
  packages/arb-validator/proofmachine/opcodetesthash.ao
  packages/arb-validator/proofmachine/opcodetesthash.mexe
  packages/arb-validator/proofmachine/opcodetestlogic.ao
  packages/arb-validator/proofmachine/opcodetestlogic.mexe
  packages/arb-validator/proofmachine/opcodetestmath.ao
  packages/arb-validator/proofmachine/opcodetestmath.mexe
  packages/arb-validator/proofmachine/opcodeteststack.ao
  packages/arb-validator/proofmachine/opcodeteststack.mexe
  packages/arb-validator/proofmachine/opcodetesttuple.ao
  packages/arb-validator/proofmachine/opcodetesttuple.mexe
  packages/arb-validator/proofmachine/proofmachine_test.go
Due: arb_avm_cpp, arb_compiler_evm, arb_validator

Update ethbridge_test.go
  packages/arb-validator/rollup/ethbridge_test.go
Due: arb_validator

Update test cases
  packages/arb-compiler-evm/generate_value_tests.py
  packages/arb-util/value/test_cases.json
Due: arb_compiler_evm, arb_util

Format solidity
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb_bridge_eth

Fix fib contract
  tests/fibgo/contract.mexe
  tests/fibgo/go.sum
Due: none

fix all ts warnings in arb-provider-ethers
  .eslintrc.js
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-provider-ethers/src/lib/value.ts
  packages/arb-provider-ethers/tests/arb-value.test.ts
Due: arb_provider_ethers

Respond to PR comments
  packages/arb-avm-cpp/avm_values/include/avm_values/value.hpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-bridge-eth/contracts/arch/Value.sol
Due: arb_avm_cpp, arb_bridge_eth

Add xget and xset
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
Due: arb_avm_cpp

Add setgas and push gas support
  docs/AVM_Specification.md
  packages/arb-avm-cpp/avm/include/avm/machinestate/datastack.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/datastack.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/codepointstub.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/machine.hpp
  packages/arb-avm-cpp/data_storage/src/checkpointstorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/machine.cpp
  packages/arb-bridge-eth/contracts/arch/Machine.sol
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-compiler-evm/arb-test.py
  packages/arb-compiler-evm/arbitrum/basic_vm.py
  packages/arb-compiler-evm/arbitrum/instructions.py
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/ethbridgetest/messagetester/messagetester.go
  packages/arb-validator-core/ethbridgetest/onestepprooftester/onestepprooftester.go
  packages/arb-validator-core/ethbridgetest/protocoltester/protocoltester.go
  packages/arb-validator-core/ethbridgetest/rolluptester/rolluptester.go
  packages/arb-validator-core/ethbridgetest/valuetester/valuetester.go
  packages/arb-validator/proofmachine/machine_test.go
  packages/arb-validator/proofmachine/machinetester/machinetester.go
  packages/arb-validator/proofmachine/opcodetestarbgas.mexe
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/proofmachine/proofmachine_test.go
Due: arb_avm_cpp, arb_bridge_eth, arb_compiler_evm, arb_provider_ethers, arb_validator

Add xset and xget to the spec
  docs/AVM_Specification.md
Due: none

Add xget and xset test
  packages/arb-compiler-evm/arb-test.py
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridgetest/onestepprooftester/onestepprooftester.go
  packages/arb-validator/proofmachine/opcodetestarbgas.mexe
  packages/arb-validator/proofmachine/opcodetestdup.mexe
  packages/arb-validator/proofmachine/opcodetestecrecover.mexe
  packages/arb-validator/proofmachine/opcodetestethhash2.mexe
  packages/arb-validator/proofmachine/opcodetestlogic.mexe
  packages/arb-validator/proofmachine/opcodetestmath.mexe
  packages/arb-validator/proofmachine/opcodetesttuple.mexe
  packages/arb-validator/proofmachine/proofmachine_test.go
Due: arb_compiler_evm, arb_validator

Add xset and xget one step proof support
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
Due: arb_bridge_eth

Add xset and xget to compiler
  packages/arb-compiler-evm/arbitrum/basic_vm.py
  packages/arb-compiler-evm/arbitrum/instructions.py
Due: arb_compiler_evm

Fix compiler
  packages/arb-compiler-evm/arbitrum/instructions.py
Due: arb_compiler_evm

Fix tuple test
  packages/arb-validator/proofmachine/opcodetesttuple.mexe
Due: arb_validator

Fix one step proof
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
  packages/arb-provider-ethers/src/lib/abi/ArbRollupFactory.ts
  packages/arb-provider-ethers/src/lib/abi/GlobalInboxFactory.ts
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridge/globalinbox/globalinbox.go
  packages/arb-validator-core/ethbridge/inboxtopchallenge/inboxtopchallenge.go
  packages/arb-validator-core/ethbridge/messageschallenge/messageschallenge.go
  packages/arb-validator-core/ethbridge/rollup/arbrollup.go
  packages/arb-validator-core/ethbridgetest/messagetester/messagetester.go
  packages/arb-validator-core/ethbridgetest/onestepprooftester/onestepprooftester.go
  packages/arb-validator-core/ethbridgetest/protocoltester/protocoltester.go
  packages/arb-validator-core/ethbridgetest/rolluptester/rolluptester.go
  packages/arb-validator-core/ethbridgetest/valuetester/valuetester.go
  packages/arb-validator/proofmachine/machinetester/machinetester.go
  packages/arb-validator/proofmachine/proofmachine.go
  packages/arb-validator/proofmachine/proofmachine_test.go
Due: arb_bridge_eth, arb_provider_ethers, arb_validator

reenable ts-any warning and used eslint-disable
  .eslintrc.js
  packages/arb-provider-ethers/src/lib/aggregator.ts
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/provider.ts
Due: arb_provider_ethers

revert to old perform signature
  packages/arb-provider-ethers/src/lib/provider.ts
Due: arb_provider_ethers

reverting
  packages/arb-validator/nodegraph/challengeSet.go
  packages/arb-validator/nodegraph/stakedNodeGraph.go
  packages/arb-validator/nodegraph/stakedNodeGraphUtils.go
  packages/arb-validator/rollup/chainobserver/chainObserver.go
  packages/arb-validator/rollup/chainobserver/chainObserver_test.go
  packages/arb-validator/rollup/ethbridge_test.go
Due: arb_validator

testing for nodegraph
  packages/arb-util/value/tuple.go
  packages/arb-validator/nodegraph/challenge.go
  packages/arb-validator/nodegraph/challengeSet.go
  packages/arb-validator/nodegraph/nodeGraph.go
  packages/arb-validator/nodegraph/nodegraph_test.go
  packages/arb-validator/nodegraph/stakednodegraph_test.go
  packages/arb-validator/nodegraph/staker.go
  packages/arb-validator/nodegraph/stakerSet.go
  packages/arb-validator/rollup/chainlistener/validatorChainListener.go
  packages/arb-validator/rollup/rollupEthBridge_test.go
Due: arb_util, arb_validator

edits
  packages/arb-util/value/tuple.go
  packages/arb-validator/rollup/chainobserver/chainObserver.go
Due: arb_util, arb_validator

Clean up runOne
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
Due: arb_avm_cpp

Clean up one step proof
  packages/arb-bridge-eth/contracts/arch/OneStepProof.sol
Due: arb_bridge_eth

Fix runOne
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-validator-core/ethbridge/executionchallenge/executionchallenge.go
  packages/arb-validator-core/ethbridgetest/onestepprooftester/onestepprooftester.go
Due: arb_avm_cpp, arb_validator

Fix codecov
  codecov.yml
Due: none

Add testing
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: arb_avm_cpp

Fix tests
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: arb_avm_cpp

Start implementing cp operations
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpointstorage.hpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: arb_avm_cpp

Refactor and shrink interface
  packages/arb-avm-cpp/avm_values/CMakeLists.txt
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/codepoint.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/codepointstub.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
  packages/arb-avm-cpp/avm_values/src/code.cpp
  packages/arb-avm-cpp/avm_values/src/codepoint.cpp
  packages/arb-avm-cpp/avm_values/src/codepointstub.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
Due: arb_avm_cpp

Hold segments in a map instead of a vector
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/src/code.cpp
Due: arb_avm_cpp

Add code segments
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/src/code.cpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: arb_avm_cpp

Initial impl of code serialization
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/value.hpp
  packages/arb-avm-cpp/avm_values/src/codepointstub.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/data_storage/CMakeLists.txt
  packages/arb-avm-cpp/data_storage/include/data_storage/value/code.hpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/checkpointstorage.cpp
  packages/arb-avm-cpp/data_storage/src/value/code.cpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/referencecount.cpp
  packages/arb-avm-cpp/data_storage/src/value/referencecount.hpp
  packages/arb-avm-cpp/data_storage/src/value/utils.hpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: arb_avm_cpp

Fix test compile failures
  packages/arb-avm-cpp/data_storage/include/data_storage/value/machine.hpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: arb_avm_cpp

Add segment id to CodePointRef
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/codepointstub.hpp
  packages/arb-avm-cpp/avm_values/src/codepointstub.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
Due: arb_avm_cpp

Break up StaticVmValues
  packages/arb-avm-cpp/app/main.cpp
  packages/arb-avm-cpp/avm/include/avm/machine.hpp
  packages/arb-avm-cpp/avm/include/avm/machinestate/machinestate.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/vmValueParser.hpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/cavm/cmachine.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/checkpointstorage.hpp
  packages/arb-avm-cpp/data_storage/src/checkpointstorage.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/machine.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: arb_avm_cpp

Track segment usage
  packages/arb-avm-cpp/data_storage/include/data_storage/value/value.hpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: arb_avm_cpp

Add setgas and push gas support
  packages/arb-validator/proofmachine/proofmachine.go
Due: arb_validator

All code ops implemented
  packages/arb-avm-cpp/avm/include/avm/machinestate/machineoperation.hpp
  packages/arb-avm-cpp/avm/src/machinestate/machineoperation.cpp
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/opcodes.hpp
Due: arb_avm_cpp

Remove is_err field
  packages/arb-avm-cpp/avm/src/machinestate/machinestate.cpp
  packages/arb-avm-cpp/avm_values/include/avm_values/code.hpp
  packages/arb-avm-cpp/avm_values/include/avm_values/codepointstub.hpp
  packages/arb-avm-cpp/avm_values/src/codepointstub.cpp
  packages/arb-avm-cpp/avm_values/src/value.cpp
  packages/arb-avm-cpp/avm_values/src/vmValueParser.cpp
  packages/arb-avm-cpp/data_storage/include/data_storage/value/machine.hpp
  packages/arb-avm-cpp/data_storage/src/value/machine.cpp
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
  packages/arb-avm-cpp/tests/checkpoint.cpp
  packages/arb-avm-cpp/tests/datastack.cpp
  packages/arb-avm-cpp/tests/opcodes.cpp
Due: arb_avm_cpp

Clean up serialization
  packages/arb-avm-cpp/data_storage/src/value/value.cpp
Due: arb_avm_cpp
