Repository OffchainLabs/arbitrum-classic: changes, and which Codecov flags are due for each by the changed paths.
All: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_compiler_evm, arb_provider_ethers, arb_provider_go, arb_provider_truffle, arb_provider_web3, arb_util, arb_validator

codecov.yml:

coverage:
  status:
    project:
      default: off
      build:
        flags:
          [
            arb_avm_cpp,
            arb_avm_go,
            arb_bridge_eth,
            arb_compiler_evm,
            arb_provider_ethers,
            arb_provider_go,
            arb_provider_truffle,
            arb_provider_web3,
            arb_util,
            arb-validator,
          ]

flags:
  arb_avm_cpp:
    paths:
      - packages/arb-avm-cpp
  arb_avm-go:
    paths:
      - packages/arb-avm-go
  arb_bridge_eth:
    paths:
      - packages/arb-bridge-eth
  arb_compiler_evm:
    paths:
      - packages/arb-compiler-evm
  arb_provider_ethers:
    paths:
      - packages/arb-provider-ethers
  arb_provider_go:
    paths:
      - packages/arb-provider-go
  arb_provider_truffle:
    paths:
      - packages/arb-provider-truffle
  arb_provider_web3:
    paths:
      - packages/arb-provider-web3
  arb_util:
    paths:
      - packages/arb-util
  arb_validator:
    paths:
      - packages/arb-validator

ignore:
  - "packages/arb-validator/ethbridge/arbfactory/*"
  - "packages/arb-validator/ethbridge/challengefactory/*"
  - "packages/arb-validator/ethbridge/challengetester/*"
  - "packages/arb-validator/ethbridge/executionchallenge/*"
  - "packages/arb-validator/ethbridge/globalpendinginbox/*"
  - "packages/arb-validator/ethbridge/messageschallenge/*"
  - "packages/arb-validator/ethbridge/pendingtopchallenge/*"
  - "packages/arb-validator/ethbridge/messagetester/*"
  - "packages/arb-validator/ethbridge/rollup/*"
  - "packages/arb-provider-go/test/fibabi.go"
  - "packages/arb-provider-ethers/src/lib/ArbRollup.d.ts"
  - "packages/arb-provider-ethers/src/lib/ArbRollupFactory.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInbox.d.ts"
  - "packages/arb-provider-ethers/src/lib/GlobalPendingInboxFactory.ts"
  - "**/*.pb.go"

Slow kovan deploy down more
  packages/arb-bridge-eth/truffle-config.js
Due: arb_bridge_eth

Version bump
  packages/arb-avm-cpp/CMakeLists.txt
  packages/arb-avm-go/go.mod
  packages/arb-bridge-eth/package.json
  packages/arb-compiler-evm/setup.py
  packages/arb-provider-ethers/package.json
  packages/arb-provider-go/go.mod
  packages/arb-provider-truffle/package.json
  packages/arb-provider-web3/package.json
  packages/arb-tx-aggregator/go.mod
  packages/arb-validator-core/go.mod
  packages/arb-validator/go.mod
Due: arb_avm_cpp, arb_avm-go, arb_bridge_eth, arb_compiler_evm, arb_provider_ethers, arb_provider_go, arb_provider_truffle, arb_provider_web3, arb_validator

Slow kovan down even more
  packages/arb-bridge-eth/truffle-config.js
Due: arb_bridge_eth

Have aggregator print tx hashes
  packages/arb-tx-aggregator/txaggregator/server.go
  tests/fibgo/go.mod
Due: none

Fix getBatchTransactions
  packages/arb-validator-core/message/transactionBatch.go
Due: arb_validator

Add support for looking up node location
  packages/arb-provider-ethers/src/lib/abi/validatorserver.server.d.ts
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-validator-core/validatorserver/server.pb.go
  packages/arb-validator-core/validatorserver/server.proto
  packages/arb-validator/rollupvalidator/rpcserver.go
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/rollupvalidator/txtracker.go
  packages/arb-validator/rollupvalidator/txtrackerdb.go
Due: arb_provider_ethers, arb_validator

Update txtrackerdb.go
  packages/arb-validator/rollupvalidator/txtrackerdb.go
Due: arb_validator

Import deterministic assertion mode
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-validator/rollupvalidator/nodeProcessing.go
Due: arb_provider_ethers, arb_validator

Have tx-aggregator stable sort by sequence number
  packages/arb-tx-aggregator/txaggregator/server.go
Due: none

Fix pruning of nodes
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/structures/node.go
Due: arb_validator

Tx aggregator sort by sequence num
  packages/arb-provider-ethers/src/lib/provider.ts
  packages/arb-tx-aggregator/txaggregator/server.go
  packages/arb-tx-aggregator/txaggregator/server_test.go
  packages/arb-validator-core/ethbridgetest/message_test.go
  packages/arb-validator-core/message/transactionBatch.go
Due: arb_provider_ethers, arb_validator

Add another test case and fix aggregator ordering
  packages/arb-tx-aggregator/txaggregator/server.go
  packages/arb-tx-aggregator/txaggregator/server_test.go
Due: none

Use reorging client in fibgo test
  tests/fibgo/connection_test.go
  tests/fibgo/go.sum
Due: none

Error on unmarshal if nodes are missing
  packages/arb-validator/rollup/rollup.go
Due: arb_validator

Rewind to earlier checkpoint if latest is invalid
  packages/arb-validator/checkpointing/indexedCheckpointer.go
Due: arb_validator

Improve debug output
  packages/arb-validator/rollup/nodeGraph.go
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/rollup/rollup.go
  packages/arb-validator/rollup/stakedNodeGraph.go
Due: arb_validator

Discard assertions with invalid timestamp
  packages/arb-validator/rollup/opinionThread.go
Due: arb_validator

Improve debugging output
  packages/arb-validator-core/message/transactionBatch.go
  packages/arb-validator/rollup/opinionThread.go
  packages/arb-validator/structures/inbox.go
Due: arb_validator

Fail call when in error state
  packages/arb-validator/rollupvalidator/server.go
Due: arb_validator

Split global inbox watcher from rollup watcher
  packages/arb-validator-core/arbbridge/arbClient.go
  packages/arb-validator-core/arbbridge/arbRollupWatcher.go
  packages/arb-validator-core/ethbridge/arbClient.go
  packages/arb-validator-core/ethbridge/arbRollupWatcher.go
  packages/arb-validator-core/ethbridge/globalInboxWatcher.go
  packages/arb-validator-core/mockbridge/arbClient.go
  packages/arb-validator-core/mockbridge/globalInboxWatcher.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb_validator

Add GetAllReceived
  packages/arb-validator-core/arbbridge/arbRollupWatcher.go
  packages/arb-validator-core/arbbridge/globalInbox.go
  packages/arb-validator-core/ethbridge/globalInboxWatcher.go
  packages/arb-validator-core/mockbridge/globalInboxWatcher.go
Due: arb_validator

Remove extra print
  packages/arb-avm-go/vm/instructions.go
Due: arb_avm-go

arb-provider-ethers hashing tests
  packages/arb-provider-ethers/tests/arb-hashing.test.ts
Due: arb_provider_ethers

include explicit function return type
  packages/arb-provider-ethers/tests/arb-hashing.test.ts
Due: arb_provider_ethers

Fix handling of calls with insufficient funds
  packages/arb-compiler-evm/arbitrum/evm/call_frame.py
  packages/arb-compiler-evm/arbitrum/evm/execution.py
  packages/arb-compiler-evm/arbitrum/tests/test_eth.py
Due: arb_compiler_evm

Clean up message handling
  packages/arb-validator-core/message/call.go
  packages/arb-validator-core/message/contractTransaction.go
  packages/arb-validator-core/message/delivered.go
  packages/arb-validator-core/message/delivered_test.go
  packages/arb-validator-core/message/erc20.go
  packages/arb-validator-core/message/erc721.go
  packages/arb-validator-core/message/eth.go
  packages/arb-validator-core/message/message.go
  packages/arb-validator-core/message/transaction.go
  packages/arb-validator-core/message/transactionBatch.go
  packages/arb-validator/cmd/avm-replay/avm-replay.go
  packages/arb-validator/rollupvalidator/server.go
  packages/arb-validator/structures/inbox.go
Due: arb_validator

Update client.ts
  packages/arb-provider-ethers/src/lib/client.ts
Due: arb_provider_ethers

Manager fallback to fresh start
  packages/arb-validator/rollupmanager/manager.go
Due: arb_validator

Update manager.go
  packages/arb-validator/rollupmanager/manager.go
Due: arb_validator

Fix call lock
  packages/arb-validator/rollupmanager/manager.go
Due: arb_validator

Fix generateLastMessageHash
  packages/arb-bridge-eth/contracts/arch/Protocol.sol
  packages/arb-bridge-eth/contracts/test_only/ValueTester.sol
  packages/arb-validator-core/ethbridgetest/value_test.go
  packages/arb-validator-core/ethbridgetest/valuetester/valuetester.go
  yarn.lock
Due: arb_bridge_eth, arb_validator

set jest node env to appease yarn format
  packages/arb-provider-ethers/tests/arb-hashing.test.ts
Due: arb_provider_ethers

Have getLatestPendingNodeLocation fallback to getLatestNodeLocation
  packages/arb-provider-ethers/src/lib/client.ts
Due: arb_provider_ethers

Correct nodeinfo fix
  packages/arb-provider-ethers/src/lib/client.ts
Due: arb_provider_ethers

Fix TxHash
  packages/arb-validator-core/message/delivered.go
Due: arb_validator

Handle nodeinfo failure more smoothly
  packages/arb-provider-ethers/src/lib/client.ts
  packages/arb-provider-ethers/src/lib/provider.ts
Due: arb_provider_ethers

Log random seed in message test
  packages/arb-validator-core/ethbridgetest/message_test.go
Due: arb_validator

Don't re-process prepared assertion in tx tracker
  packages/arb-validator/rollupvalidator/txtracker.go
Due: arb_validator
